@import '../../styles/variables.scss';

.header {
  width: 100%;
  background: #fff;
  padding: 42px 0 42px 0;
  margin-bottom: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1060;
  transition: .3s;
  &__fixed {
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.07);
    padding: 20px 0 22px 0;
  }
  @media (max-width: 767px) {
    border-bottom: 2px solid #ebebeb;
    padding: 20px 0;
  }
  &.inner_page {
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.07);
    padding: 42px 0;
  }
  &__top {
    display: flex;
    align-items: center;
    @media (max-width: 767px) {
      justify-content: space-between;
    }
  }
  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 991px) {
      width: 130px;
    }
    @media #{$media-sm} {
      width: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &__mnu {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    display: none;
    z-index: 3;
    @media (max-width: 767px) {
      display: flex;
    }
  }
  &__logIn {
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    @media (max-width: 767px) {
      display: flex;
    }
  }
  &__leftNav {
    display: flex;
    align-items: center;
    padding-left: 45px;
    @media (max-width: 991px) {
      padding-left: 30px;
    }
    @media (max-width: 767px) {
      display: none;
    }
  }
  &__rightNav {
    margin-left: auto;
    display: flex;
    align-items: center;
    &_wrap {
      display: flex;
      margin-right: 45px;
      @media #{$media-md} {
        margin-right: 30px;
      }
      @media #{$media-sm} {
        display: none;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &__menu {
    font-weight: 700;
    font-size: 20px;
    color: $black;
    cursor: pointer;
    margin-right: 30px;
    @media (max-width: 1399px) {
      font-size: 16px;
    }
    @media #{$media-md} {
      margin-right: 15px;
      font-size: 14px;
    }
    &:last-child {
      margin-right: 0;
    }
    &:hover{
      color: $primaryDark;
    }
  }
  .btn_submit {
    @media #{$media-md} {
      width: 130px;
      height: 45px;
      font-size: 14px;
    }
    @media (max-width: 767px) {
      display: none;
    }
  }
  .mobile_menu {
    position: fixed;
    height: 120%;
    width: 78%;
    top: 0;
    z-index: 2;
    background: #7b65f3;
    transition: transform 300ms;
  }
  .isOpen {
    transform: none;
  }
  .mobile_div_part1 {
    background-color: #5644ba;
    padding-top: 100px;
  }
  .main_list {
    margin-top: 0px;
    padding: 0px;
    color: black;
    list-style-type: none;
    text-align: left;
  }
  .menu_item a {
    color: #fff;
    font-weight: 700;
    margin-left: 0;
    padding: 21px;
    font-size: 20px;
    &:hover {
      background-color: #fff;
      color: #5644ba;
    }
  }
}
.fixed_menu {
  background-color: white;
  width: 100%;
  position: fixed;
  z-index: 3;
  top: 0;
  padding: 20px 0 22px 0;
}

@media (max-width:767px){
  .header{
    .mobile_menu{
      width: 100%;
      height: 100%;
      background: transparent;
      padding-top: 74px;
    }
    .mobile_div_part2{
      background: $primaryDark;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .menu_inner{
      height: 100%;
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .mobile_div_part1{
      background: #FFFFFF;
      padding-top: 20px;
    }
    .menu_item {
      padding: 5px 0;
      a{
        color: $black;
        padding: 0;
        line-height: normal;
      }
      span{
        font-size: 20px;
        line-height: normal;
        padding: 0;
        color: $white;
        display: block;
      }
    }
    .main_list{
      padding: 10px 30px;
      margin: 0;
    }
  }
  .header__logIn,
  .header__logo{
    z-index: 5;
  }
  .links{
    padding: 30px 30px 10px;
    margin: 0 0 auto;
  }
  .image_block{
    display: flex;
    justify-content: flex-end;
    img{
      max-width: 257px;
    }
  }
  // ///login
  // .header {
  //   .mobile_div_part2{
  //     flex: none;
  //     position: relative;
  //   }
  //   .mobile_div_part1{
  //     flex: 1;
  //     .main_list:last-child{
  //       border-bottom: none;
  //     }
  //   }
  // }
  // .image_block{
  //   position: absolute;
  //   right: 0;
  //   top: 0;
  //   z-index: 0;
  //   max-height: 100%;
  //   img{
  //     max-width: 200px;
  //   }
  // }
  // .links{
  //   position: relative;
  //   z-index: 2;
  //   padding: 15px 30px 15px;
  // }
  // .main_list{
  //   border-bottom: 1px solid rgba($black, 0.07);
  // }
  // ////
}
@media (max-width:399px){
  .header{
    .menu_item {
      padding: 5px 0;
      a{
        font-size: 18px;
        line-height: 22px;
      }
      span{
        font-size: 18px;
        line-height: 22px;
      }
    }
    .main_list{
      padding: 30px 30px 10px 30px;
    }
  }
  .links{
    padding: 20px 30px 10px;
  }
  .image_block img{
    max-width: 240px;
  }
  // ///login
  // .header{
  //   .main_list{
  //     padding: 10px 30px;
  //   }
  // }
  // .image_block{
  //   img{
  //     max-width: 170px;
  //   }
  // }
  // .links{
  //   padding: 15px 30px 15px;
  // }
  // ///
}