@import '../../styles/variables.scss';

.body_scrool {
  overflow: hidden;
  height: 100vh !important;
}

.popover{
  position: fixed;
  z-index: 1111;
}

.header_cont {
  height: 114px;
  background-color: $primaryBG;
  @media #{$media-md} {
    height: 105px;
  }
  @include media-sm {
    height: 72px;
  }
}

.header {
  width: 100%;
  background: #fff;
  padding: 30px 0;
  margin-bottom: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1060;
  transition: 0.3s;
  &__fixed {
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.07);
    padding: 20px 0;
  }
  @media (max-width: 767px) {
    border-bottom: 2px solid #ebebeb;
    padding: 20px 0;
  }
  &.inner_page {
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.07);
    padding: 42px 0;
  }
  &__top {
    display: flex;
    align-items: center;
    @media (max-width: 767px) {
      justify-content: space-between;
    }
  }
  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 991px) {
      width: 130px;
    }
    @media (max-width: 767px) {
      width: auto;
      position: relative;
      top: -3px;
    }
  }
  &__mnu {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    display: none;
    z-index: 3;
    @media (max-width: 767px) {
      display: flex;
    }
  }
  &__logIn {
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    @media (max-width: 767px) {
      display: flex;
    }
  }
  &__leftNav {
    display: flex;
    align-items: center;
    padding-left: 45px;
    @media (max-width: 991px) {
      padding-left: 30px;
    }
    @media (max-width: 767px) {
      display: none;
    }
  }
  &__rightNav {
    margin-left: auto;
    display: flex;
    align-items: center;
    @media (max-width: 767px) {
      display: none;
    }
  }
  &__menu {
    font-weight: 700;
    font-size: 20px;
    color: $black;
    cursor: pointer;
    margin-right: 23px;
    @media (max-width: 1399px) {
      font-size: 16px;
    }
    @media (max-width: 991px) {
      margin-right: 15px;
      font-size: 14px;
    }
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      color: $primaryDark;
    }
  }
  .user_img_no_acaunt {
    display: inline-block;
    margin-right: 10px;
  }
  .user_img {
    object-fit: cover;
    border-radius: 35px;
    margin-right: -20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include media-md {
      margin-right: 0px;
    }
    span {
      margin-right: 10px;
    }
  }
  .img {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../../public/img/green-eclips.svg);
    background-size: cover;
    position: relative;
    z-index: 1;
    @include media-md {
      width: 46px;
      height: 46px;
    }
  }
  .imgOnline {
    .colabWrap__online {
      opacity: 1;
    }
  }
  .avatar {
    position: absolute;
    z-index: -1;
    width: 52px;
    height: 52px;
    @include media-md {
      width: 46px;
      height: 46px;
    }
    overflow: hidden;
    img {
      width: 52px;
      height: 52px;
      @include media-md {
        width: 46px;
        height: 46px;
      }
      border-radius: 50%;
    }
  }
  .online {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #6fd257;
    opacity: 0;
    position: absolute;
    right: 0;
    bottom: 25px;
    &:before {
      content: '';
      display: block;
      width: 6px;
      height: 6px;
      background-color: #fff;
      border-radius: 50%;
    }
  }
  .btn_submit {
    button {
      margin-left: 45px;
      width: 196px;
      height: 54px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #7b65f3;
      border: 1px solid #9a87fe;
      box-sizing: border-box;
      border-radius: 5px;
      font-size: 20px;
      color: #fff;
      font-weight: 700;
      @media (max-width: 991px) {
        margin-left: 10px;
        width: 130px;
        height: 45px;
        font-size: 14px;
      }
    }
    @media (max-width: 767px) {
      display: none;
    }
  }
  .notification{
    cursor: pointer;
    margin-right: 12px;
    &:hover{
      path{
        fill: $primaryDark;
      }
    }
  }
  .mobile_menu {
    position: fixed;
    height: 120%;
    width: 78%;
    top: 0;
    z-index: 2;
    background: #7b65f3;
    transition: transform 300ms;
  }
  .isOpen {
    transform: none;
  }
  .mobile_div_part1 {
    background-color: #5644ba;
    padding-top: 100px;
  }
  .main_list {
    margin-top: 0px;
    padding: 0px;
    color: black;
    list-style-type: none;
    text-align: left;
  }
  .ul_login {
    border-top: 1px solid rgba(33, 33, 33, 0.07);
    padding-top: 10px !important;
    margin-top: 0px;
  }
  .menu_item a {
    color: #fff;
    font-weight: 700;
    margin-left: 0;
    padding: 21px;
    font-size: 20px;
    &:hover {
      background-color: #fff;
      color: #5644ba;
    }
  }
}
.fixed_menu {
  background-color: white;
  width: 100%;
  position: fixed;
  z-index: 3;
  top: 0;
  padding: 20px 0 22px 0;
}

@media (max-width: 767px) {
  .header {
    .mobile_menu {
      width: 100%;
      height: 100%;
      background: transparent;
      padding-top: 71px;
      display: none;
      opacity: 0;
    }
    .isOpen {
      opacity: 1;
      display: block;
      -webkit-animation: animaa 0.4s ease-out;
      -moz-animation: animaa 0.4s ease-out;
      -o-animation: animaa 0.4s ease-out;
      animation: animaa 0.4s ease-out;
  
      @keyframes animaa {
        0% {
          display: none;
          opacity: 0;
        }
  
        100% {
          display: block;
          opacity: 1
        }
      }
    }
    .mobile_div_part2 {
      background: $primaryDark;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .menu_inner {
      height: 100%;
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .mobile_div_part1 {
      background: #ffffff;
      padding-top: 20px;
    }
    .menu_item {
      padding: 5px 0;
      a {
        color: $black;
        padding: 0;
        line-height: normal;
      }
      span {
        font-size: 20px;
        line-height: normal;
        padding: 0;
        color: $white;
        display: block;
      }
    }
    .main_list {
      padding: 10px 30px;
      margin: 0;
    }
  }
  .header__logIn,
  .header__logo {
    z-index: 5;
  }
  .links {
    padding: 30px 30px 10px;
    margin: 0 0 auto;
  }
  .image_block {
    display: flex;
    justify-content: flex-end;
    img {
      position: absolute;
      bottom: 0;
      max-width: 257px;
    }
  }
}
.go_to_pro{
  span{
    background-color: $primaryDark;
    color: $text-white;
    padding: 2px 3px;
    border-radius: 3px;
  }
}
@media (max-width: 399px) {
  .header {
    .menu_item {
      padding: 5px 0;
      a {
        font-size: 18px;
        line-height: 22px;
      }
      span {
        font-size: 18px;
        line-height: 22px;
      }
    }
    .main_list {
      padding: 30px 30px 10px 30px;
    }
  }
  .links {
    padding: 20px 30px 10px;
  }
  .image_block img {
    max-width: 240px;
  }
}
