@import '../../styles/variables.scss';

.body_scroll {
  overflow: hidden;
  height: 100vh !important;
}

.popover {
  position: fixed;
  z-index: 1111;
}

.join {
  height: 54px;
  font-size: 20px;
  border-radius: 5px;
  border: 1px solid $primaryDark;
  background: #fff;
  color: $primaryDark;
  &:hover {
    background: white !important;
    color: $primaryDark !important;
    box-shadow: 0 0 0 !important;
  }
  &:focus {
    background: white !important;
    color: $primaryDark !important;
  }
  @include media-md {
    margin-left: 10px;
    height: 45px;
    font-size: 14px;
  }
}

.header_cont {
  height: 114px;
  background-color: $primaryBG;
  @media #{$media-md} {
    height: 105px;
  }
  @include media-sm {
    height: 72px;
  }
}
.isWarning {
  height: 122px;
  background-color: $primaryBG;
  @include media-md {
    height: 112px;
  }
}

.header {
  width: 100%;
  background: #fff;
  padding: 30px 0;
  margin-bottom: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1060;
  transition: 0.3s;
  &__fixed {
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.07);
    padding: 20px 0;
  }
  @include media-sm {
    width: 100%;
    border-bottom: 2px solid #ebebeb;
    padding: 20px 0;
  }
  &.inner_page {
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.07);
    padding: 42px 0;
  }
  &__top {
    display: flex;
    align-items: center;
    @include media-sm {
      justify-content: space-between;
    }
  }
  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    @include media-md {
      width: 130px;
    }
    @include media-sm {
      width: auto;
      position: relative;
      top: -3px;
    }
  }
  &__mnu {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    display: none;
    z-index: 3;
    @include media-sm {
      display: flex;
    }
  }
  &__logIn {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__leftNav {
    display: flex;
    align-items: center;
    padding-left: 45px;
    @include media-md {
      padding-left: 30px;
    }
    @include media-sm {
      display: none;
    }
  }
  &__rightNav {
    margin-left: auto;
    display: flex;
    align-items: center;
    @include media-sm{
      margin-left: 0
    }
  }
  &__menu {
    font-weight: 700;
    font-size: 20px;
    color: $black;
    cursor: pointer;
    margin-right: 23px;
    @include media-lg {
      font-size: 16px;
    }
    @include media-md {
      margin-right: 15px;
      font-size: 14px;
    }
    @include media-sm {
      display: none;
    }
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      color: $primaryDark;
    }
  }
  &__menu_active {
    color: $primaryDark;
  }
  .user_img_no_acaunt {
    display: inline-block;
    margin-right: 10px;
  }
  .user_img {
    object-fit: cover;
    border-radius: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    @include media-md {
      margin-right: 0px;
    }
    span {
      margin-right: 10px;
    }
  }
  .img {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../../public/img/green-eclips.svg);
    background-size: cover;
    position: relative;
    z-index: 1;
    @include media-md {
      width: 46px;
      height: 46px;
    }
  }
  .imgOnline {
    .colabWrap__online {
      opacity: 1;
    }
  }
  .avatar {
    position: absolute;
    z-index: -1;
    width: 52px;
    height: 52px;
    padding: 3px;
    overflow: hidden;
    @include media-md {
      width: 46px;
      height: 46px;
    }
    div {
      cursor: pointer;
    }
    img {
      border-radius: 50%;
      object-fit: cover;
    }
  }
  .online {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #6fd257;
    opacity: 0;
    position: absolute;
    right: 0;
    bottom: 25px;
    &:before {
      content: '';
      display: block;
      width: 6px;
      height: 6px;
      background-color: #fff;
      border-radius: 50%;
    }
  }
  .containerDesc {
    display: none;
    @include media-sm {
      display: block;
      background-color: #FAFAFA;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 18px;
    }
    h2 {
      @include media-sm {
        margin: 0;
        margin-top: 20px;
        font-style: normal;
        font-weight: 900;
        font-size: 22px;
        line-height: 28px;
        span {
          color: $primaryDark;
        }
      }
    }
    p {
      @include media-sm {
        margin-top: 16px;
        margin-bottom: 20px;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
      }
    }
    a {
      @include media-sm {
        color: $primaryDark;
        margin-top: 13px;
        margin-bottom: 15px;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 30px;
      }
    }
    button {
      width: 100%;
      height: 40px;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 23px;
      color: white;
    }
  }
  .btn_submit {
    display: flex;
    .addButtonInvite {
      svg {
        width: 18px;
        height: 18px;
        path {
          fill: $primaryDark;
        }
      }
    }
    // .inviteMembers {
    //   width: 232px;
    //   margin-left: 45px;
    //   display: flex;
    //   align-items: center;
    //   padding: 0;
    //   @include media-lg {
    //     width: 170px;
    //     margin-left: 40px;
    //   }
    //   @include media-md {
    //     width: 130px;
    //     margin-left: 15px;
    //   }
    //   .fullInviteName {
    //     font-weight: bold;
    //     line-height: 29px;
    //     color: $black;
    //     margin-bottom: 0;
    //     margin-left: 13.85px;
    //     margin-right: 6px;
    //     margin-top: -3px;
    //     @include media-lg {
    //       margin-top: -2px;
    //     }
    //   }
    //   .inviteMembersButton {
    //     display: flex;
    //     align-items: center;
    //   }
    // }
    .fullStartProject,
    .startProject {
      margin-left: 18.85px;
      width: 196px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: $primaryDark;
      box-sizing: border-box;
      color: #fff;
      font-weight: 700;
      &::after {
        content: ' ';
        width: 10px;
        height: 10px;
        border-radius: 50%;
        position: absolute;
        bottom: 90%;
        left: 97%;
        background-color: #917eff;
        border: 1px solid #4332a4;
        @include media-lg {
          left: 95%;
        }
      }
    }
    .fullStartProject {
      @include media-lg {
        display: none;
      }
    }
    .startProject {
      width: 110px;
      display: none;
      @include media-lg {
        display: block;
      }
      @include media-md {
        width: 80px;
      }
    }
    button {
      height: 54px;
      font-size: 20px;
      border-radius: 5px;
      @include media-md {
        margin-left: 10px;
        width: 130px;
        height: 45px;
        font-size: 14px;
      }
    }
    @include media-sm {
      display: none;
    }
  }
  .notification {
    display: flex;
    cursor: pointer;
    margin-right: 19px;
    &:hover {
      path {
        fill: $primaryDark;
      }
    }
  }
  .mobile_menu {
    position: fixed;
    height: 120%;
    width: 78%;
    top: 0;
    z-index: 2;
    background: $primaryDark;
    transition: transform 300ms;
    @include media-sm {
      width: 100%;
      height: 100%;
      background: transparent;
      padding-top: 71px;
      display: none;
      opacity: 0;
    }
  }
  .isOpen {
    transform: none;
    @include media-sm {
      opacity: 1;
      display: block;
      -webkit-animation: animaa 0.4s ease-out;
      -moz-animation: animaa 0.4s ease-out;
      -o-animation: animaa 0.4s ease-out;
      animation: animaa 0.4s ease-out;

      @keyframes animaa {
        0% {
          display: none;
          opacity: 0;
        }

        100% {
          display: block;
          opacity: 1;
        }
      }
    }
  }
  .mobile_div_part1 {
    background-color: #5644ba;
    padding-top: 100px;
    padding-left: 10px;
    @include media-sm {
      background: #ffffff;
      padding-top: 20px;
      padding-left: 0;
    }
  }
  .mobile_div_part1_def {
    @include media-sm {
      padding-top: 0;
    }
  }
  .main_list {
    margin-top: 0px;
    padding: 0px;
    color: black;
    list-style-type: none;
    text-align: left;
    & > h3 {
      font-size: 22px;
      font-weight: bold;
      color: white;
    }
    @include media-sm {
      margin: 0;
      padding: 30px 30px 10px 30px;
      & > h3 {
        color: $black;
      }
    }
    h1 {
      font-size: 22px;
      color: white;
      font-style: normal;
      font-weight: 900;
      line-height: 17px;
      margin-bottom: 20px;
      @include media-sm {
        color: $black;
      }
    }
  }
  .ul_login {
    padding-top: 10px !important;
    margin-top: 0px;
    h2 {
      font-size: 22px;
      color: white;
      font-style: normal;
      font-weight: 900;
      line-height: 17px;
      margin-bottom: 20px;
      @include media-sm {
        color: $black;
      }
    }
  }

  .menu_item {
    @include media-sm {
      padding: 5px 0;
      span {
        font-size: 20px;
        line-height: normal;
        padding: 0;
        color: $white;
        display: block;
        @media (max-width: 399px) {
          font-size: 18px;
          line-height: 22px;
        }
      }
    }
    a,
    div {
      color: #fff;
      font-weight: 700;
      margin-left: 0;
      padding: 8px;
      font-size: 16px;
      display: flex;
      @include media-sm {
        color: $black;
        padding: 0;
        line-height: normal;
        font-style: normal;
        font-weight: 500;
        line-height: 14px;
      }
      @media (max-width: 399px) {
        font-size: 18px;
        line-height: 22px;
      }
      &:hover {
        background-color: #fff;
        color: #5644ba;
      }
      .iconText {
        font-size: 14px;
        margin-right: 5px;
        display: flex;
        align-items: center;
      }
    }
  }
}
.fixed_menu {
  background-color: white;
  width: 100%;
  position: fixed;
  z-index: 3;
  top: 0;
  padding: 20px 0 22px 0;
}
.mobile_div_part2 {
  @include media-sm {
    background: $text-white;
    margin-top: -1px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
.menu_inner {
  @include media-sm {
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
.header__logIn,
.header__logo {
  @include media-sm {
    z-index: 5;
  }
}
.links {
  @include media-sm {
    padding: 30px 30px 10px;
    margin: 0 0 auto;
  }
  @media (max-width: 399px) {
    padding: 20px 30px 10px;
  }
}
.image_block {
  @include media-sm {
    display: flex;
    justify-content: flex-end;
    img {
      position: absolute;
      bottom: 0;
      max-width: 257px;
      @media (max-width: 399px) {
        max-width: 240px;
      }
    }
  }
}
.go_to_pro {
  span {
    background-color: $primaryDark;
    color: $text-white;
    padding: 2px 3px;
    border-radius: 3px;
  }
}

.menu_icon {
  width: 30px;
  height: 22.5px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  span {
    display: block;
    position: absolute;
    height: 4.5px;
    width: 100%;
    background: $black;
    border-radius: 4.5px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;

    &:nth-child(1) {
      top: 0px;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center;
    }

    &:nth-child(2) {
      top: 9px;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center;
    }

    &:nth-child(3) {
      top: 18px;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center;
    }
  }
}

.menu_icon_open {
  span {
    &:nth-child(1) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      top: -1.5px;
      left: 4px;
    }
    &:nth-child(2) {
      width: 0%;
      opacity: 0;
    }
    &:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
      top: 19.5px;
      left: 4px;
    }
  }
}
