@import '../../styles/variables.scss';
$borderColor: rgb(233, 232, 232);
$trans: transparent;
$block: #fffafa;
$line: #f0f0f0;
$gridSize: 7px;
$subdivisions: 4;
$lineAlpha: 0.3;
$subLineAlpha: 0.5;

@function rgb($r, $g: null, $b: null) {
  @if ($g == null) {
    @return unquote('rgb(#{$r})');
  }

  @if ($g and $b) {
    @return unquote('rgb(#{$r}, #{$g}, #{$b})');
  }

  @error "wrong number of arguments";
}

@function rgba($r, $g, $b: null, $a: null) {
  @if ($b == null) {
    @return unquote('rgba(#{$r}, #{$g})');
  }

  @if ($b and $a) {
    @return unquote('rgba(#{$r}, #{$g}, #{$b}, #{$a})');
  }

  @error "wrong number of arguments";
}

.containerPreview {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $block;
  background-image: linear-gradient($line, 1px, $trans 1px),
    linear-gradient(90deg, $line 1px, $trans 1px), linear-gradient(90deg, $line 1px, $trans 1px),
    linear-gradient($trans 3px, $block 3px, $block $gridSize - 2, $trans $gridSize - 2),
    linear-gradient(90deg, $line 3px, $trans 3px, $trans $gridSize - 2, $line 3px $gridSize - 2);
  background-size: $gridSize / $subdivisions $gridSize / $subdivisions, $gridSize $gridSize,
    $gridSize / $subdivisions $gridSize / $subdivisions, $gridSize $gridSize, $gridSize $gridSize,
    $gridSize $gridSize;
  .shareButPreview {
    margin-bottom: 20px;
    justify-content: start;
    @include media-sm {
      flex-direction: initial;
    }
  }
  .imagesContainer {
    max-width: 860px;
    width: 100%;
    margin: 60px auto 0px;
  }
  .shareButPreview {
    justify-content: start;
    padding-bottom: 10px;
    box-sizing: border-box;
    @include media-sm {
      margin-left: 10px;
      flex-direction: initial !important;
    }
  }
  .shareTitle {
    height: 53px;
    margin-bottom: 16px;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 55px;
    color: $black;
    @include media-sm {
      margin-left: 20px;
    }
  }
  .prev {
    font-size: 55px;
    color: $black;
  }
  .projectName {
    height: 64px;
    border-top: 2px solid $grayBG;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 20px;
    color: $black;
    padding-top: 20px;
    box-sizing: border-box;
    margin-bottom: 69px;
    @include media-sm {
      height: 78px;
      margin-top: 29px;
      margin-bottom: 20px;
      padding-top: 0;
      padding-left: 20px;
      font-size: 30px;
      line-height: 40px;
      border-top: none;
      border-bottom: 2px solid $grayBG;
    }
  }
  .shareDescription {
    text-align: center;
    padding: 10px;
    margin: 0;
    margin-top: 50px;
    @include media-sm {
      margin-top: 20px;
    }
  }
  .shareButtons {
    justify-content: center;
    margin-bottom: 20px;
  }
  .containerImages {
    position: relative;
    div {
      position: relative !important;
      img {
        height: auto !important;
        position: inherit !important;
      }
    }
  }
  .paginationContainer {
    display: none;
    background: white;
    @include media-md {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      height: 40px;
      box-shadow: -12px -21px 20px -19px rgb(0 0 0 / 25%);
    }
  }
  .menu {
    @include media-sm {
      margin-bottom: 100px;
    }
  }
  .chaptersItems {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow-x: auto;
    white-space: nowrap;
    padding: 5px 7px 0px;
    margin: 0 auto;
    background: $gray85;
    @include media-xs {
      padding: 0;
    }
    @include media-sm {
      padding: 5px 10px;
    }
    &::-webkit-scrollbar {
      height: 8px;
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 2px $black;
      background-color: $black;
      border-radius: 0;
    }

    &::-webkit-scrollbar-thumb {
      background: $primaryDark;
      border-radius: 0px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: $primaryDark;
    }
    .itemChapters {
      position: relative;
      min-width: 80px;
      max-width: 80px;
      margin: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      cursor: pointer;
      @include media-sm {
        position: relative;
        min-width: 50px;
        max-width: 50px;
        height: 50px;
        margin: 0;
        margin-left: 5px;
      }
      div {
        height: 80px;
        overflow: hidden;
        @include media-sm {
          height: 50px;
        }
      }
      p {
        text-align: center;
        color: white;
        margin: 0;
        @include media-sm {
          position: absolute;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          top: 0;
          z-index: 5;
        }
      }
      img {
        object-fit: cover;
      }
    }
    .activeChapter {
      p {
        color: $black;
        @include media-sm {
          background: #21212100;
          color: white;
        }
      }
      .opacity {
        background: #00000000;
      }
    }
    .opacity {
      width: 100%;
      height: 100%;
      position: absolute;
      background: #00000096;
    }
  }
  .userData {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    p {
      margin: 0;
      font-size: $text3;
      line-height: 25px;
      font-weight: bold;
    }
    img{
      border-radius: 50%;
    }
  }
  .footer {
    width: 100%;
    bottom: 0;
    @include media-sm {
      position: fixed;
    }
    & > div:last-child {
      @include media-sm {
        display: none;
      }
    }
  }
}

.footerView {
  width: 100%;
  position: absolute;
  bottom: 0%;
}
