@import '../../styles/variables.scss';

.containerPreview {
  max-width: 860px;
  width: 100%;
  height: 100%;
  padding: 30px;
  @include media-sm {
    padding: 0;
  }
  margin: 50px auto;
  .shareButPreview {
    margin-bottom: 20px;
    justify-content: start;
    @include media-sm {
      flex-direction: initial;
    }
  }
  .containerTitle {
    position: relative;
    a{
      position: absolute;
      top: -25px;
    }
    h1 {
      text-align: center;
      font-size: 30px;
      color: $primaryDark;
      font-weight: bold;
      margin: 0;
      @include media-sm {
        height: 53px;
        font-weight: bold;
        font-size: 20px;
        line-height: 55px;
        color: $black;
      }
    }
    p {
      text-align: center;
      color: $gray85;
      font-size: 18px;
      @include media-sm {
        display: none;
      }
    }
  }
  .shareButPreview {
    justify-content: start;
    padding-bottom: 10px;
    box-sizing: border-box;
    @include media-sm {
      margin-left: 10px;
      flex-direction: initial !important;
    }
  }
  .shareTitle {
    height: 53px;
    margin-bottom: 16px;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 55px;
    color: $black;
    @include media-sm {
      margin-left: 20px;
    }
  }
  .prev{
    font-size: 55px;
    color: $black;
  }
  .projectName {
    height: 64px;
    border-top: 2px solid $grayBG;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 20px;
    color: $black;
    padding-top: 20px;
    box-sizing: border-box;
    margin-bottom: 69px;
    @include media-sm {
      height: 78px;
      margin-top: 29px;
      margin-bottom: 20px;
      padding-top: 0;
      padding-left: 20px;
      font-size: 30px;
      line-height: 40px;
      border-top: none;
      border-bottom: 2px solid $grayBG;
    }
  }
  .containerImages {
    position: relative;
    div {
      position: relative !important;
      img {
        height: auto !important;
        position: inherit !important;
      }
    }
  }
}

.footerView {
  width: 100%;
  position: absolute;
  bottom: 0%;
}
