@import '../../../styles/variables.scss';
@import '../styles.module.scss';

@mixin container {
  min-height: 325px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-right: 1px solid $borderColor;
}

.containerMin {
  min-width: 185px;
  @include media-lg {
    max-width: 188px;
    min-width: 137px;
  }

  @include media-md {
    min-width: 156px;
  }

  @include media-sm {
    width: 138px;
    min-width: 125px;
  }

  @include container;
}

.containerMax {
  max-width: 353px;
  min-width: 137px;
  @include media-lg {
    width: 177px;
  }
  @include media-md {
    min-width: 177px;
  }

  @include media-xs {
    min-width: 139px;
    width: 139px;
  }

  @include container;
}

.card_wrap {
  width: 100%;
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  padding: 20px 7px;
  border-top: 1px solid $borderColor;
  @include media-sm {
    padding: 5px 10px;
  }
  @include media-xs {
    padding: 0;
  }
  &::-webkit-scrollbar {
    height: 10px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px $black;
    background-color: $black;
    border-radius: 0;
  }

  &::-webkit-scrollbar-thumb {
    background: $primaryDark;
    border-radius: 0px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $primaryDark;
  }

  .cont {
    display: flex;
    flex-direction: column;
    @include media-xs {
      padding-bottom: 10px;
      box-sizing: border-box;
    }
  }
}

.cardName {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  color: $gray85;
  box-sizing: border-box;
  & > div {
    display: none;
  }
  @include media-xs {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 8px;
    & > div {
      display: block;
      max-width: 35px;
      height: 25px;
      margin-top: 4px;
      & > div {
        margin: 0;
      }
    }
  }
}
.heroesRow {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: 1px solid black;
  @include media-sm {
    text-align: center;
    height: 160px;
  }
  & > div {
    width: 148px;
    height: 219px;
    margin: 30px 10px;
  }
}
