@import '../../../styles/variables.scss';

.story {
  &__title {
    font-weight: 800;
    font-size: 30px;
    a {
      display: inline-block;
      margin-left: 15px;
    }
    &:hover {
      svg {
        opacity: 0.7;
      }
    }
    svg {
      transition: 0.2s;
      opacity: 0;
      height: 0.8em;
      &:hover {
        opacity: 0.8;
      }
      &:active {
        opacity: 0.5;
      }
    }
  }
  &__description {
    font-weight: 400;
    font-size: 15px;
    & > p {
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: normal;
    }
  }
  &__showAll {
    & > p {
      word-break: break-all;
      text-overflow: clip;
    }
  }
  &__more {
    font-weight: 400;
    font-size: 15px;
    color: $primaryDark;
    cursor: pointer;
    &:hover {
      color: $primaryLight;
    }
    &:active {
      color: $primaryDark;
    }
  }

  &__genres {
    margin-top: 20px;
    font-weight: 600;
    font-size: 15px;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 5px;

    a {
      margin-left: 10px;
    }
    &:hover {
      svg {
        opacity: 0.7;
      }
    }
    svg {
      transition: 0.2s;
      opacity: 0;
      height: 1.2em;
      &:hover {
        opacity: 0.8;
      }
      &:active {
        opacity: 0.5;
      }
    }
  }

  &__genre {
    font-weight: 400;
    font-size: 15px;
    color: #fff;

    margin-right: 5px;
    padding: 1px 10px;
    border-radius: 5em;
    background: $primaryDark;
    text-transform: lowercase;

    &:first-child {
      margin-left: 10px;
    }
  }
}
