@import '../../styles/variables.scss';

.sign_in_content {
  .sign_in {
    text-align: center;
    img {
      margin: auto;
      width: 300px;
    }
    .title {
      font-weight: bold;
      font-size: $h2;
      color: $black;
    }
    .info {
      font-size: $text1;
      color: $black;
    }

    @include media-sm {
      img {
        width: 210px;
      }
      .title {
        font-size: $h4;
      }
      .info {
        font-size: $text4;
        color: $grey;
      }
    }
  }
}
