@import '../../../../styles/variables.scss';

$colorAllBorder: rgba(33, 33, 33, 0.07);

.headerUpload {
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-bottom: 1px solid $colorAllBorder;
  .previewButton {
    width: 100px;
    height: 40px;
    margin-right: 20px;
    font-size: 16px;
  }

  & + div {
    margin: 28px 0 0 18px;
    @include media-xs {
      margin: 28px 18px 0 18px;
    }
    & > span > div > span > div {
      padding: 15px;
      & > div {
        height: 24px;
        font-weight: normal;
        font-size: 10px;
        line-height: 14px;
        color: $gray85;
        h4 {
          margin-top: 18px;
          color: $gray85;
          &:hover {
            color: #575555;
          }
        }
        span svg {
          height: 84px;
          margin-top: 51px;
          filter: drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.2));
          @include media-sm {
            margin-top: 26px;
          }
        }
      }
    }
  }
}

.modal {
  width: 90% !important;
  height: calc(100vh - 150px) !important;
  margin-top: 50px;
  margin-bottom: 0;
  max-width: 100% !important;
  @include media-xs {
    height: calc(100vh - 76px) !important;
    width: 95% !important;
  }
  @media (max-width: 360px) {
    max-width: calc(100vw - -40px) !important;
  }
  @media (max-width: 320px) {
    height: calc(100vh - 0px) !important;
  }
  .containerTitle {
    h1 {
      text-align: center;
      font-size: 30px;
      color: $primaryDark;
      font-weight: bold;
      margin: 0;
      @include media-sm {
        font-size: 20px;
      }
    }
    p {
      text-align: center;
      color: $gray85;
      font-size: 18px;
      @include media-sm {
        display: none;
      }
    }
    @include media-sm {
      & + div {
        display: none;
      }
    }
  }
  .shareTitle {
    font-size: 20px;
    font-weight: bold;
    color: $black;
    @include media-sm {
      font-size: 16px;
      margin-left: 10px;
    }
  }
  .shareButPreview {
    justify-content: start;
    padding-bottom: 25px;
    box-sizing: border-box;
    @include media-sm {
      margin-left: 10px;
      flex-direction: initial !important;
    }
  }
  .projectName {
    border-top: 2px solid $grayBG;
    font-size: 35px;
    font-weight: bold;
    color: $black;
    margin: 0;
    padding: 20px 0;
    box-sizing: border-box;
    @include media-sm {
      padding: 10px 0 20px 10px;
      font-size: 30px;
      border-top: none;
      border-bottom: 2px solid $grayBG;
    }
  }
  & > div {
    border-radius: 10px !important;
    & > div {
      border: none;
      @include media-md {
        padding: 12px;
      }
      @include media-sm {
        padding: 12px 0;
      }
    }
  }
  .close {
    width: 39px;
    height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-top: 22px;
    background: rgba(123, 101, 243, 0.21);
    svg {
      path {
        fill: $text_white;
      }
    }

    &:hover {
      background-color: $primaryDark;
    }
    @include media-sm {
      width: 30px;
      height: 30px;
      margin-top: 8px;
      margin-left: 18px;
      svg {
        width: 13.33px;
        height: 13.12px;
      }
    }
  }

  .card_wrap {
    width: 100%;
    height: calc(100vh - 280px);
    padding-right: 10px;
    overflow-x: auto;
    white-space: nowrap;
    margin-top: 50px;
    @include media-sm {
      padding: 5px 10px;
    }
    @include media-xs {
      padding: 0;
    }
    @media (max-width: 360px) {
      height: calc(100vh - 190px);
    }
    @media (max-width: 320px) {
      height: calc(100vh - 140px);
    }
    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 2px $black;
      background-color: $black;
      border-radius: 20px;
    }

    &::-webkit-scrollbar-thumb {
      background: $primaryDark;
      border-radius: 20px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: $primaryDark;
    }

    .cont {
      display: flex;
      flex-direction: column;
      @include media-xs {
        padding-bottom: 10px;
        box-sizing: border-box;
      }
    }
  }

  .imagesContainer {
    margin-bottom: 60px;
    @include media-sm {
      margin-bottom: 40px;
      margin-top: 30px;
    }
    .images {
      width: 100%;
      margin: auto;
      position: relative;
      div {
        position: initial !important;
      }
      img {
        position: initial !important;
        height: auto !important;
      }
    }
  }
}
