@import '../../styles/variables.scss';

.projects {
    &__container {
        max-width: 1200px;
        margin: 0 auto;
        transition: 0.4s;
        min-height: calc(100vh - 100px);
        display: flex;
        flex-direction: column;
        &_withProjectOpened {
            padding-right: 460px;
            @include media-sm {
                padding-right: 0;
            }
            // .projects {
            //     &__create, &__projects {
            //         display: grid;
            //         grid-template-columns: repeat(3, 1fr);
            //         grid-gap: 20px;
            //         @include media-lg {
            //             grid-template-columns: repeat(2, 1fr);
            //         }
            //     }
            //     &__create {
            //         @include media-md {
            //             grid-template-columns: repeat(1, 1fr);
            //         }
            //     }
            // }
        }
    }

    &__all {
        margin-top: 20px;
        padding: 15px;
        font-size: 20px;
        color: #121219;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }

    &__projects {
        flex-grow: 1;
    }

    &__noProjects {
        max-width: 530px;
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        justify-self: center;
        grid-column: 1 / -1;
        margin-top: -150px;
        &Title {
            font-weight: 800;
            font-size: 32px;
            margin-bottom: 20px;
        }
        &Subtitle {
            font-weight: 400;
            font-size: 20px;
            margin-bottom: 30px;
        }
    }

    &__message {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 50px;

        &Title {
            font-weight: 800;
            font-size: 32px;
            margin-bottom: 20px;
        }
        &Subtitle {
            font-weight: 400;
            font-size: 20px;
            line-height: 22px;
            margin-bottom: 30px;
            > span {
                font-weight: 700;
                color: $primaryDark;
            }
        }
    }

    &__project {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        width: 450px;
        @include media-sm {
            width: 320px;
            width: 100%;
        }
    }

    &__header {
        display: flex;
        align-items: center;
        font-weight: 700;
        font-size: 30px;
        margin-bottom: 30px;
        margin-top: 10px;
        color: #000;
    }

    &__back {
        margin-right: 15px;
        color: #000;
        svg {
            margin-top: 2px;
            transform: rotate(90deg);
        }
    }

    &__create, &__projects {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px;
        @include media-lg {
            grid-template-columns: repeat(3, 1fr);
        }
        @include media-md {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &__create {
        @include media-sm {
            grid-template-columns: repeat(1, 1fr);
        }
        &Text {
            margin-top: 15px;
            font-size: 15px;
            line-height: 20px;
        }
    }

    &__create {
        margin-bottom: 30px;
    }

    &__createEmpty {
        display: flex;
        align-items: center;
        background: $primaryDark;
        border-radius: 20px;
        font-size: 20px;
        font-weight: 700;
        padding: 20px;
        color: #fff;
        // svg {
        //     margin-left: auto;
        //     height: 2em;
        //     path {
        //         stroke: #fff;
        //         stroke-width: 2px;
        //     }
        // }

        &Plus {
            margin-left: auto;
            height: 21px;
            width: 21px;
            position: relative;
            &:before {
                content: '';
                position: absolute;
                width: 4px;
                border-radius: 1em;
                background: #fff;
                top: 0;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
            }
            &:after {
                content: '';
                position: absolute;
                height: 4px;
                border-radius: 1em;
                background: #fff;
                top: 50%;
                left: 0;
                right: 0;
                transform: translateY(-50%);
            }

        }

        transition: 0.2s;
        cursor: pointer;
        &:hover {
            background: darken($primaryDark, 5%);
        }
        &:active {
            background: lighten($primaryDark, 5%);
        }
    }

    &__help {
        margin: 50px 0;
        font-size: 20px;
        text-align: center;
        > a {
            display: inline;
            color: $primaryDark;
        }
    }
    
}