@import '../../styles/variables.scss';

.find_partner {
  button {
    display: flex;
    align-items: center;
    border-radius: 10px;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    a {
      display: inline-flex;
      height: inherit;
      align-items: center;
    }
    @include media-xs {
      font-size: 13px;
      padding: 5px 10px;
      height: 41px;
    }
  }
  .text {
    color: white;
    margin-left: 15px;
    display: flex;
    align-items: center;
  }
}
