@import '../../styles/variables.scss';

.find_partner {
  margin-right: 10px;
  button {
    display: flex;
    align-items: center;
    border-radius: 10px;
    font-size: $text4;
    a {
      display: inline-flex;
      height: inherit;
      align-items: center;
    }
    @include media-sm {
      font-size: 12px;
      padding: 5px 10px;
    }
  }
  .text {
    color: white;
    margin-left: 15px;
    display: flex;
    align-items: center;
  }
}
