@import '../../../../../../styles/variables.scss';

.participantInfo {
  margin-left: -20px !important;
  position: relative;
  display: flex;
  img {
    object-fit: cover;
  }
  & > div {
    @include media-sm {
      width: 50px !important;
      height: 50px !important;
      font-size: $text2 !important;
    }
  }
  &:first-of-type {
    margin-left: 0px !important;
  }
}
