@import '../../styles/variables.scss';

.card {
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: $smallShadow;
    &:not(:last-child) {
        margin-bottom: 30px;
    }
    &__content {
        min-height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #fff;
        background: $primaryDark;
        padding: 15px;
        margin-bottom: 20px;
        
        &_collab {
            margin-bottom: 0;
        }
        &Title {
            font-weight: 800;
            font-size: 30px;
        }
        &Text {
            font-size: 15px;
        }
    }
    &__images {
        position: relative;
        width: 100% !important;
        margin-bottom: 20px;
        background: $primaryDark;
        min-height: 100px;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows:  repeat(2, 200px);

        & > img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            // position: relative !important;
            // min-height: 200px !important;
            // max-height: 500px !important;
        }

        & > img:last-child {
            grid-column: span 2;
        }
    }
    // &__title {
    //     padding: 0 15px;
    //     font-size: 15px;
    //     font-weight: 600;
    //     overflow-wrap: break-word;
    //     margin-bottom: 20px;
    // }
    // &__text {
    //     padding: 0 15px;
    //     margin-bottom: 20px;
    //     font-size: 15px;
    //     // font-weight: 600;
    //     overflow-wrap: break-word;
    // }
    &__author {
        display: flex;
        align-items: center;
        font-size: 12px;
        margin: 15px;

        & > img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-right: 1em;
        }

        &sInfo {
            display: flex;
            flex-direction: column;
            margin-right: 1em;

            overflow: hidden;
            
            &_name {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-weight: 700;
                font-size: 15px;
                // line-height: 30px;
            }

            &_followers {
                font-weight: 400;
                font-size: 12px;
                // line-height: 30px;
                color: #858585;

            }
        }

        & > button {
            margin-left: auto;
        }
        // padding: 15px 0;
        // border-top: 1px solid $greyWhite;
    }
    // &__apply {
    //     display: flex;
    //     border-radius: 3em;
    //     padding: 5px 11px;
    //     transition: 0.2s;
    //     background: $primaryDark;
    //     color: #fff;
    //     &:hover {
    //         background: lighten( $primaryDark, 5% )
    //     }
    //     &:active {
    //         background: lighten( $primaryDark, 10% )
    //     }
    //     svg {
    //         margin-left: 0.5em;
    //         height: 17px;
    //         aspect-ratio: 1;
    //     }
    // }
    // &__collab {
    //     margin-left: auto;
    //     font-weight: 700;
    //     font-size: 15px;
    //     display: flex;
    //     align-items: center;
    //     & > svg {
    //         margin-left: 0.7em;
    //         height: 24px;
    //         aspect-ratio: 1;
    //     }
    // }
    // &__author {
    //     & > *:last-child {
    //         white-space: nowrap;
    //         overflow: hidden;
    //         text-overflow: ellipsis;
    //     }
    //     overflow: hidden;
    //     display: flex;
    //     align-items: center;
    //     flex: 1 1 auto;
    //     margin-right: 1em;
    //     & > img {
    //         margin-right: 0.5em;
    //         height: 2em;
    //         border-radius: 50%;
    //         aspect-ratio: 1;
    //     }
    // }
    // &__comments, &__stars {
    //     flex: 0 0 auto;
    //     display: flex;
    //     align-items: center;
    //     & > svg {
    //         height: 1.7em;
    //         aspect-ratio: 1;
    //         opacity: 0.5;
    //         margin-left: 0.4em;
    //     }
    // }
    // &__comments {
    //     margin-right: 1em;
    // }
}