@import '../../../styles/variables.scss';

.shareModal {
    :global {
        .ant-modal-content {
            border-radius: 15px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            overflow: hidden;
        }
        .ant-modal-title {
            font-size: 24px;
            font-weight: 800;
        }
    }
}