@import '../../styles/variables.scss';

.box {
  width: 100%;
  color: $black;
  p {
    margin: 0;
  }
  &__go_to_pro {
    span {
      background-color: $primaryDark;
      color: $text-white;
      padding: 2px 3px;
      border-radius: 3px;
    }
  }
  &__libk {
    font-style: normal;
    font-weight: normal;
    font-size: $text4;
    line-height: 30px;
    color: $grey;
    text-transform: capitalize;
    &:hover {
      color: $black;
    }
  }
  &__title {
    padding: 26px 20px 22px 20px;
    border-bottom: 1px solid $white;
    &:last-child {
      border-bottom: none;
    }
    &_text {
      font-weight: 500;
      font-size: 15px;
      line-height: 2;
      text-transform: uppercase;
    }
  }
  &__subtitle {
    padding: 7px 10px 7px 10px;
    border-bottom: 1px solid $white;
    &:last-child {
      border-bottom: none;
    }
  }
  &__content {
    width: 100%;
    max-height: 265px;
    border-bottom: 1px solid $white;
    padding: 10px 20px 12px 20px;
    overflow: auto;
    &:last-child {
      border-bottom: none;
    }
    &::-webkit-scrollbar {
      width: 2px;
      height: 2px;
      background-color: $primaryDark;
    }
    &::-webkit-scrollbar-thumb {
      background: $black;
    }
  }
  &__more {
    width: 100%;
    border-bottom: 1px solid $white;
    &:last-child {
      border-bottom: none;
    }
    &_button {
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      font-size: 10px;
      line-height: 1.4;
      text-align: center;
      padding: 12px;
    }
  }
}
