@import '../../styles/variables.scss';

.project {
  &__container {
    margin: 20px auto 0;
    max-width: 1400px;
    padding: 10px 90px;

    @include media-md {
      padding: 10px 60px;
    }

    @include media-sm {
      padding: 10px;
    }
  }

  &__cover {
    position: relative;
    border-radius: 7px;
    overflow: hidden;
    margin-bottom: 20px;
    width: 100%;
    height: 300px;
    box-shadow: $smallShadow;
    @include media-md {
      height: 200px;
    }
    @include media-xs {
      height: 126px;
    }
  }

  &__content {
    display: flex;
    @include media-md {
      flex-direction: column;
    }
  }

  &__info {
    flex: 0 0 30%;
    max-width: 30%;
    padding-right: 30px;
    border-right: #e5e5e5 1px solid;
    @include media-md {
      max-width: none;
      padding-right: 0;
      border-right: none;
    }
  }

  &__chapters {
    flex: 1 1 auto;
    padding: 0 10px;
    @include media-md {
      padding: 0;
      border-right: none;
    }
    border-right: #e5e5e5 1px solid;
  }

  &__comments {
    display: none;
    @include media-md {
      display: block;
    }
  }
}
