.terms {
  * {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    padding: 0;
    color: #473d4a;
  }

  body {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 17px;
    line-height: 28px;
  }

  h1 {
    font-size: 27px;
    line-height: 34px;
  }

  h2 {
    font-size: 13px;
    font-weight: 400;
    line-height: 23px;
  }

  h3 {
    font-size: 20px;
    line-height: 30px;
  }

  section {
    margin-top: 70px;
    max-width: 720px;
    margin: 50px auto 0;
    width: 100%;
    padding: 20px;
    overflow: hidden;
  }

  section.about li {
    margin-top: 10px;
  }

  header {
    background-color: rgb(23, 100, 242);
    padding: 25px;
    color: white;
  }

  header a {
    color: white;
    text-decoration: none;
  }

  footer {
    background: #ddd;
    padding: 20px;
    font-size: 64%;
    color: #fff;
    text-transform: uppercase;
  }

  footer a {
    color: #1280de;
  }
}
