@import '../../../styles/variables.scss';

.title {
  font-weight: 900;
  font-size: 25px;
  line-height: 36px;
  margin-bottom: 20px;
  padding-left: 10px;
  @media (max-width: 767px) {
    position: absolute;
    margin-bottom: 0;
    margin-left: 17px;
  }
}

.my_portfolio {
  background: $primaryBG;
  border: 1px solid $white;
  box-sizing: border-box;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  margin-bottom: 35px;
  padding: 25px 25px 25px 15px !important;
  max-width: 1039px;
  width: 90%;
  @include media-sm {
    width: 100%;
    padding: 40px 7px 0px 15px !important;
    margin-top: 0px;
  }

  .add_button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    svg {
      width: 31px;
      height: 31px;
    }
    @include media-sm {
      align-items: self-end;
      position: relative;
      padding-top: 8px;
      svg {
        width: 18px;
        height: 18px;
      }
    }
  }

  h3 {
    font-family: $fontFamilyNatoSans, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: $text2;
    color: $black;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .card_wrap {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    margin-right: 25px;
    padding: 20px 10px;
    @include media-sm {
      margin-top: 15px;
      padding: 5px 10px;
      margin-left: 17px;
    }
    &::-webkit-scrollbar {
      height: 7px;
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 2px $black;
      background-color: $black;
      border-radius: 0;
    }

    &::-webkit-scrollbar-thumb {
      background: $primaryDark;
      border-radius: 0px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: $primaryDark;
    }
  }

  .ant-card-cover {
    margin-left: 0;
    margin-right: 0;

    img {
      border-radius: 10px;
    }
  }

  .ant-card-meta-description {
    font-size: $text4;
    line-height: 20px;
    color: $black;
    opacity: 0.55;
  }
}
