@import '../../styles/variables.scss';
$borderColor: #f0f0f0;
$colorAllBorder: rgba(33, 33, 33, 0.07);

.tabWrap {
  padding: 30px;
  min-height: 520px;
  p:last-child {
    margin-bottom: 0;
  }
}
.tabTitle {
  font-weight: 500;
  font-size: 20px;
}
.chapterIcon {
  svg {
    path {
      fill: $black;
    }
  }
}
.deleteManga {
  margin-top: 10px;
  font-size: $text4;
  cursor: pointer;
  display: flex;
  align-items: center;
  @include media-sm {
    justify-content: center;
  }
  div {
    color: $black;
    margin-left: 5px;
    text-decoration: underline;
  }
}
.sub_info {
  margin-top: -7px;
  margin-bottom: 16px;
  font-size: $text4;
  color: $grey;
  display: inherit;
  @include media-sm {
    font-size: $text5;
  }
}
.pageWrap {
  max-width: 1602px;
  margin-left: auto;
  margin-right: auto;
  section > div {
    max-width: 1600px;
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
  }
}
.active {
  fill: $primaryDark;
}
.actionButtons {
  div {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    background-color: $primaryBG;
    margin-top: 25px;
    .back {
      background-color: rgba(211, 211, 211, 1);
      border: 1px solid #f3f3f3;
      &:hover {
        background: #858585;
        border: 1px solid #f3f3f3;
      }
    }
  }
}
.see_more {
  text-align: center;
  font-size: $text4;
  margin-bottom: 0;
  color: #d7d7d7;
  display: none;
  @include media-sm {
    display: block;
  }
}
.actionButtons button {
  margin-bottom: 30px !important;
  margin-right: 20px !important;
  font-weight: bolder;
  font-size: $text4;
  width: 112px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primaryDark;
  border: 1px solid $primaryLight;
  box-sizing: border-box;
  border-radius: 5px;
  @include media-sm {
    margin-bottom: 8px !important;
    margin-right: 8px !important;
    width: 100px;
    height: 40px;
  }
}

.actionButtons button:hover,
.actionButtons button:focus {
  background-color: $primaryLight;
}
.actionButtons button:hover,
.actionButtons button:focus {
  background-color: $primaryLight;
}

.tabContent {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 500px;
  @include media-sm {
    justify-content: start;
  }
  .uploadContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    & > div > span > div {
      width: 602px !important;
      height: 411px !important;
      & > span {
        width: 100% !important;
        height: 100% !important;
      }
      @include media-md {
        width: 400px !important;
        height: 380px !important;
      }
      @include media-sm {
        height: 335px !important;
      }
      @include media-xs {
        width: 300px !important;
      }
    }
  }
  .uploadContainerDef {
    flex: 1;
    & > div > span {
      &:hover {
        background-image: '';
      }
      & > div {
        max-width: 315px !important;
        height: 292px !important;
        margin-bottom: 0;
        & > span {
          height: 100% !important;
          &:hover {
            background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='20' ry='20' stroke='%23333' stroke-width='1' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
          }
        }
        @include media-md {
          max-width: 300px !important;
          margin-top: 10px;
        }
        @include media-sm {
          margin-top: 11px;
          height: 210px !important;
        }
      }
    }
  }
  .uploadPhotoContainerDef {
    display: flex;
    justify-content: center;
  }
  .uploadPhotoContainer {
    display: flex;
    margin-bottom: 10px;
    .card_wrap {
      width: 100%;
      display: flex;
      overflow-x: auto;
      white-space: nowrap;
      @include media-xs {
        padding: 0;
      }
      &::-webkit-scrollbar {
        height: 8px;
      }

      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 2px $black;
        background-color: $black;
        border-radius: 0;
      }

      &::-webkit-scrollbar-thumb {
        background: $primaryDark;
        border-radius: 0px;
      }

      &::-webkit-scrollbar-thumb:hover {
        background: $primaryDark;
      }

      .cont {
        display: flex;
        flex-direction: column;
        @include media-xs {
          padding-bottom: 10px;
          box-sizing: border-box;
        }
      }
    }
    .uploadListContainer {
      max-width: 743px;
      max-height: 692px;
      height: 692px;
      display: flex;
      @include media-lg {
        max-width: 602px;
      }
      @include media-md {
        max-width: 482px;
      }
      @include media-sm {
        max-width: 322px;
        height: 450px;
      }
      @include media-xs {
        max-width: 162px;
      }
    }
  }
  .addNewButtons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
    border-bottom: 1px solid $colorAllBorder;

    .addTask {
      margin-left: 10px;
      font-weight: bold;
      font-size: 15px;
      line-height: 20px;
      border-radius: 10px;
      @include media-xs {
        height: 41px;
        line-height: 15px;
        font-size: 13px;
        span {
          width: 45px;
          text-align: left;
          white-space: normal;
        }
      }
    }
  }

  .heroContainer {
    width: fit-content;
    max-width: 70%;
    float: left;
  }

  .addButtonContainer {
    width: 20%;
    height: 100%;
    float: left;
    @include media-sm {
      width: 30%;
      text-align: center;
    }
  }

  .addButtonText {
    margin: 0;
  }

  .heroesRow {
    height: 200px;
    margin-bottom: 15px;
  }
}
// .showAnimation {
//   opacity: 0;
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   background-image: url('/img/anima.gif');
//   -webkit-animation: anima 3s ease-out;
//   -moz-animation: anima 3s ease-out;
//   -o-animation: anima 3s ease-out;
//   animation: anima 3s ease-out;

//   @keyframes anima {
//     0% {
//       display: none;
//       opacity: 1;
//     }

//     1% {
//       display: block;
//       opacity: 1;
//     }

//     100% {
//       display: block;
//       opacity: 0;
//     }
//   }
// }
.tab {
  display: flex;
  align-items: center;
  @include media-md {
    flex-direction: column;
  }
  svg {
    width: 25px;
  }
  p {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    margin: 0;
    margin-left: 20px;
    @include media-md {
      margin-left: 0px;
    }
  }
}
.section {
  max-width: 1600px;
  padding: 0;
}
