@import '../../styles/variables.scss';
$borderColor: #f0f0f0;
$colorAllBorder: rgba(33, 33, 33, 0.07);
@mixin editAndDeleteBut {
  max-width: 176px;
  width: 176px;
  height: 46px;
  font-weight: 900;
  font-size: 15px;
  line-height: 22px;
  border-color: $primaryLight;
  background-color: white;
  color: black;
  cursor: pointer;
  @include media-sm {
    width: 136px;
    height: 36px;
    font-size: 12px;
  }
}
.tabWrap {
  padding: 30px;
  p:last-child {
    margin-bottom: 0;
  }
}
.tabTitle {
  font-weight: 500;
  font-size: 20px;
}
.storyTabContent {
  height: 190px;
  display: flex;
  justify-content: space-between;
  svg {
    cursor: pointer;
  }
  @include media-sm{
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
  }
}
.deleteManga {
  margin-top: 10px;
  font-size: $text4;
  cursor: pointer;
  display: flex;
  align-items: center;
  @include media-sm {
    justify-content: center;
  }
  div {
    color: $black;
    margin-left: 5px;
    text-decoration: underline;
  }
}
.sub_info {
  margin-top: -7px;
  margin-bottom: 16px;
  font-size: $text4;
  color: $grey;
  display: inherit;
  @include media-sm {
    font-size: $text5;
  }
}
.storyTab {
  font-family: Noto Sans JP;
  .storyTabTitle {
    font-size: 20px;
    font-weight: 700;
    line-height: 35px;
    margin-bottom: 6px;
    font-family: Noto Sans JP;
    @include media-sm {
      font-size: 15px;
      line-height: 20px;
    }
  }
  .participate {
    margin-top: 40px;
  }
  pre {
    white-space: pre-wrap;
    color: #858585;
    font-size: 20px;
    font-family: Noto Sans JP;
    margin-bottom: 45px;
    @include media-sm {
      font-size: 15px;
      line-height: 20px;
    }
  }
  .cardWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 48px;
  }
  .card {
    display: inline-block;
  }
  .storyTabDescription {
    font-family: Noto Sans JP;
    font-style: normal;
    font-size: 20px;
    line-height: 35px;
    .storyKey {
      color: $primaryDark;
      display: inline-block;
    }
  }
  .autherBlock {
    margin-top: 48px;
    cursor: pointer;
    display: inline-block;
  }
  .participents {
    padding-left: 20px;
    display: flex;
    margin-top: 16px;
    img {
      min-width: 68.8px;
      min-height: 68.8px;
      max-width: 68.8px;
      max-height: 68.8px;
      border-radius: 50%;
    }
    .participentInfo {
      margin-left: -20px !important;
    }
  }
}
.pageWrap {
  max-width: 1602px;
  margin-left: auto;
  margin-right: auto;
  section > div {
    max-width: 1600px;
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
  }
}

.header {
  padding: 0 35px;
  padding-top: 89px;
  text-align: center;
  margin-bottom: 100px;
  width: 100%;
  display: block;
  @include media-sm {
    padding: 0px;
    padding-top: 89px;
  }
  span {
    color: $primaryDark;
  }
  p {
    max-width: 700px;
    margin: 0 auto;
  }
}
.editSVG {
  position: relative;
  top: 100px !important;
  left: -35px !important;
  @include media-sm {
    padding: 0px;
    left: 10px !important;
  }
}
.editDeleteButtons{
  position: absolute;
  top: 120px;
  right: 40px;
  display: flex;
  @include media-sm {
    right: 65px;
  }
}
.editTitleSvg {
  @include editAndDeleteBut;
  margin-right: 14px;
}
.deleteTitleSvg {
  @include editAndDeleteBut;
}
.inputs {
  margin-top: 89px;
  margin-bottom: 20px;
  input {
    font-size: 15px;
    margin-bottom: 10px;
  }
  @include media-sm{
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
  }
}
.header h2 {
  font-size: 30px;
  color: #212121;
}
.header p {
  font-size: 20px;
  color: #858585;
}
.active {
  fill: $primaryDark;
}

.actionButtons {
  div {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    background-color: $primaryBG;
    margin-top: 25px;
    .back {
      background-color: rgba(211, 211, 211, 1);
      border: 1px solid #f3f3f3;
      &:hover {
        background: #858585;
        border: 1px solid #f3f3f3;
      }
    }
  }
}
.see_more {
  text-align: center;
  font-size: $text4;
  margin-bottom: 0;
  color: #d7d7d7;
  display: none;
  @include media-sm {
    display: block;
  }
}
.actionButtons button {
  margin-bottom: 30px !important;
  margin-right: 20px !important;
  font-weight: bolder;
  font-size: $text4;
  width: 112px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primaryDark;
  border: 1px solid $primaryLight;
  box-sizing: border-box;
  border-radius: 5px;
  @include media-sm {
    margin-bottom: 8px !important;
    margin-right: 8px !important;
    width: 100px;
    height: 40px;
  }
}

.actionButtons button:hover,
.actionButtons button:focus {
  background-color: $primaryLight;
}
.actionButtons button:hover,
.actionButtons button:focus {
  background-color: $primaryLight;
}

.tabContent {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 500px;
  .uploadContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    & > div > span > div{
      width: 605px !important;
      height: 411px !important;
      & > span {
        width: 100% !important;
        height: 100% !important;
      }
      @include media-md {
        width: 400px !important;
        height: 350px !important;
      }
      @include media-sm {
        height: 280px !important;
      }
      @include media-xs {
        width: 300px !important;
        height: 280px !important;
      }
    }
    .headerUpload {
      height: 56px;
      border-bottom: 1px solid $colorAllBorder;
    }
  }
  .uploadContainerDef {
    flex: 1;
    & > div > span {
      &:hover{
        background-image: '';
      }
      &> div{
        max-width: 400px !important;
        height: 294px !important;
        margin-top: 5px;
        & > span {
          height: 100% !important;
        }
        @include media-md {
          max-width: 300px !important;
          margin-top: 10px;
        }
        @include media-sm {
          margin-top: 25px;
          height: 210px !important;
        }
      }
    } 
    .headerUpload {
      height: 56px;
      border-bottom: 1px solid $colorAllBorder;
    }
  }
  .uploadPhotoContainerDef {
    display: flex;
    justify-content: center;
  }
  .uploadPhotoContainer {
    display: flex;
    .card_wrap {
      width: 100%;
      display: flex;
      overflow-x: auto;
      white-space: nowrap;
      border-top: 1px solid $borderColor;
      @include media-xs {
        padding: 0;
      }
      &::-webkit-scrollbar {
        height: 6px;
      }

      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 2px $black;
        background-color: $black;
        border-radius: 0;
      }

      &::-webkit-scrollbar-thumb {
        background: $primaryDark;
        border-radius: 0px;
      }

      &::-webkit-scrollbar-thumb:hover {
        background: $primaryDark;
      }

      .cont {
        display: flex;
        flex-direction: column;
        @include media-xs {
          padding-bottom: 10px;
          box-sizing: border-box;
        }
      }
    }
    .uploadListContainer {
      max-width: 743px;
      max-height: 692px;
      height: 692px;
      display: flex;
      @include media-lg {
        max-width: 605px;
      }
      @include media-md {
        max-width: 482px;
      }
      @include media-sm {
        max-width: 322px;
        height: 450px;
      }
      @include media-xs {
        max-width: 162px;
      }
      .uploadList {
        max-width: 247px;
        min-width: 247px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-right: 1px solid $colorAllBorder;
        @include media-lg {
          min-width: 200px;
        }
        @include media-md {
          min-width: 160px;
        }
        .deleteCard {
          margin-top: 50px;
          width: 31px;
          height: 31px;
          border: 0.5px solid $gray85;
          box-sizing: border-box;
          border-radius: 60px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          &:hover{
            background-color: $primaryDark;
            svg {
              path{
                fill: white;
              }
            }
          }
          svg {
            margin-right: 1px;
          }
        }
        .uploadListTitle {
          width: 100%;
          height: 55px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-bottom: 1px solid $colorAllBorder;
          font-weight: normal;
          font-size: 20px;
          line-height: 29px;
          color: $gray85;
        }
        .uploadPhoto {
          margin-top: 30px;
          width: 206px;
          height: 294px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          border-radius: 4px;   
          &:hover{
            box-shadow: 1px 1px 10px 1px $primaryLight;
          }
          @include media-lg {
            max-width: 140px;
            height: 210px;
          }
          @include media-md {
            max-width: 120px;
            height: 190px;
          }
          img {
            width: 100%;
            border-radius: 4px;       
          }
        }
      }
    }
  }
  .addNewbuttons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
    border-bottom: 1px solid $colorAllBorder;

    .addTask {
      margin-left: 10px;
      font-size: 15px;
      border-radius: 10px;
    }
  }

  .heroContainer {
    width: fit-content;
    max-width: 70%;
    float: left;
  }

  .addButtonContainer {
    width: 20%;
    height: 100%;
    float: left;
    @include media-sm {
      width: 30%;
      text-align: center;
    }
  }

  .addbutton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    margin-bottom: 15px;
    opacity: 0.5;
  }

  .addbutton:hover {
    opacity: 1;
    cursor: pointer;
  }

  .addButtonText {
    margin: 0;
  }

  .heroesRow {
    height: 200px;
    margin-bottom: 15px;
  }
}
.showAnimation {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('/img/anima.gif');
  -webkit-animation: anima 3s ease-out;
  -moz-animation: anima 3s ease-out;
  -o-animation: anima 3s ease-out;
  animation: anima 3s ease-out;

  @keyframes anima {
    0% {
      display: none;
      opacity: 1;
    }

    1% {
      display: block;
      opacity: 1;
    }

    100% {
      display: block;
      opacity: 0;
    }
  }
}
.section {
  max-width: 1600px;
  padding: 0;
}
.publishContent {
  display: flex;
  justify-content: flex-end;
  position: relative;
  top: 70px !important;
  @include media-sm {
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
  }
  .publishSwitch {
    display: inline-flex;
    padding: 20px 10px;
    background-color: $primaryBG;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    color: $grey;
    font-family: Noto Sans JP;
    .publishText {
      margin-left: 10px;
      margin-right: 10px;
      margin-bottom: 0;
      font-size: 16px;
    }
    .published {
      color: $black;
    }
  }
}
.shareButtons {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.modalTitle {
  text-align: center;
  font-weight: 900;
  font-size: 20px;
  line-height: 28px;
  margin: 0 auto;
}
.publishedModal {
  text-align: center;
  p {
    max-width: 580px;
    padding: 0 15px;
    font-weight: 500;
    font-size: 25px;
    line-height: 36px;
    margin: 48px auto 50px auto;
  }
}
.editProfile {
  display: flex;
  margin-bottom: 20px;
  @include media-md{
    padding-left: 30px;
    padding-right: 30px;
  }
}
.error {
  border-color: red !important;
  color: red;
}
