.button {
	bottom: 35px;
	cursor: pointer;
	display: none;
	position: fixed;
	right: 25px;
	z-index: 999;
	@media (max-width: 767px) {
		transform: scale(.6);
		right: 0;
		bottom: 0;
	}
	&__circle {
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		background: #FFFFFF;
		box-shadow: 0px 0px 30px rgba(123, 101, 243, 0.7);
		width: 70px;
		height: 70px;
	}
}