@import '../../../styles/variables.scss';

.container {
}

.subscribe {
  display: flex;
  border-radius: 5em;
  background: #e5e5e5;
  width: 100%;

  &__input {
    min-width: 0;
    flex: 1 1 auto;
    font-family: sans-serif;
    border: none;
    background: transparent;
    margin-left: 1em;
  }

  button {
    flex: 0 0 auto;
    flex-shrink: 0;
    font-weight: 900;
    font-size: 15px;
    line-height: 22px;
  }
}

.unsubscribe {
  padding: 0.5em 2em;
  svg {
    height: 1.1em;
    stroke: $pink;
  }
}

.title {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 10px;
}

.subtitle {
  font-weight: 400;
  font-size: 15px;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
  row-gap: 10px;
  *:not(:last-child) {
    margin-right: 10px;
  }
}
