@import '../../styles/variables.scss';

.loginText {
  font-size: $text4;
  color: $black;
  span {
    color: $primaryDark;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}

.subTitle {
  font-size: $text2;
}
.commentInput{
  resize: inherit;
}
.comments {
  max-height: 300px;
  overflow: auto;
  &::-webkit-scrollbar {
    width: 10px;
  }
  
  &::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 50px;
  }
   
  &::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 50px;
  }
  
  &::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  :global {
    .ant-comment-content-detail {
      div {
        padding: 0 10px 0 0;
        white-space: normal;
        * {
          white-space: normal;
        }
      }
    }
  }
}
.commentError {
  color: $red;
  font-size: 12px;
  font-family: monospace;
  margin: 0;
  margin-top: 5px;
  height: 10px;
}
.noError {
  margin: 0;
  margin-top: 5px;
  height: 10px;
}
.notOwnCommentsTitle {
  margin-top: 1em;
}