@import '../../styles/variables.scss';

.loginText {
  font-size: $text4;
  color: $black;
  span {
    color: $primaryDark;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}

.subTitle {
  font-size: $text2;
}
.commentInput{
  resize: inherit;
}
.comments {
  max-height: 300px;
  overflow: auto;
}
.commentError {
  color: rgb(228, 47, 47);
  font-size: 12px;
  font-family: monospace;
  margin: 0;
  margin-top: 5px;
  margin-left: 15px;
  @include media-sm {
    left: 28px;
    bottom: 87px;
  }
}
.notError {
  display: none;
}
