@import '../../styles/variables';

.image {
    width: 100%;
    // aspect-ratio: 1;
    // object-fit: cover;
    // object-position: center;
    span {
        // display: block;
        width: 100% !important;
        height: 100% !important;
    }
}