@import '../../../styles/variables.scss';

.input {
  width: 100%;
  border-radius: 15px;
  border: 1px solid #848484;
  padding: 0.6em 1.2em;
  font-size: 20px;
  display: flex;

  &__container {
    position: relative;
  }

  &:focus {
    border-color: $primaryDark;
  }

  &::placeholder {
    font-weight: 500;
    font-size: inherit;
    color: #858585;
  }

  &_sm {
    font-size: 12px;
  }

  &_red {
    border-color: $red;
  }

  &_error {
    margin-top: 23px;
  }

  &_fullWidth {
    width: 100%;
  }

  &_rounded {
    border-radius: 5em;
  }

  &__error {
    transition: 0.2s;
    opacity: 0;
    transform: translateY(-100%);
    font-size: 12px;
    color: $red;
    position: absolute;
    top: 0;
    left: 20px;
  }
  &_error ~ &__error {
    opacity: 1;
    transform: translateY(0);
  }
  &_pink:focus {
    border-color: $pink;
  }
}

.select {
  padding: 0;
  overflow: hidden;

  :global {
    .ant-select-selector {
      border: none !important;
      box-shadow: none !important;
    }
    .ant-select-selection {
      background: green;
      padding: 0.6em 1.2em;
    }
    .ant-select-arrow {
      color: $black;
      right: 25px !important;
    }
    .ant-select-selector {
      margin: 0.6em 1.2em !important;
      transform: translateX(-1.2em) !important;
    }
    .ant-select-selection-search, .ant-select-selection-item {
      transform: translateX(1.2em) !important;
    }
  }

  &__dropdown {
    border-radius: 15px;
  }
}
