@import '../../../styles/variables.scss';

.input {
    border-radius: 15px;
    border: 1px solid #848484;
    padding: 0.6em 1.2em;
    font-size: 20px;
    

    &:focus {
        border-color: $primaryDark;
    }

    &::placeholder {
        font-weight: 500;
        font-size: inherit;
        color: #858585;
    }

    &_sm {
        font-size: 12px;
    }

    &_error {
        border-color: $red;
    }

    &_fullWidth {
        width: 100%;
    }

    &_rounded {
        border-radius: 5em;
    }

    &_pink:focus {
        border-color: $pink;
    }
}