@import '../../../styles/variables.scss';

.feedCardLine {
    width: 100%;
    border-top: 1px solid $greyWhite;
    margin-top: 15px;
    margin-bottom: 15px;
}

// .feedCardImage {
//     overflow: hidden;
//     img {
//         max-height: 500px;
//         object-fit: cover;
//     }
// }

.feedCardTitle {
    // padding: 0 15px;
    font-size: 15px;
    font-weight: 600;
    overflow-wrap: break-word;
    // margin-bottom: 10px;
    &_withMargin {
        margin-bottom: 0.5em;
    }
}

.feedCardDescription {
    // padding: 0 15px;
    // margin-bottom: 10px;
    font-size: 15px;
    overflow-wrap: break-word;
    a {
        font-weight: 600;
        display: inline;
        color: $primaryDark;
        &:hover {
            color: $pink;
        }
    }
}

.feedCardShotFooter {
    display: flex;
    align-items: center;
    font-size: 12px;

    &__author {
        flex: 0 1 auto;
        overflow: hidden;
        display: flex;
        align-items: center;
        margin-right: 2em;
        margin-right: auto;
        & > img {
            border-radius: 50%;
            margin-right: 0.5em;
            height: 2em;
            aspect-ratio: 1;
        }
        & > div {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            color: #000;
            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__comments, &__stars {
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: 0.2s;
        & > svg {
            transition: 0.2s;
            height: 1.7em;
            aspect-ratio: 1;
            opacity: 0.5;
            margin-left: 0.4em;
        }

        &:hover {
            & > svg {
                opacity: 0.8;
            }
        }
        &:active {
            & > svg {
                opacity: 0.7;
            }
        }
    }
    &__stars_liked {
        & > svg {
            animation: spin .6s forwards;
            transition-timing-function: ease-in-out;
            opacity: 1;
            fill: rgb(255, 222, 35);
            stroke: rgb(223, 191, 11);

            @keyframes spin {
                0% {
                  transform: rotate(0deg);
                }
                33% {
                  transform: rotate(175deg) scale(1.3);
                }
                66% {
                  transform: rotate(120deg) scale(1);
                }
                100% {
                  transform: rotate(144deg);
                }
              }
        }
    }
    &__comments {
        margin-right: 1em;
    }
}

.feedCardTaskContent {
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #212121;
    background: #fff;
    padding: 15px;
    &__title {
        font-weight: 800;
        font-size: 30px;
        text-transform: capitalize;
    }
    &__description {
        font-size: 15px;
        a {
            font-weight: 600;
            display: inline;
            color: rgb(255, 220, 62);
            &:hover {
                color: rgb(253, 246, 211);
            }
        }
    }
}

.feedCardTaskAuthorAndTime {
    display: flex;
    align-items: center;
    font-size: 12px;

    &__author {
        & > *:last-child {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        & > a {color: #000;}
        overflow: hidden;
        display: flex;
        align-items: center;
        flex: 1 1 auto;
        margin-right: 1em;
        & > img {
            border-radius: 50%;
            margin-right: 0.5em;
            height: 2em;
            aspect-ratio: 1;
            object-fit: cover;
        }
        &:hover {
            text-decoration: underline;
        }
    }
    &__time {
        svg {
            height: 20px;
            margin-left: 0.5em;
        }
    }
    
    // border-top: 1px solid $greyWhite;
    // margin: 0 15px;
    // padding: 15px 0;
}

.feedCardTaskFooter {
    display: flex;
    align-items: center;
    font-size: 12px;

    &__budget {
        margin-left: auto;
        font-weight: 700;
        font-size: 15px;
        display: flex;
        align-items: center;
        & > svg {
            margin-left: 0.7em;
            height: 24px;
            aspect-ratio: 1;
        }
    }

    &__dollar {
        height: 1.3em !important;
    }
}

.feedCardImages {
    position: relative;
    width: 100% !important;
    margin-bottom: 20px;
    min-height: 100px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows:  repeat(2, 200px);

    & > span {
        position: relative !important;
        object-fit: cover !important;
        width: 100% !important;
        height: 100% !important;
    }

    & > span:last-child {
        grid-column: span 2;
    }
}

.feedCardPortfolioFooter {
    display: flex;
    align-items: center;
    font-size: 12px;
    margin: 15px;

    & > img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 1em;
        object-fit: cover;
    }

    &__author {
        display: flex;
        flex-direction: column;
        margin-right: 1em;

        overflow: hidden;
    }

    &__name {
        color: #000;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 700;
        font-size: 15px;
        &:hover {
            color: #000;
            text-decoration: underline;
        }
    }

    &__followers {
        font-weight: 400;
        font-size: 12px;
        color: #858585;
    }

    & > button {
        margin-left: auto;
    }
}