@import '../../styles/variables.scss';


.colabCards {
    padding-top: 30px;
    padding-bottom: 30px;
}

.colabWrap {
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        width: 325px;
        min-height: 296px;
        background: #FFFFFF;
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.08);
        border-radius: 10px;
        padding: 22px 18px 20px 23px;
        margin: 0 15px;
        margin-bottom: 31px;
        transition: .5s;
        position: relative;
        overflow: hidden;
        &:hover {
            filter: drop-shadow(0px 0px 50px rgba(123, 101, 243, 0.34));
        }
    }
    &__top {
        display: flex;
        align-items: center;
    }
    &__img {
        width: 104px;
        height: 104px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url(../../public/img/green-eclips.svg);
        background-size: cover;
        position: relative;
    }
    &__avatar {
        width: 104px;
        height: 104px;
        overflow: hidden;
    }
    &__online {
        width: 14px;
        height: 14px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #6FD257;
        opacity: 0;
        position: absolute;
        right: 0;
        bottom: 25px;
        &:before {
            content: "";
            display: block;
            width: 6px;
            height: 6px;
            background-color: #fff;
            border-radius: 50%;
        }
    }
    &__imgOnline {
        .colabWrap__online {
            opacity: 1;
        }
    }
    &__name {
        display: flex;
        flex-direction: column;
        padding-left: 13px;
    }
    &__authorName {
        font-weight: 900;
        font-size: 20px;
        color: $black;
        line-height: 25px;
        font-weight: 900;
        word-break: break-all;
        overflow: hidden;
        line-height: 25px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        height: 52px;
    }
    &__authorDescr {
        font-weight: 500;
        font-size: 15px;
        color: $black;
        line-height: 20px;
    }
    &__descr {
        color: $grey;
        font-size: 15px;
        line-height: 20px;
        margin-bottom: 10px;
        word-break: break-all;
        overflow: hidden;
        line-height: 25px;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        height: 69px;
    }
    &__bot {
        display: flex;
        align-items: center;
    }
    &__commision {
        display: flex;
        align-items: center;
        color: $black;
        font-weight: 500;
        font-size: 15px;
        margin-right: 20px;
        line-height: 20px;
        svg {
            margin-right: 7px;
        }
    }
    &__progress {
        display: flex;
        align-items: center;
        color: $black;
        font-weight: 500;
        font-size: 15px;
        line-height: 20px;
        svg {
            margin-right: 7px;
        }
    }
    &__buttons {
        display: flex;
        align-items: start;
        flex-wrap: wrap;
        margin-bottom: 5px;
    }
}

.avatar {
    &__img {
        width: 104px;
        height: 104px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        &:before {
            content: "";
            width: 104px;
            height: 104px;
            background-image: url(../../public/img/green-eclips.svg);
            background-size: cover;
            position: absolute;
            left: 0;
            top: 0;
        }
        &Online {
            &:before {
                background-image: url(../../public/img/green-eclips-online.svg);
            }
        }
    }
    &__avatar {
        width: 104px;
        height: 104px;
        overflow: hidden;
        padding: 3px;
        border-radius: 50%;
        img {
            object-fit: cover;
            width: 104px;
            height: 104px;
        }
    }
}


.ButtonPurple {
    background-color: $primaryDark;
}
.ButtonOrangeDark {
    background-color: $orangeDark;
}
.ButtonSecondaryDark {
    background-color: $secondaryDark;
}
