@import '../../styles/variables.scss';

.colabCards {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.colabWrap {
  &__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    // width: 325px;
    width: calc(25% - 30px);
    min-height: 296px;
    background: #ffffff;
    box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    padding: 16px 18px;
    margin: 0 15px;
    margin-bottom: 31px;
    transition: 0.5s;
    position: relative;
    overflow: hidden;
    &:hover {
      filter: drop-shadow(0px 0px 18px rgba(123, 101, 243, 0.2));
    }
    @media (max-width: 1299px) {
      width: calc(33.3% - 30px);
    }
    @media (max-width: 991px) {
      width: 325px;
    }
    @media (max-width: 767px) {
      width: calc(50% - 30px);
    }
    @media (max-width: 675px) {
      width: 325px;
      margin: 0 auto;
      margin-bottom: 15px;
    }
  }
  &__top {
    width: 100%;
    overflow: hidden;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
  }
  &__img {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../../public/img/green-eclips.svg);
    background-size: cover;
    position: relative;
    z-index: 1;
  }
  &__avatar {
    width: 47px;
    height: 47px;
    overflow: hidden;
  }
  &__online {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #6fd257;
    opacity: 0;
    position: absolute;
    right: 0;
    bottom: 25px;
    &:before {
      content: '';
      display: block;
      width: 6px;
      height: 6px;
      background-color: #fff;
      border-radius: 50%;
    }
  }
  &__imgOnline {
    .colabWrap__online {
      opacity: 1;
    }
  }
  &__name {
    display: flex;
    flex-direction: column;
    padding-left: 13px;
    width: calc(100% - 117px);
  }
  &__authorName {
    font-style: normal;
    font-weight: bold;
    font-size: $text4;
    line-height: 25px;
    color: $black;
    word-break: break-all;
    overflow: hidden;
    line-height: 25px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin: 0;
  }
  &__personage {
    color: $gray85;
    font-style: normal;
    font-weight: 500;
    font-size: $text4;
    line-height: 20px;
    margin: 0;
  }
  &__authorDescr {
    font-weight: 500;
    font-size: 15px;
    color: $black;
    line-height: 20px;
  }
  &__descr {
    color: $grey;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    word-break: break-all;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  &__footer{
    position: absolute;
    bottom: 14px;
  }
  &__bot {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  &__commision {
    display: flex;
    align-items: center;
    color: $black;
    font-weight: 500;
    font-size: 15px;
    margin-right: 20px;
    line-height: 20px;
    svg {
      margin-right: 7px;
    }
  }
  &__progress {
    display: flex;
    align-items: center;
    color: $black;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    svg {
      margin-right: 7px;
    }
  }
  &__buttons {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 5px;
  }
}

.language {
  display: flex;
  align-items: center;
  svg {
    margin-top: 8px;
  }
  p {
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    color: $black;
  }
}

.colabName {
  font-style: normal;
  font-weight: bold;
  font-size: $text3;
  line-height: 25px;
  color: $black;
  margin: 0;
  margin-top: 20px;
  text-overflow: ellipsis;
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.participantsContainer{
  display: flex;
  align-items: center;
  span{
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: $gray85;
    margin-left: 5px;
  }
}

.participantsItem {
  border-radius: 50px;
  margin-left: -10px;
  &:first-child {
      margin-left: 0px;
  }
  img {
    border-radius: 50px;
  }
}

.avatar {
  &__img {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    &:before {
      content: '';
      z-index: 1;
      width: 47px;
      height: 47px;
      background-image: url(../../public/img/green-eclips.svg);
      background-size: cover;
      position: absolute;
      left: 0;
      top: 0;
    }
    &Online {
      &:before {
        background-image: url(../../public/img/green-eclips-online.svg);
      }
    }
  }
  &__avatar {
    width: 47px;
    height: 47px;
    overflow: hidden;
    // padding: 3px;
    border-radius: 50%;
    img {
      object-fit: cover;
    }
  }
}

.ButtonPurple {
  &:nth-child(4n + 1) {
    background: $primaryDark;
    border: 1px solid $primaryLight;
  }
  &:nth-child(4n + 2) {
    background: $orangeDark;
    border: 1px solid $orangeLight;
  }
  &:nth-child(4n + 3) {
    background: #6fd257;
    border: 1px solid #6fd257;
  }
  &:nth-child(4n + 0) {
    background: $secondaryDark;
    border: 1px solid $secondaryLight;
  }
}
.ButtonOrangeDark {
  background-color: $orangeDark;
}
.ButtonSecondaryDark {
  background-color: $secondaryDark;
}

.ButtonWhite {
  background: #ffffff;
  border: 1px solid #9a87fe;
  color: #212121;
  text-transform: uppercase;
}
