@import '../../styles/variables.scss';

@mixin buttonStyle {
  color: $text_white;
  border-radius: 5px;
  line-height: 21.72px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
.pricingBlock_wrap {
  margin-bottom: 50px;
  div {
    @include media-sm {
      flex-wrap: wrap;
    }
  }
  .noContent {
    display: inline-block;
  }
  .errMessage {
    font-size: 10px;
    color: red;
    margin-left: 8px;
  }
  .errInp {
    border-color: red !important;
  }
  .grupe {
    display: flex;
    flex-direction: column;
    @include media-sm {
      width: 333px;
      flex-wrap: wrap;
    }
  }
  .ml {
    margin-left: 22px;
    @include media-sm {
      margin-left: 0px;
    }
  }
  .addService {
    max-width: 507px;
    padding-right: 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    @include media-sm {
      flex-direction: initial;
      padding-right: 94px;
    }
    .addBtn {
      max-width: 90px;
      min-width: 80px;
      width: 90px;
      max-height: 43px;
      height: 43px;
      font-size: 15px;
      margin-right: 2px;
      background-color: #dcdcdc;
      @include buttonStyle();
      border: none;
      &:hover {
        background-color: #b9b8b8;
        color: $text_white !important;
      }
    }
    .saveBtn {
      max-width: 89px;
      min-width: 80px;
      width: 89px;
      max-height: 43px;
      height: 43px;
      font-size: 14px;
      margin-left: 10px;
      background-color: $primaryLight;
      @include buttonStyle();
      &:hover {
        border: none;
        color: $text_white !important;
      }
    }
  }
  input {
    padding: 0;
    background-color: transparent !important;
    border: none;
    color: $gray85 !important;
    font-size: 20px;
    height: 40px;
    min-width: 350px;
    &::placeholder {
      color: $grey !important;
      font-size: 15px;
    }
    @include media-sm {
      margin-top: 8px;
      width: 48% !important;
    }
    &:hover {
      border-color: $primaryDark !important;
      color: $primaryDark !important;
      &::placeholder {
        color: $primaryDark;
      }
    }
    &:focus {
      border-color: $primaryDark;
      outline: none;
      box-shadow: none;
      &::placeholder {
        color: $primaryDark;
        font-weight: 700;
      }
    }
    &.inputCost {
      max-width: 220px;
      min-width: 80px;
      height: 43px;
      margin-left: 11px;
      border-radius: 10px;
      font-size: 15px;
      line-height: 22px;
      display: flex;
      align-items: center;
      text-align: center;
      border: 1px solid #dcdcdc;
      @include media-sm {
        min-width: calc(100% - 60px);
        max-width: calc(100% - 00px);
        margin-left: 0px;
      }
    }
    &.inputService {
      width: 346px;
      height: 43px;
      border: 1px solid #dcdcdc;
      border-radius: 10px;
      padding-left: 20px;
      box-sizing: border-box;
      font-size: 15px;
      line-height: 22px;
      @include media-sm {
        min-width: calc(100% - 60px);
        max-width: calc(100% - 0px);
        margin-left: 0px;
      }
    }
  }
}
.close {
  display: flex;
  align-items: flex-start !important;
  @include media-sm {
    position: absolute;
    left: 76%;
    top: 36%;
  }
}
.editAboutButton {
  width: 22px;
  height: 22px;
}
