@import '../../styles/variables.scss';

.idea {
  &__container {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 40px;
  }
}
.title {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 43px;
  color: $black;
  @include media-sm{
    font-size: 25px;
  }
}