@import '../../styles/variables.scss';

.container_profile {
  @include media-sm {
    padding: 0;
  }
}
.container {
  @include media-sm {
    padding: 0;
  }
  & > div {
    @include media-sm {
      padding: 0;
    }
  }
}
