@import "../../../styles/variables.scss";

.primary_button {
  transition: 0.5s;
  background: $primaryDark;
  border: 1px solid $primaryLight;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: Noto Sans JP;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  height: initial;
  padding: 10px 21px 12px 21px;

  .main {
    height: 35px;
    display: flex;
    align-items: center;
  }

  &:hover {
    transition: 0.5s;
    box-shadow: 0px 0px 20px $primaryDark;
    border: 1px solid $primaryLight;
    background: $primaryDark ;
    color: white;
  }

  &:focus {
    outline: none;
    background: $primaryDark ;
    color: white ;
    border: 1px solid $primaryLight ;
  }

  svg {
    margin-left: 10px;
    fill: inherit;
    path {
      fill: white;
    }
    defs {
      display: none;
    }
  }

  .users_img {
    position: absolute;
    margin-left: 10px;
    border-radius: 100px;
    width: 35px;
    height: 35px;
    overflow: hidden;
    &:nth-child(2n + 1) {
      background: white;
    }
    &:nth-child(2n) {
      background: $black;
    }
  }
  .users_img_count {
    position: absolute;
    margin-left: 10px;
    border-radius: 100px;
    width: 35px;
    height: 35px;
    overflow: hidden;
    background: white;
    color: $black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.dark {
  background: #d3d3d3;
  border: 1px solid $white;
  padding: 12px 21px;

  &:hover {
    background: $gray85;
    border: 1px solid $white;
    box-sizing: border-box;
    box-shadow: 0px 0px 20px rgba(133, 133, 133, 0.5);
  }

  &:focus {
    background: $gray85;
    border: 1px solid $white;
  }
}

.white{
  background: white;
  color: $black;
  &:hover{
    background: white ;
    color: #302f2f;
    border-color: #735eda;
    box-shadow: 0px 0px 20px white;
  }
  &:focus {
    background: white;
    border-color: #735eda;
    color: $black;
  }
}

.red{
  background: $red;
  color: white;
  border: 1px solid $red;
  &:hover{
    background: $red ;
    color: white;
    border-color: $red;
    box-shadow: 0px 0px 20px $red;
  }
  &:focus {
    background: $red;
    border-color: $red;
    color: white;
  }
}

.active_primary {
  background: $orangeDark;
  border: 1px solid #ffd67d;
  padding: 12px 21px;

  &:hover {
    background: $orangeDark;
    border: 1px solid #ffd67d;
    box-sizing: border-box;
    box-shadow: 0px 0px 20px $orangeDark;
  }

  &:focus {
    background: $orangeDark;
    border: 1px solid #ffd67d;
  }
}

.primary {
  background: $primaryDark;
  border: 1px solid $primaryLight;
  padding: 10px 21px;

  &:hover {
    background: $primaryDark;
    border: 1px solid $primaryLight;
    box-sizing: border-box;
    box-shadow: 0px 0px 20px $primaryLight;
  }

  &:focus {
    background: $primaryDark;
    border: 1px solid $primaryLight;
  }
}

.plump {
  padding: 10px;
  height: 57px;
}

.full_width {
  width: 100%;
}

.round {
  border-radius: 250px;
  max-height: 41px;
  min-width: 100px;
  font-size: 15px;
}
