@import '../../../styles/variables.scss';

.galleryImg {
  cursor: pointer;
  position: relative;
  width: 227px;
  height: 207px;
  border-radius: 10px;
  margin-bottom: 15px;
  margin-right: 15px;
  color: $text_white;
  font-weight: 900;
  font-size: $text4;
  @include media-sm {
    display: inline-block;
    margin-top: 7px;
  }
  .pdf {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dde5eb;
    border-radius: 10px;
    overflow: hidden;
    & > div{
      height: auto;
    }
    img {
      background: inherit !important;
    }
  }
  .dustbin {
    position: absolute;
    right: 15px;
    top: 15px;
    display: flex;
    align-items: center;
    z-index: 15;
    display: none;
    svg {
      margin-right: 10px;
      margin-left: 20px;
      path {
        fill: transparent;
        stroke: $text_white;
        stroke-width: 1px;
        stroke-linejoin: round;
      }
      &:hover {
        path {
          stroke: $red;
        }
      }
    }
  }
  .edit {
    position: absolute;
    right: 40px;
    top: 15px;
    display: flex;
    align-items: center;
    z-index: 15;
    display: none;
    svg {
      margin-right: 10px;
      margin-left: 20px;
      path {
        fill: transparent;
        stroke: $text_white;
        stroke-width: 1px;
        stroke-linejoin: round;
      }
      &:hover {
        path {
          stroke: $red;
        }
      }
    }
  }
  .heart {
    position: absolute;
    right: 15px;
    bottom: 15px;
    display: flex;
    align-items: center;
    z-index: 15;
    display: none;
    svg {
      margin-right: 10px;
      margin-left: 20px;
      path {
        fill: transparent;
        stroke: $text_white;
        stroke-width: 1px;
        stroke-linejoin: round;
        &:hover {
          fill: $red;
          stroke: $red;
        }
      }
    }
  }
  img {
    width: 227px;
    height: 207px;
    border-radius: 10px;
    object-fit: contain;
    background: #dde5eb;
  }
  .filter {
    position: absolute;
    z-index: 8;
    width: 227px;
    height: 207px;
    border-radius: 10px;
    transition: 0.4s;
    box-shadow: 0 0 8px #cbcb;
  }
  &:hover {
    .heart {
      display: block;
    }
    .dustbin {
      display: block;
    }
    .edit {
      display: block;
    }
    .filter {
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #7b65f3 100%);
    }
  }
}

.textContent {
  height: 100%;
  width: 100%;
  padding: 0 15px;
  overflow: hidden;
  flex-direction: column;
  display: flex;
  justify-content: center;
  text-align: center;
  color: $black;
  h3 {
    margin-top: 0px;
    font-weight: bolder;
  }
  p {
    font-weight: normal;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    white-space: pre-wrap;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 10px;
  }
}
.liked {
  path {
    fill: $red !important;
  }
}
.typeRender {
  &:hover {
    .textContent {
      border-radius: 10px;
      background-color: $primaryDark;
      color: $text_white;
      h3 {
        color: $text_white;
      }
      p {
        color: $text_white;
      }
    }
    .filter {
      background: none;
    }
  }
}
