@import '../../styles/variables.scss';

.box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  &__title {
    font-weight: 500;
    font-size: 15px;
    line-height: 1.25;
    color: $black;
    margin: 0;
    margin-right: 30px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    &_item {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 8px;
      &:last-child {
        margin-right: 0;
      }
    }
    &_button {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
