@import '../../styles/variables.scss';

.card {
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: $smallShadow;
  border: 1px solid rgba($color: #c3bafa, $alpha: 0.2);
  cursor: pointer;
  transition: 0.2s;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  // &_span-4 {
  //   grid-row: span 4;
  //   transform: rotate(2deg);
  // }
  // &_span-5 {
  //   transform: rotate(2deg);
  //   grid-row: span 5;
  // }
  // &_span-6 {
  //   transform: rotate(2deg);
  //   grid-row: span 6;
  //   background: red;
  // }
  
  &__content {
    padding: 15px;
    display: flex;
    flex-direction: column;
    &_noImage {
      flex-grow: 1;
    }
  }
  &:hover {
    transform: scale(1.01);
  }
  &:active {
    transform: scale(1.005);
  }
}