@import '../../../styles/variables.scss';

.primary_upload {
  position: relative;
  border-radius: 20px;
  // .uploadProgress {
  //   width: 100%;
  //   height: 100%;
  //   position: absolute;
  //   z-index: 4;
  //   display: flex;
  //   justify-content: center;
  //   align-items: flex-end;
  //   background: #000000b5;
  //   color: white;
  //   border-radius: 20px;
  //   padding: 15px 2px;
  //   overflow: hidden;
  //   font-size: clamp($text5, 1.5vw, $text3);
  //   .uploadData {
  //     & > span {
  //       font-size: clamp($text5, 1vw, $text3);
  //       & > span {
  //         font-size: 40px;
  //         color: $avatar_outline;
  //       }
  //     }
  //   }
  //   .opacity {
  //     position: absolute;
  //     min-width: 0px;
  //     left: 0px;
  //     z-index: -1;
  //     top: 0px;
  //     height: 100%;
  //     background: rgba(70, 66, 66, 0.71);
  //   }
  //   & > div {
  //     min-width: 100%;
  //     display: flex;
  //     flex-direction: column;
  //     align-items: center;
  //     & > span {
  //       font-size: $text2;
  //       color: $avatar_outline;
  //     }
  //   }
  // }
  .progressWrapper {
    width: 100%;
    height: 6px;
    border-radius: 20px;
    border: 1px solid;
    background-color: white;
    & > div {
      background-color: $primaryDark;
      height: 100%;
      border-radius: 20px;
    }
  }
}
.content {
  width: 100%;
  height: 220px;
  text-align: left;
  color: $grey;
  padding: 16px 30px 30px 30px;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='20' ry='20' stroke='%23333' stroke-width='1' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  @include media-sm {
    padding: 21px;
  }
  .types {
    display: flex;
    align-items: center;
    font-size: $text5;
    color: $gray85;
    svg {
      margin-right: 6px;
    }
  }
  .description {
    width: 100%;
    text-align: center;
    svg {
      margin-top: 14px;
      margin-bottom: 15px;
      @include media-sm {
        width: 87px !important;
        height: 63px !important;
      }
      path {
        fill: gray;
      }
    }
    .title {
      font-size: $text3;
      color: $gray85;
    }
    .titlePersonage {
      font-size: $text4;
      white-space: initial;
      font-weight: normal;
    }
  }
}
