@import '../../../styles/variables.scss';

.prof_tabs_sec {
  margin-top: 50px;
  margin-bottom: 35px;
  @include media-sm {
    margin-top: -15px;
    margin-bottom: 0px;
  }
  .my_profile_tabs {
    background: #ffffff;
    border: 1px solid #f3f3f3;
    box-sizing: border-box;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
  }
}
