@import '../../styles/variables.scss';

.container {
  min-height: 100vh;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
    
  .content {
    max-width: 600px;
    flex: 1 1 600px;
    font-size: $text3;
    @include media-sm {
      font-size: $text4;
      padding: 0 1em;
    }
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .title {
      font-weight: 700;
      font-size: $h4;
      line-height: 1.1em;
      margin-bottom: 0.3em;
    }
    .descr {
      margin-bottom: 2em;
    }
    .input {
      color: $black;
      border: 1px solid $gray85;
      border-radius: 10px;
      padding: 10px 20px;
      transition: 0.2s;
      &::placeholder {
        transition: 0.2s;
        color: $gray85;
      }
      &:focus {
        border-color: $primaryDark;
        &::placeholder {
          opacity: 0;
        }
      }
    }
    .textarea {
      overflow: hidden;
      resize: none;
    }
    .select {
      margin-bottom: 2em;
      color: $black;
      border: 1px solid $gray85;
      border-radius: 10px;
      padding: 10px 20px;
      font-weight: normal;
      font-size: inherit;
      &:focus {
        border-color: $primaryDark;
      }
    }
    .multiselect {
      width: 100%;
    }
    .createStoryForm {
      align-self: stretch;
      display: flex;
      align-items: center;
      // margin-bottom: 2em;
      .input {
        margin-right: 0.5em;
        flex: 1 1 auto;
        @include media-xs {
          width: 200px;
        }
        &:focus~.mangafy {
          transition: 0.2s;
          color: $black;
        }
      }
      .mangafy {
        color: $gray85;
      }
    }
    .basicsForm {
      display: flex;
      flex-direction: column;
      align-self: stretch;
      .input {
        margin-bottom: 1em;
      }
    }
    .signUpForm {
      display: flex;
      flex-direction: column;
      width: max-content;
      width: 100%;
      margin-top: 0.8em;
      .input {
        margin-bottom: 0.5em;
      }
    }
    .signUpWith {
      margin-top: 1em;
      &__label {
        margin-bottom: 0.5em;
      }
      &__buttons {
        display: flex;
        .signUpButton:not(:last-child) {
          margin-right: 0.5em;
        }
      }
    }
    .signUpButton {
      padding: 10px 30px;
      background: #fff;
      border-radius: 5px;
      border: 1px solid $gray85;
      transition: 0.2s;
      display: flex;
      align-items: center;
      &:active {
        background: $white;
        border-color: $primaryDark;
        color: $primaryDark;
      }
      &:hover {
        border-color: $primaryDark;
        color: $primaryDark;
      }
      &_google:before {
        content: url('./img/google-icon.svg');
        width: 1em;
        height: 1.4em;
        margin-right: 0.5em;
        // aspect-ratio: 1;
      }
      &_facebook:before {
        content: url('./img/facebook-icon.svg');
        width: 1.1em;
        height: 1.3em;
        margin-right: 0.5em;
        aspect-ratio: 1;
      }
    }

    .buttons {
      margin-top: 1em;
      align-self: stretch;
      display: flex;
      // justify-content: flex-end;
    }
    .shareLabel {
      display: flex;
      align-items: stretch;
      color: $primaryDark;
    }
    .copyButton {
      margin-left: 1em;
      width: 1.5em;
      background-image: url('./img/copy-icon.png');
      background-size: contain;
      background-repeat: no-repeat;
      cursor: pointer;
      transition: 0.2s;
      &:hover {
        opacity: 0.8;
      }
    }
    .shareButton {
      width: 40px;
      height: 40px;
      background-size: contain;
      background-repeat: no-repeat;
      transition: 0.2;
      &:hover {
        opacity: 0.8;
      }
      &_twitter {
        background-image: url('./img/social-twitter.png');
      }
      &_facebook {
        background-image: url('./img/social-facebook.png');
      }
      &_instagram {
        background-image: url('./img/social-instagram.png');
      }
      &_whatsapp {
        background-image: url('./img/social-whatsapp.png');
      }
    }

    .skip {
      color: $primaryDark;
      position: absolute;
      bottom: 36px;
      right: 36px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.multiSelect {
  border: 1px solid $gray85;
  border-radius: 10px;
  padding: 10px 10px 0 10px;
  transition: 0.2s;
  color: $black;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  &:focus {
    border-color: $primaryDark;
      &::placeholder {
        opacity: 0;
      }
  }
  &__input {
    border: none;
    padding: 0;
    flex: 1 1 auto;
    margin-bottom: 10px;
    &::placeholder {
      transition: 0.2s;
      color: $gray85;
    }
    &:focus {
      border-color: $primaryDark;
      &::placeholder {
        opacity: 0;
      }
    }
  }
  &__selected {
    background: $primaryDark;
    color: #fff;
    border-radius: 20px;
    padding: 0 0.7em 0 1em;
    margin-right: 0.3em;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    &:after  {
      margin-left: 0.5em;
      content: '';
      height: 0.6em;
      aspect-ratio: 1;
      background: url('./img/cross.svg');
      background-size: contain;
    }
  }
  &__options {
    min-width: 40%;
    @include media-sm {
      min-width: 100%;
    }
    position: absolute;
    top: 110%;
    right: 0;
    z-index: 1;
    // transform: translate(-50%);
    background: #fff;
    border: 1px solid $white;
    box-shadow: 5px 5px 20px rgba($color: $black, $alpha: 0.1);
    border-radius: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    transition: 0.1s;
    max-height: 200px;
    &_hidden {
      opacity: 0;
      pointer-events: none;
    }
  }
  &__option {
    &_active {
      background: $white;
      color: $primaryDark;
    }
    padding: 0.2em 0.6em;
    cursor: pointer;
    transition: 0.2s;
    color: $gray85;
    &:hover {
      background: $white;
    }
  }
}