@import '../../../styles/variables.scss';

.card {
  display: flex;
  margin-bottom: 20px;
  @include media-xs {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .img {
    position: relative;
    min-width: 130px;
    max-width: 130px;
    min-height: 130px;
    max-height: 130px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    .img_bg {
      position: absolute;
      top: 15px;
      right: 0px;
      height: 105px;
      width: 105px;
      border-radius: 50%;
      background-color: #cbcbcb;
    }
  }
  .info {
    padding: 0 2px 0 50px;
    min-height: inherit;
    display: flex;
    justify-content: center;
    flex-direction: column;
    @include media-sm {
      padding: 10px;
    }
    h3 {
      font-size: $text3;
      line-height: 24px;
      margin-bottom: 1rem;
    }
    p {
      font-size: 12px;
    }
  }
}
