@import '../../../styles/variables.scss';

.ButtonColab {
    height: 20px;
    margin-right: 8px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 13.5px;
    color: #fff;
    font-size: 10px;
    padding: 0 12px;
}

