@import '../../../../../styles/variables.scss';

@mixin container {
  border-bottom: 0.5px solid #f1f1f1;
  .userName {
    height: 80px;
    margin-left: 15px;
    display: flex;
    align-items: center;
    .avatarHiderMobile{
      display: none;
      @include media-sm {
        display: block;
        & div > img {
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }
    a {
      font-style: normal;
      font-weight: 900;
      font-size: $text3;
      line-height: 15px;
      color: $black;
      &:hover {
        color: $primaryDark;
      }
      @include media-sm {
        margin-left: 20px;
        margin-top: -6px;
      }
    }
    @include media-sm {
      a {
        font-weight: bold;
      }
      height: 26px;
      margin-left: 29px;
    }
  }
  .members {
    color: $grey;
    margin-left: 15px;
    position: absolute;
    cursor: pointer;
    font-size: $text5;
    top: 57px;
    @include media-sm {
      margin-left: 134px;
      top: 40px;
    }
  }
}

.container {
  @include container;
  svg{
    display: none;
  }
  @include media-sm {
    display: none;
  }
}

.containerMobile {
  @include container;
  display: none;
  @include media-sm {
    display: flex;
    align-items: center;
    height: 64px;
    margin-top: 8px;
    position: relative;
    // border-top: 1px solid rgba(33, 33, 33, 0.07);
    border-bottom: 1px solid rgba(33, 33, 33, 0.07);
    svg {
      display: block;
      margin-left: 10px;
    } 
  }
}
.avatarName {
  font-size: initial !important;
  @include media-sm {
    font-size: 20px !important;
  }
}