@import '../../../../../styles/variables.scss';

@mixin container {
  border-bottom: 0.5px solid #f1f1f1;
  position: relative;
  .participants {
    display: flex;
    // position: absolute;
    // left: 50px;
    // top: 50%;
    // transform: translateY(-50%);
    &__avatar {
      width: 24px;
      height: 24px;
      border-radius: 50%;
      overflow: hidden;
      border: solid 1px #fff;
      &:not(:first-child) {
        margin-left: -15%;
      }
    }
  }
  .description {
    line-height: 18px;
    font-weight: 600;
    font-size: 14px;
    width: 80%;
    padding-right: 10px;
    margin-left: 20px;
    margin-top: 10px;
    text-align: center;
  }
  .userName {
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    .avatarHiderMobile {
      display: none;
      @include media-sm {
        display: block;
        & div > img {
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }
    a {
      color: $black;
      margin-bottom: 5px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      &:hover {
        color: $primaryDark;
      }
      @include media-sm {
        font-size: $text4;
      }
    }
    @include media-sm {
      a {
        font-weight: bold;
      }
      height: 26px;
      margin-left: 29px;
    }
  }
  .lastSeen {
    color: $grey;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }
}

.container {
  @include container;
  svg {
    display: none;
  }
  @include media-sm {
    display: none;
  }
  & + div {
    max-height: 505px;
    min-height: 505px;
    top: 80px !important;
    @include media-sm {
      max-height: 490px;
      min-height: 370px;
      top: 0px !important;
    }
  }
}

.containerMobile {
  @include container;
  display: none;
  @include media-sm {
    display: flex;
    align-items: center;
    height: 64px;
    margin-top: 8px;
    position: relative;
    // border-top: 1px solid rgba(33, 33, 33, 0.07);
    border-bottom: 1px solid rgba(33, 33, 33, 0.07);
    svg {
      display: block;
      margin-left: 10px;
    }
  }
}
.avatarName {
  font-size: initial !important;
  @include media-sm {
    font-size: 20px !important;
  }
}
