@import '../../../../styles/variables.scss';

$colorAllBorder: rgba(33, 33, 33, 0.07);

.containerItem {
  display: flex;
  .uploadList {
    max-width: 247px;
    min-width: 247px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid $colorAllBorder;
    border-bottom: none;
    background-color: white;
    cursor: -webkit-grabbing;
    cursor: grabbing;
    @include media-lg {
      min-width: 200px;
    }
    @include media-md {
      min-width: 160px;
    }
    .deleteCard {
      margin-top: 48px;
      width: 31px;
      height: 31px;
      border: 0.5px solid $gray85;
      box-sizing: border-box;
      border-radius: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      &:hover {
        background-color: $primaryDark;
        svg {
          path {
            fill: white;
          }
        }
      }
      svg {
        margin-right: 1px;
      }
    }
    .uploadListTitle {
      width: 100%;
      height: 55px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid $colorAllBorder;
      font-weight: normal;
      font-size: 20px;
      line-height: 29px;
      color: $gray85;
    }
    .uploadPhoto {
      margin-top: 28px;
      width: 206px;
      height: 294px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      border-radius: 4px;
      overflow: hidden;
      &:hover {
        box-shadow: 1px 1px 10px 1px $primaryLight;
      }
      @include media-lg {
        max-width: 140px;
        height: 210px;
      }
      @include media-md {
        max-width: 120px;
        height: 190px;
      }
      img {
        height: unset !important;
        min-height: 0 !important;
        border-radius: 4px;
        object-fit: cover;
      }
    }
  }
}
