@import '../../styles/variables.scss';

.animePlatform {
  padding: 50px;
  padding-bottom: 0;
  margin: 0 auto;
  background: #f9f9f9;
  border-radius: 50px;
  margin: 0 auto;
  margin-bottom: 50px;
  @include media-sm {
    padding: 20px;
    padding-bottom: 0;
    border-radius: 20px;
    margin-bottom: 20px;
  }
  .title {
    color: $black;
    font-size: $text1;
    font-weight: 900;
    line-height: 30px;
    margin-bottom: 1rem;
    text-align: center;

    @include media-sm {
      font-size: $text3;
      line-height: 24px;
    }
  }
  .info {
    max-width: 500px;
    margin: auto;
    color: $black;
    font-size: $text3;
    line-height: 24px;
    text-align: center;
    margin-bottom: 40px;

    @include media-sm {
      line-height: 19px;
      font-size: $text4;
    }
  }
  .joinBtn {
    text-align: center;
    margin: auto;
    transform: translate(0%, 50%);
  }
}
