@import '../../../styles/variables.scss';

.textEditor {
  border: 1px solid $primaryDark;
  border-radius: 6px;
  em {
    font: revert;
  }
  u, s {
    text-decoration: revert;
  }
  div{
    border: none !important;
  }
  & > div {
    border-top: none !important;
    border-radius: 0 !important;
    display: flex;
    flex-wrap: wrap;
    & > div {
      min-height: 199px;
      width: 100%;
      &::before {
        font-style: normal !important;
        font-weight: normal;
        font-size: 16px;
        line-height: 23px;
        color: #a5a4a4 !important;
      }
    }
  }
}
