@import '../../../../styles/variables.scss';

.container {
  padding-left: 40px;
  padding-right: 40px;
  box-sizing: border-box;
  @include media-sm {
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    white-space: nowrap;
    overflow-x: auto;
    &::-webkit-scrollbar {
      height: 8px;
    }
  
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 2px $black;
      background-color: $black;
      border-radius: 0;
    }
  
    &::-webkit-scrollbar-thumb {
      background: $primaryDark;
      border-radius: 0px;
    }
  
    &::-webkit-scrollbar-thumb:hover {
      background: $primaryDark;
    }
  }
  .selectContainer {
    display: flex;
    justify-content: flex-end;
    margin-top: 57px;
    .published {
      margin-right: 10px;
    }
  }
  .addChaptersContainer {
    height: 44px;
    margin-top: 80px;
    margin-bottom: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include media-sm {
      margin-top: 40px;
      margin-bottom: 24px;
    }
    form > div {
      margin: 0;
    }
    .chapterName {
      border: 1px solid $primaryDark;
      background-color: white;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 23px;
      color: $black;
      &::placeholder {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 23px;
        color: $gray85;
      }
    }
    .addChapter {
      display: flex;
      justify-content: center;
      align-items: center;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 29px;
      color: $black;
      margin-left: 10px;
      cursor: pointer;
      svg path {
        fill: $primaryLight;
        &:hover{
          fill: $primaryDark; 
        }
      }
    }
    .error {
      max-width: 300px;
      font-size: 14px;
      color: $red;
      text-align: center;
      white-space: break-spaces;
    }
  }
}
