@import '../../../styles/variables.scss';

.container{
    margin-top: 70px;
    width: 280.9px;
    height: 179px;
}

.addbutton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    opacity: 0.5;
    @include media-sm {
      height: 160px;
    }
}

.showImage{
    display: none;
}

.addIcon {
    width: 40px;
}

.addbutton:hover {
    opacity: 1;
    cursor: pointer;
    & + .showImage{
      display: flex;
      justify-content: center;
    }
}

.addButtonText {
    margin: 0;
}
  
.disabled {
    cursor: not-allowed !important;
}
  