@import '../../styles/variables.scss';

.verified{
	background-color: $white;
}
.box {
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 8px;
  &:last-child {
    margin-bottom: 0;
  }
  &__image {
    object-fit: contain;
  }
  &__img {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background: $white;
    margin-top: 5px;
    margin-right: 15px;
    border-radius: 80px;
    object-fit: cover;
    img {
      width: 52px;
      height: 52px;
      border-radius: 80px;
      object-fit: cover;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
  }
  &__title_wrap {
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__title {
    &_text {
      font-size: 15px;
      line-height: 1.4;
    }
  }
  &__description {
    &_text {
      font-size: 10px;
      line-height: 1.4;
      color: #858585;
    }
  }
  &__post {
    img {
	  max-width: 100%;
	  height: 80px;
      border-radius: 10px;
    }
  }
  &__date {
    margin-top: 8px;
    &_text {
      font-size: 10px;
      line-height: 1.4;
      color: $silver;
    }
  }
}
