@import '../../../../styles/variables.scss';

$redColor: #ff4564;
$colors: ($primaryDark, $orangeDark, $avatar_outline, $secondaryDark);

.container {
  width: 100%;
  padding: 20px 30px 0 30px;
  margin-bottom: 20px;
  border: 1px solid $gray85;
  box-sizing: border-box;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.04);
  border-radius: 10px;
  .titleView {
    display: flex;
    justify-content: space-between;
  }
  h2 {
    display: flex;
    align-items: center;
    color: $black;
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 41px;
    margin: 0;
    margin-bottom: 12px;
    @include media-md {
      font-size: 26px;
      line-height: 38px;
    }
    @include media-sm {
      font-size: 25px;
      line-height: 30px;
    }
  }
  p {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    margin: 0;
    line-height: 32px;
    display: flex;
    @include media-sm {
      font-size: 16px;
      line-height: 20px;
    }
  }
  h3 {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 29px;
    display: flex;
    align-items: center;
    margin: 0;
    margin-top: 14px;
    margin-bottom: 10px;
    @include media-sm {
      font-size: 18px;
      line-height: 20px;
    }
  }
  .standardDomain {
    margin-top: 11px;
    display: flex;
    align-items: baseline;
    & > span {
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 26px;
      color: $gray85;
      margin-left: 10px;
    }
    svg {
      margin-left: 10px;
      path {
        fill: $black;
      }
    }
  }
  .genresTitle {
    margin-bottom: 0;
  }
  .radioButton {
    display: flex;
    flex-direction: column;
    margin-top: 14px;
    label {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      input {
        margin-bottom: 10px;
      }
      span {
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 29px;
        span {
          border-color: $black !important;
          box-shadow: 0 0 0 3px white !important;
          margin-bottom: 7px;
          &::after {
            width: 14px !important;
            height: 14.5px !important;
            top: 0 !important;
            left: 0 !important;
            background-color: white !important;
            border: 2.5px solid black !important;
          }
        }
      }
    }
    .error {
      margin-top: -12px;
      color: $red;
      font-size: 16px;
      @include media-sm {
        font-size: 14px;
      }
    }
  }
  .getLink {
    margin-top: 20px;
  }
  .dangerZone {
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
    color: $redColor;
  }
  .viewUrlName {
    max-width: 300px;
    &::placeholder {
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 26px;
      color: $gray85;
    }
  }
  input,
  textarea {
    max-width: 960px;
    width: 100%;
    height: 44px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    border: 1px solid $primaryDark;
    background-color: white;
    &::placeholder {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 23px;
      color: $gray85;
      @include media-sm {
        font-size: 16px;
        line-height: 20px;
      }
    }
  }
  textarea {
    min-height: 80px !important;
  }
  .option {
    max-width: 960px;
    min-height: 44px;
    border: 1px solid $primaryDark;
    border-radius: 5px;
    margin-bottom: 45px;
    display: flex;
    align-items: center;
    padding: 0;
    & > div {
      width: 100% !important;
      div {
        @for $i from 1 through 7 {
          &:nth-child(#{length($colors)}n + #{$i}) {
            & > span {
              background-color: nth($colors, random(length($colors)));
              height: 36px;
              display: flex;
              align-items: center;
              color: white;
              font-style: normal;
              font-weight: 900;
              font-size: 14px;
              line-height: 25px;
              border-radius: 10px;
              padding-left: 15px;
              padding-right: 15px;
              margin: 0 2px;
              span {
                color: white;
              }
            }
          }
        }
      }
    }
  }
  textarea {
    border-radius: 5px;
    &:hover {
      border-color: $primaryDark;
    }
    &:focus {
      border-color: $primaryDark;
      box-shadow: 0 0 0 2px white;
    }
  }
  .language {
    width: 250px !important;
    height: 40px;
    div {
      height: 40px !important;
      border-radius: 5px !important;
      border: 1px solid $primaryDark !important;
      span {
        line-height: 35px !important;
      }
    }
  }
  .copyView {
    display: flex;
    align-items: center;
    margin-bottom: 45px;
    input {
      max-width: 920px;
      border-right: none;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      background-color: white !important;
      border-color: $primaryDark !important;
      color: $black !important;
      &:hover {
        color: $gray85;
      }
    }
  }
  .copy {
    width: 40px;
    height: 44px;
    border: 1px solid $primaryDark;
    border-left: none;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    path {
      fill: $gray85;
    }
  }
  .error {
    color: $red;
    font-size: 16px;
    @include media-sm {
      font-size: 14px;
    }
  }
  .toggleStylesMakeVisible,
  .toggleStylesBubble {
    width: 220px;
    display: flex;
    align-items: center;
    color: $black;
    margin-top: 45px;
    margin-bottom: 32px;
    .toggleTitle {
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 32px;
      @include media-sm {
        font-size: 16px;
        line-height: 25px;
      }
    }
    .toggle {
      margin: 0 20px;
      @include media-sm {
        margin: 0 10px;
      }
    }
  }
  .toggleStylesBubble {
    margin-top: 20px;
  }
  .deleteProject {
    .deleteProjectTitle {
      height: 67px;
      margin: 0;
      margin-top: 23px;
      font-style: normal;
      font-weight: bold;
      font-size: 25px;
      line-height: 36px;
      display: flex;
      align-items: center;
      @include media-sm {
        font-size: 20px;
        line-height: 20px;
      }
    }
    .deleteProjectButton {
      width: 204px;
      height: 50px;
      font-size: 18px;
      margin-top: 39px;
      background-color: $redColor;
      border: 1px solid $redColor;
    }
    a {
      height: 83px;
      margin-bottom: 15px;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 32px;
      color: $black;
      @include media-sm {
        margin-top: 20px;
        height: 50px;
        font-size: 16px;
        line-height: 20px;
      }
      span {
        margin-left: 5px;
        margin-right: 5px;
        color: #1890ff;
      }
    }
  }
  .titleContainer {
    display: flex;
    .betaButton {
      width: 68px;
      height: 30px;
      padding: 10px;
      margin-left: 20px;
      margin-top: 7px;
      background-color: $primaryDark;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      color: white;
      font-style: normal;
      font-weight: 900;
      font-size: 15px;
      line-height: 25px;
    }
  }
}
.modal {
  top: 125px !important;
  width: 100% !important;
  max-width: 1000px !important;
  @include media-md {
    padding: 0 10px;
  }
  & > div > div > div > div:last-child {
    display: none;
  }
  & > div > button {
    width: 31px !important;
    height: 31px !important;
    background: $primaryDark !important;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 31px;
    margin-top: 20px;
    svg {
      width: 17px;
      height: 17px;
      path {
        fill: white !important;
      }
    }
    &:hover {
      background: $primaryLight !important;
    }
  }
}
.popConfirm {
  min-width: 250px;
  max-width: 400px;
  word-break: break-all;
}