@import '../../../../styles/variables.scss';

$redColor: #ff4564;
$colors: ($primaryDark, $orangeDark, $avatar_outline, $secondaryDark);

.container {
  width: 100%;
  padding: 0 30px;
  margin-bottom: 20px;
  // border: 1px solid $gray85;
  border-bottom: 2px solid rgb(224, 224, 224);
  box-sizing: border-box;
  // box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.04);
  // border-radius: 10px;
  .titleView {
    display: flex;
    justify-content: space-between;
  }
  h2 {
    display: flex;
    align-items: center;
    color: $black;
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 41px;
    margin: 0;
    margin-bottom: 12px;
    @include media-md {
      font-size: 26px;
      line-height: 38px;
    }
    @include media-sm {
      font-size: 25px;
      line-height: 30px;
    }
  }
  & > div > p {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    margin: 0;
    line-height: 32px;
    display: flex;
    @include media-sm {
      font-size: 16px;
      line-height: 20px;
    }
  }
  h3 {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 29px;
    display: flex;
    align-items: center;
    margin: 0;
    margin-top: 14px;
    margin-bottom: 10px;
    @include media-sm {
      font-size: 18px;
      line-height: 20px;
    }
  }
  .standardDomain {
    margin-top: 11px;
    display: flex;
    align-items: baseline;
    & > span {
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 26px;
      color: $gray85;
      margin-left: 10px;
    }
    svg {
      margin-left: 10px;
      path {
        fill: $black;
      }
    }
  }
  .genresTitle {
    margin-bottom: 0;
  }
  .uploadCoverTitle + div {
    margin: 0 0 30px;
    max-width: 400px;
    height: 230px;
  }
  .budgetContainer {
    display: flex;
    align-items: center;
    margin: 20px 0;
    @include media-md {
      display: block;
    }
    h3,
    .radio {
      margin-right: 66px;
      @include media-md {
        margin-right: 30px;
      }
    }
    .radio > span:first-child {
      border: 1px solid $black;
      border-radius: 50px;
      padding: 3px;
      &::after {
        border: none;
      }
      & > input {
        border: none;
      }
      & > span {
        border: none;
        &::after {
          background-color: white;
        }
      }
      & + span {
        font-style: normal;
        font-weight: 500;
        font-size: clamp(1rem, 1vw, 1.4rem);
        line-height: 26px;
        color: $gray85;
      }
    }
    .active > span:first-child {
      & > span {
        background: $primaryDark;
      }
      & > span::after {
        width: 20px;
        height: 20px;
        border: 4px solid $black;
        border-radius: 50%;
        margin-left: -10.5px;
        margin-top: -10px;
      }
    }
  }
  // .radioButton {
  //   display: flex;
  //   flex-direction: column;
  //   margin-top: 14px;
  //   label {
  //     display: flex;
  //     align-items: center;
  //     height: 44px;
  //     margin-bottom: 10px;
  //     input {
  //       margin-bottom: 10px;
  //     }
  //     span {
  //       font-style: normal;
  //       font-weight: normal;
  //       font-size: 20px;
  //       line-height: 29px;
  //       & > span {
  //         border-color: $black !important;
  //         box-shadow: 0 0 0 3px white !important;
  //         margin-bottom: 7px;
  //         &::after {
  //           width: 14px !important;
  //           height: 14.5px !important;
  //           top: 0 !important;
  //           left: 0 !important;
  //           background-color: white !important;
  //           border: 2.5px solid black !important;
  //         }
  //       }
  //     }
  //   }
  //   .error {
  //     margin: 0;
  //     color: $red;
  //     font-size: 16px;
  //     line-height: 20px;
  //     margin-left: 24px;
  //     @include media-sm {
  //       font-size: $text5;
  //     }
  //   }
  // }
  // .customSubdomainTitle {
  //   font-style: normal;
  //   font-weight: normal;
  //   font-size: 20px;
  //   line-height: 29px;
  //   margin-left: 24px;
  //   margin-top: 10px;
  //   margin-bottom: -5px;
  // }
  // .custom {
  //   label {
  //     margin-bottom: 0;
  //     &:last-child {
  //       margin-top: 0px;
  //     }
  //     input {
  //       margin-bottom: 0px;
  //     }
  //   }
  // }
  // .getLink {
  //   margin-top: 20px;
  // }
  .dangerZone {
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
    color: $redColor;
  }
  .viewUrlName {
    max-width: 300px;
    cursor: pointer;
    margin-bottom: 10px;
    &::placeholder {
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 26px;
      color: $gray85;
    }
  }
  input,
  textarea {
    max-width: 960px;
    width: 100%;
    height: 44px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    border: 1px solid $primaryDark;
    background-color: white;
    &::placeholder {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 23px;
      color: $gray85;
      @include media-sm {
        font-size: 16px;
        line-height: 20px;
      }
    }
  }
  textarea {
    min-height: 80px !important;
  }
  .option {
    max-width: 960px;
    min-height: 44px;
    border: 1px solid $primaryDark;
    border-radius: 5px;
    // margin-bottom: 45px;
    display: flex;
    align-items: center;
    padding: 0;
    & > div {
      width: 100% !important;
      div {
        @for $i from 1 through 7 {
          &:nth-child(#{length($colors)}n + #{$i}) {
            & > span {
              background-color: nth($colors, random(length($colors)));
              height: 36px;
              display: flex;
              align-items: center;
              color: white;
              font-style: normal;
              font-weight: 900;
              font-size: $text5;
              line-height: 25px;
              border-radius: 10px;
              padding-left: 15px;
              padding-right: 15px;
              margin: 0 2px;
              span {
                color: white;
              }
            }
          }
        }
      }
      span {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 23px;
        color: $gray85;
      }
    }
  }
  textarea {
    border-radius: 5px;
    &:hover {
      border-color: $primaryDark;
    }
    &:focus {
      border-color: $primaryDark;
      box-shadow: 0 0 0 2px white;
    }
  }
  .language {
    width: 250px !important;
    height: 40px;
    div {
      height: 40px !important;
      border-radius: 5px !important;
      border: 1px solid $primaryDark !important;
      span {
        line-height: 35px !important;
      }
    }
  }
  .copyView {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
    .viewUrl {
      max-width: 920px;
      height: 44px;
      border-radius: 5px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      background-color: white;
      border: 1px solid $primaryDark;
      border-right: none;
      color: $black;
      padding-left: 13px;
      line-height: 1.4;
      cursor: pointer;
    }
    svg {
      margin-left: 10px;
    }
  }
  .copy {
    width: 40px;
    height: 44px;
    border: 1px solid $primaryDark;
    border-left: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    path {
      fill: $gray85;
    }
  }
  .error {
    color: $red;
    font-size: 16px;
    @include media-sm {
      font-size: 14px;
    }
  }
  .toggleStylesMakeVisible,
  .toggleStylesBubble {
    width: 220px;
    display: flex;
    align-items: center;
    color: $black;
    margin-top: 45px;
    margin-bottom: 32px;
    .toggleTitle {
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 32px;
      @include media-sm {
        font-size: 16px;
        line-height: 25px;
      }
    }
    .toggle {
      margin: 0 20px;
      @include media-sm {
        margin: 0 10px;
      }
    }
  }
  .toggleStylesBubble {
    margin-top: 20px;
  }
  .deleteProject {
    .deleteProjectTitle {
      height: 67px;
      margin: 0;
      margin-top: 23px;
      font-style: normal;
      font-weight: bold;
      font-size: 25px;
      line-height: 36px;
      display: flex;
      align-items: center;
      @include media-sm {
        font-size: 20px;
        line-height: 20px;
      }
    }
    .deleteProjectButton {
      width: 204px;
      height: 50px;
      font-size: 18px;
      margin-top: 39px;
      background-color: $redColor;
      border: 1px solid $redColor;
    }
    a {
      height: 83px;
      margin-bottom: 15px;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 32px;
      color: $black;
      @include media-sm {
        margin-top: 20px;
        height: 50px;
        font-size: 16px;
        line-height: 20px;
      }
      span {
        margin-left: 5px;
        margin-right: 5px;
        color: #1890ff;
      }
    }
  }
  .titleContainer {
    display: flex;
    .betaButton {
      width: 68px;
      height: 30px;
      padding: 10px;
      margin-left: 20px;
      margin-top: 7px;
      background-color: $primaryDark;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      color: white;
      font-style: normal;
      font-weight: 900;
      font-size: 15px;
      line-height: 26px;
    }
  }
}
.popConfirm {
  min-width: 250px;
  max-width: 400px;
  word-break: break-all;
  span {
    font-size: 12px;
  }
}

.savingStatus {
  height: 0;
  transform: translateY(-2em);
  font-size: 16px !important;
  justify-content: end;

  &_saved {
    color: rgb(52, 194, 97);
  }

  &_saving {
    color: rgb(194, 185, 52);
  }

  &_error {
    color: rgb(194, 52, 52);
  }
}
