@import '../../../../styles/variables.scss';

.title {
  padding: 15px 20px 35px 30px;
  margin: 0 -25px;
  font-style: normal;
  font-weight: 900;
  font-size: $text2;
  line-height: 36px;
  color: $black;
}
.messenger_tab {
  margin: 0 -25px;
  min-height: 655px;
  @include media-sm {
    min-height: 555px;
  }
  .content {
    display: flex;
    .messenger_list {
      width: 316px;
      height: 100%;
      border-right: 1px solid rgba(33, 33, 33, 0.07);
      @include media-sm {
        width: 111px;
        height: 355px;
        border: none;
      }
    }
    .messenger_content {
      width: 70%;
      @include media-sm {
        width: 80%;
      }
    }
  }
}
