@import '../../../styles/variables.scss';

.hero {
  &__container {
    position: relative;
    display: inline-block;
    background-color: #ffffff;
    border: 1px solid rgb(240, 240, 240);
    box-shadow: 0px 5px 20px 0px rgb(123 101 243 / 0.3);
    border-radius: 9px;
    width: 160px;
    height: 200px;
    margin-right: 15px;
    @include media-sm {
      height: 160px;
    }
  }

  &__top__section {
    padding: 10px;
    cursor: pointer;
    h3 {
      display: -webkit-box;
      -webkit-line-clamp: 1;
      white-space: pre-wrap;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    p {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      white-space: pre-wrap;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__text__row {
    width: 100%;
    height: 30px;
  }

  &__text__input {
    float: left;
    width: 100%;
    border: none;
    box-shadow: none !important;
    padding: 0;
    font-weight: bold;
    font-size: 0.8em;
  }

  &__img {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 95px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    background-color: #7560e7;
    @include media-sm {
      height: 70px;
    }

    img {
      object-fit: cover;
      width: 100%;
      height: 95px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      @include media-sm {
        height: 70px;
      }
    }

    &:hover {
      img {
        cursor: pointer;
        opacity: 0.9;
      }
    }
  }

  &__popconfirm {
    position: absolute;
    bottom: 0px;
    right: 5px;
    border-radius: 25px;
    width: 27px;
    height: 27px;
    display: flex;
    background: white;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    opacity: 1;

    &:hover {
      opacity: 1;
      cursor: pointer;
    }
  }
}
.uploadSvg {
  position: absolute;
  bottom: 35px;
  right: 5px;
  z-index: 5;
  width: 27px;
  height: 27px;
  display: flex;
  border-radius: 30px;
  background: white;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  path {
    fill: $black;
  }
}
