@import '../../../../../styles/variables.scss';


.modal {
    --padding: 60px;
    @include media-sm {
        --padding: 30px;
    }
    @include media-xs {
        --padding: 20px;
    }

    :global {
        .ant-modal-content {
            border-radius: var(--padding);
            padding: var(--padding);
            overflow: hidden;
        }
        .ant-modal-body {
            padding: 0;
            display: flex;
            flex-direction: column;
        }
        .ant-modal-close {
            top: var(--padding);
            right: var(--padding);
            height: 24px;
            width: 24px;
        }
        .ant-modal-close-x {
            height: 24px;
            width: 24px;
            line-height: 24px;

            svg {
                height: 24px;
                width: 24px;
            }
        }
    }


    &__title {
        font-weight: 700;
        font-size: 30px;
        line-height: 1em;
        margin-bottom: 120px;
        @include media-xs {
            font-size: 24px;
            margin-bottom: 70px;
        }
    }

    &__checkIcon {
        width: 200px;
        height: 200px;
        @include media-xs {
            width: 150px;
            height: 150px;
        }
        align-self: center;
        margin-bottom: 40px;
    }

    &__content {
        align-self: center;
        max-width: 520px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    &__text {
        max-width: 484px;
        font-weight: 500;
        font-size: 20px;
        line-height: 23.48px;
        text-align: center;
        margin-bottom: 70px;
        @include media-xs {
            font-size: 16px;
            margin-bottom: 40px;
        }
    }

    &__inputTitle {
        font-weight: 700;
        font-size: 15px;
        color: #848484;
        margin-bottom: 10px;
        align-self: flex-start;
    }

    &__linkContainer {
        display: flex;
        @include media-sm {
            flex-direction: column;
        }
    }
    
    &__link {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5em;
        border: 1px solid #848484;
        font-weight: 500;
        font-size: 12px;
        line-height: 17.38px;
        padding: 10px 20px;
        margin-right: 20px;
        @include media-sm {
            margin-right: 0;
            margin-bottom: 10px;
        }
        word-break: break-all;
    }

    &__copyButton {
        font-weight: 700;
        font-size: 15px;
        line-height: 30px;
        padding: 8px 51.5px;
    }
  
}