@import '../../../../styles/variables.scss';
@mixin bannerMix($bacColor) {
  max-width: 1920px;
  width: 100%;
  height: 170px;
  position: relative;
  cursor: pointer;
  background-color: $bacColor;
  overflow: hidden;
  display: flex;
}
.editContent {
  width: 328px;
  min-height: 256px;
  .edit_select {
    font-size: 15px;
    height: initial;
    min-height: 37px;
    margin-bottom: 22px;
  }
}
.bannerWrap {
  position: relative;
  @include media-sm {
    display: none;
  }
  .bannerWrapContent {
    padding: 21px 21px 30px 21px;
    background-color: $primaryBG;
    border-radius: 10px;
    margin-top: -6px;
  }
}
.banner {
  @include bannerMix(#d9edff);
}
.upload {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
  position: absolute;
  & > div > img {
    @include media-md {
      width: unset !important;
      height: unset !important;
      min-height: 0px !important;
    }
  }
}
.uploadDefault {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.bannerDefault {
  @include bannerMix($primaryDark);
}
.bannerPhotoDefault {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
}
.bannerPhoto {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  & > div {
    width: 100% !important;
    img {
      width: unset !important;
      height: unset !important;
      min-width: 0 !important;
      min-height: 0 !important;
      @include media-lg {
        width: 300px !important;
      }
    }
  }
}
.uploadContainer {
  margin-top: 30px;
  > div {
    width: 100%;
  }
}
.edit_settings {
  .edit {
    display: flex;
    align-items: center;
    cursor: pointer;
    span {
      margin-left: 10px;
    }
  }
}
.bannerGenres {
  display: flex;
  margin-bottom: 20px;
}
.bannerGenresItem {
  display: flex;
  align-items: center;
  margin-top: 22px;
  margin-right: 30px;
}
.bannerGenresItem button {
  display: flex;
  align-items: center;
  margin-top: 22px;
  padding-left: 0;
}
.bannerGenresItem span {
  margin-left: 10px;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
}
.lamp {
  margin: 0 15px;
}
.progress {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 22px;
  img {
    margin: 0 15px;
  }
  p {
    margin: 0;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
  }
  & > div{
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
  .edit{
    @include media-lg {
      margin-top: 20px;
    }
  }
  .socialContainer {
    @include media-lg {
      margin-top: 20px;
    }
    .shareTitle {
      width: 228px;
      height: 38px;
      display: flex;
      flex-direction: column;
      align-items: center;
      @include media-lg {
        width: auto;
        margin-right: 20px;
      }
      p{
        font-weight: 500;
        font-size: 12px;
        line-height: 17px;
        color: $black;
      }
    }
  }
}

.progressWrap {
  width: 308px;
  & > div {
    display: flex;
    align-items: center;
    & > span {
      font-weight: bold;
      font-size: 20px;
      line-height: 29px;
      color: $primaryDark;
    }
  }
}
