@import '../../../styles/variables.scss';

.project {
    cursor: pointer;
    transition: 0.2s;
    overflow: hidden;

    &:hover {
        transform: scale(1.01);
    }

    &__cover {
        position: relative;
        aspect-ratio: 1;
        border-radius: 30px;
        overflow: hidden;
        margin-bottom: 7px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        
    }

    &__title {
        font-weight: 700;
        font-size: 20px;
        word-wrap: break-word;
    }

    &__subtitle {
        font-weight: 400;
        font-size: 10px;
    }

    &__noImage {
        background: rgb(255, 255, 255);
        padding: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        color: rgb(31, 31, 31);
        font-size: 24px;
        border: 2px solid $primaryDark;
        border-radius: 30px;
        p {
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}