@import '../../styles/variables.scss';

.box {
  width: 100%;
  margin-bottom: 20px;
  .allGenres {
    height: 100%;
    @include media-lg {
      & > div {
        margin-right: 15px;
      }
    }
    @include media-md {
      width: 100%;
    }
  }
  ul {
    margin: 0;
  }
  &__wrapper {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
    // max-width: 1345px;
    height: 100px;
    background: #ffffff;
    border: 1px solid $white;
    box-sizing: border-box;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    padding: 0 50px;
    margin: 0 auto;
    position: relative;
    @media #{$media-lg} {
      padding: 0 30px;
    }
    @media #{$media-lg} {
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      height: auto;
      border: none;
      background: transparent;
      box-shadow: none;
      padding: 0;
    }
  }
  &__search {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    position: relative;
    @media #{$media-lg} {
      justify-content: flex-end;
      height: 50px;
      border: 1px solid #000;
      border-radius: 30px;
      margin-bottom: 24px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &_icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      margin-right: 20px;
      @media #{$media-lg} {
        display: none;
      }
    }
    &_submit {
      display: none;
      align-items: center;
      justify-content: center;
      width: 52px;
      height: 100%;
      @media #{$media-lg} {
        display: flex;
      }
    }
    &_field {
      height: 100%;
      input {
        font-weight: 500 !important;
      }
    }
  }
  &__nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-shrink: 0;
    height: 100%;
    margin-left: 45px;
    @include media-md {
      justify-content: center;
      max-width: 100%;
      width: 100%;
      margin-left: 0;
      flex-direction: column;
      align-items: flex-start;
    }
    &_button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: auto;
      height: 100%;
      margin-right: 95px;
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        span {
          color: $primaryDark;
        }
        svg {
          fill: $primaryDark;
        }
      }
      &__text {
        font-weight: bold;
        font-size: 20px;
        line-height: 1.45;
        color: $black;
        margin-right: 13px;
        transition: 0.3s;
        &:last-child {
          margin-right: 0;
        }
      }
      &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        bottom: -1px;
        svg {
          fill: $black;
          transition: 0.3s;
        }
      }
      &__active {
        span {
          color: $primaryDark;
        }
        i {
          transform: rotate(-180deg);
        }
        svg {
          fill: $primaryDark;
        }
      }
    }
    &_menu {
      width: auto;
      min-width: 295px;
      background: #fff;
      border: 1px solid $white;
      box-sizing: border-box;
      box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.07);
      border-radius: 10px;
      padding: 30px;
      padding-top: 60px;
      margin-top: 15px;
      position: absolute;
      top: 100%;
      right: 0;
      &__close {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background: $primaryDark;
        margin: 20px;
        position: absolute;
        top: 0;
        right: 0;
        &:hover {
          background: $primaryLight;
        }
      }
      &__list {
        &_item {
          display: flex;
          margin-bottom: 25px;
          &:last-child {
            margin-bottom: 0;
          }
        }
        &_link {
          font-weight: bold;
          font-size: 20px;
          line-height: 1.25;
          color: $black;
          &:hover {
            color: $primaryDark;
          }
          &:active {
            color: $primaryLight;
          }
          &:disabled {
            opacity: 0.2;
            &:hover {
              color: $black;
            }
            &:active {
              color: $black;
            }
          }
        }
      }
    }
    &_selectDef {
      max-width: 340px;
      height: 100%;
      font-weight: bold;
      font-size: 20px;
      line-height: 1.45;
      color: $black;
      margin-right: 48px;
      & > div {
        & > div {
          flex-wrap: initial !important;
          overflow-y: auto;
          & > div {
            margin-bottom: 10px;
          }
        }
      }
      @include media-md {
        max-width: 100%;
        width: 100%;
        font-size: 17px;
      }
      @include media-sm {
        padding: 0 10px;
        margin-right: 0;
      }
      &:last-child {
        @media #{$media-sm} {
          margin-bottom: 0;
        }
      }
    }
    &_select{
      & > div {
        & > div {
          overflow-y: clip;
          @include media-md{
            width: -webkit-fill-available !important;
          }
        }
      }
    }
  }
}
