@import '../../../styles/variables.scss';

$borderColor: #f0f0f0;
$colors: ($primaryDark, $orangeDark, $avatar_outline, $secondaryDark);

@mixin input {
  font-size: $text4;
  border-radius: 10px;
  border: 1px solid $primaryDark;
  overflow-y: auto !important;
  height: 50px !important;
  color: $black;
  padding: 10px;
  &::placeholder {
    color: rgb(170, 168, 168);
  }
  &:hover {
    border: 1px solid $primaryDark;
  }
  &:focus {
    border: 1px solid $primaryDark;
  }
}

.modal {
  max-width: 500px !important;
  margin-top: 50px !important;
  @include media-sm {
    width: 95% !important;
    max-width: 95% !important;
    margin-top: 0 !important;
  }
  & > div {
    border-radius: 5px;
    & > div {
      padding: 0;
      border-radius: 5px;
      border-bottom: none;
    }
  }
  .container {
    min-height: 320px;
    padding: 0;
  }
  .close {
    width: 39.71px;
    height: 39.26px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-top: 22px;
    background-color: #aca0f0;
    svg {
      width: 18.33px;
      height: 18.12px;
      path {
        fill: $text_white;
      }
    }
    &:hover {
      background-color: $primaryDark;
    }
    @include media-sm {
      width: 30px;
      height: 30px;
      margin-top: 8px;
      margin-left: 18px;
      svg {
        width: 13.33px;
        height: 13.12px;
      }
    }
  }
  .title {
    font-weight: bold;
    font-size: 18px;
    color: $black;
  }
  // .attachmentTitle {
  //   display: none;
  //   @include media-sm {
  //     display: block;
  //   }
  // }
  .border {
    width: 100%;
    left: 0;
    top: 75px;
    position: absolute;
    height: 2.95px;
    background: -webkit-linear-gradient(
      left,
      rgba(33, 33, 33, 0.07) -0.96%,
      rgba(33, 33, 33, 0) 100.58%
    );
    background: -moz-linear-gradient(
      left,
      rgba(33, 33, 33, 0.07) -0.96%,
      rgba(33, 33, 33, 0) 100.58%
    );
    background: linear-gradient(90deg, rgba(33, 33, 33, 0.07) -0.96%, rgba(33, 33, 33, 0) 100.58%);
    @include media-sm {
      top: 50px;
    }
  }
  .containerButton {
    display: flex;
    justify-content: space-between;
    button {
      font-size: 18px;
      width: 150px;
      height: 40px;
      border-radius: 4px;
    }
  }
  .modalTitle {
    color: $black;
    margin-top: 24px;
    text-align: center;
    padding: 14px;
    box-sizing: border-box;
  }
  .actions {
    font-size: 20px;
    color: #aaa9a9;
  }
  .modalSelect {
    box-sizing: border-box;
    border-radius: 5px;
    font-size: $text4;
    padding: 0;
    width: 100%;
    margin-bottom: $text4;
  }
  .nameInput {
    min-height: 59px;
  }
  // .send {
  //   width: 318.72px;
  //   height: 54.36px;
  //   margin: auto;
  //   margin-top: 24px;
  //   @include media-md {
  //     width: 250px;
  //   }
  //   @include media-sm {
  //     width: 315px;
  //   }
  // }
  .titleWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .desc {
    margin-top: 24px;
  }
  .anticon {
    padding: 4px;
    background: $primaryDark;
    border-radius: 50%;
    color: $text_white;
  }
  .attachmentContainer {
    display: flex;
    justify-content: space-between;
    span {
      color: $gray85;
      height: 24px;
      border-bottom: 1px solid $gray85;
      cursor: pointer;
      &:hover {
        color: $primaryDark;
      }
    }
  }
  .uploadMobile {
    // display: none;
    @include media-sm {
      // display: block;
      div {
        margin: 0;
      }
    }
  }
}
.description {
  text-align: center;
  margin-top: $text3;
  padding-top: $text3;
  padding-bottom: $text3;
  color: $black;
  border: 1px solid $borderColor;
  @include media-xs {
    font-size: 16px;
  }
}
.inputContainer {
  display: flex;
  margin: 0%;
  padding-bottom: 30px;
  @include media-sm {
    flex-direction: column;
  }
  & > div {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  // .uploadFile {
  //   flex: 1;
  //   border-left: 1px solid $borderColor;
  //   & > div {
  //     @include media-sm {
  //       display: none;
  //     }
  //     & > span {
  //       width: 320px;
  //       height: 220px;
  //       border-radius: 20px;
  //     }
  //   }
  // }
}

.submitButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  & > div:first-child {
    display: none;
    @include media-sm {
      width: 320px;
      height: 220px;
      display: flex;
      align-items: center;
    }
  }
}

.editStyle {
  margin-top: 16px;
  border-top: 1px solid $borderColor;
}

.selectModal {
  width: 356.4px;
  margin-top: 100px;
  @include media-md {
    width: 315px;
    margin-top: 70px;
  }
  & > form {
    & input {
      margin-top: $text6;
      background-color: $text_white;
      border-radius: 0;
      @include input();
      height: 59px;
    }
    .modalTexArea {
      @include input();
      min-height: 100px !important;
    }
  }
  .option {
    border: 1px solid $primaryDark;
    border-radius: 10px;
    div > div {
      @for $i from 1 through 7 {
        &:nth-child(#{length($colors)}n + #{$i}) {
          & > span {
            background-color: nth($colors, random(length($colors)));
            height: 36px;
            display: flex;
            align-items: center;
            color: white;
            font-size: 14px;
            font-weight: bold;
            border-radius: 15px;
            span {
              color: white;
            }
          }
        }
      }
    }
  }
  .childLength {
    padding-top: 6px;
  }
}

.content {
  width: 100%;
  height: 100%;
  text-align: left;
  color: $grey;
  padding: 30px;
  @include media-sm {
    padding: 21px;
  }
  .types {
    display: flex;
    align-items: center;
    font-size: $text5;
    color: $grey;
    svg {
      margin-right: 6px;
    }
  }
  .description {
    width: 100%;
    text-align: center;
    svg {
      margin-top: 40px;
      margin-bottom: 15px;
      @include media-sm {
        width: 87px !important;
        height: 63px !important;
      }
    }
  }
}
