@import '../../styles/variables.scss';

.share {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include media-sm {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .items {
    display: inline-block;
    margin-left: auto;
    @include media-sm {
      div{
        flex-direction: row !important;
      }
      margin:auto
    }
  }
}
.content {
  max-width: 860px;
  width: 100%;
  padding: 25px;
  margin: 0 auto;
  margin-bottom: 50px;
  a {
    display: inline-block;
    text-decoration: underline;
  }
  p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
  ul {
    margin: 0;
    margin-block-start: 0.6em;
    margin-block-end: 0.6em;
    list-style-type: disc;
    margin-left: 20px;
  }
  h1,
  h2,
  h3 {
    letter-spacing: -0.01em;
    line-height: 1.2;
    font-weight: 600;
    margin-bottom: 0;
  }
  h2 {
    font-size: 1.9rem;
    margin-top: 1.5rem;
  }
  h3{
    font-size: 1.3rem;
  }
  .pageTitle {
    font-size: 3rem;
    font-weight: 700;
    margin-top: 0;
    @include media-sm {
      text-align: center;
      margin-bottom: 0.75rem;
    }
  }
  .italic{
    font-style: italic;
  }
  .href{
    color: gray;
  }
}

.data {
  color: rgb(15, 123, 108);
  a {
    color: rgb(15, 123, 108);
  }
}
