@import '../../../styles/variables.scss';

.primary_textArea {
  width: 300px;
  padding: 7px 13px 9px 13px;
  font-family: Noto Sans JP;
  font-style: normal;
  font-weight: 500;
  font-size: $text3;
  line-height: 22px;
  color: $black;
  background: #fafafa;
  border: 1px solid #f4f4f4;
  box-sizing: border-box;
  border-radius: 5px;
  @include media-sm {
    font-size: $text4;
  }
  &:focus {
    box-shadow: 0px 0px 20px rgba(123, 101, 243, 0.27);
    border: 1px solid $primaryDark;
    color: $primaryDark;
  }

  &:hover {
    box-shadow: 0px 0px 20px rgba(123, 101, 243, 0.27);
    border: 1px solid $primaryDark;
    color: $primaryDark;
  }

  &::placeholder {
    color: $grey;
  }
}

.full_width {
  width: 100%;
}

.linear {
  background: inherit;
  border-radius: 0;
  padding-left: 0;
  border: none;
  border-bottom: 2px solid $black;

  &:focus {
    border: none;
    border-bottom: 2px solid #7b65f3;
    box-shadow: none;
  }

  &:hover {
    border: none;
    border-bottom: 2px solid #7b65f3;
    box-shadow: none;
  }
}
