@import '../../styles/variables.scss';

.menu {
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    bottom: 0;
    left: 0;
    right: 0;
    height: 48px;
    z-index: 100;
    background: #fff;
    box-shadow: 0px -3px 10px rgba(35, 0, 76, 0.1);
    border-radius: 8px;

    &__element {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        aspect-ratio: 1;
        border-radius: 50%;
        padding: 12px 9px;
        transition: 0.2s;

        &:active {
            background: lighten($pink, 50);
        }

        &_active {
            color: #fff;
            background: $pink;
            margin-top: -8px;
            margin-bottom: 8px;
        }

        & > svg {
            height: 24px;
            aspect-ratio: 1;
        }
    }
}

.dropdown {
    position: absolute;
    top: 0;
    // right: 0;
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px -3px 10px rgba(35, 0, 76, 0.1);
    transition: 0.2s;
    
    transform: translate(-10px, -50%);
    opacity: 0;
    pointer-events: none;
    &_active {
        transform: translate(-10px, -100%);
        opacity: 1;
        pointer-events: all;
    }

    &__element {
        display: flex;
        align-items: center;
        padding: 1em;
        font-size: 16px;
        border-bottom: 1px solid rgb(242, 242, 242);

        &:active {
            background: lighten($pink, 50);
        }

        & > svg {
            height: 1em;
            aspect-ratio: 1;
            margin-right: 0.6em;
        }
    }
}