@import '../../../styles/variables.scss';

.jobs {

    &__job {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &:not(:last-child) {
            margin-bottom: 15px;
        }
    }

    &__info {
        margin-right: 20px;
    }

    &__title {
        font-weight: 700;
        font-size: 15px;
    }

    &__description {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.3em;
        color: #858585;
    }

    &__nojob {
        color: #858585;
    }
}