@import '../../../styles/variables.scss';

.jobs {
  &__job {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  &__info {
    margin-right: 20px;
  }

  &__title {
    font-weight: 700;
    font-size: 15px;
  }

  &__description {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.3em;
    color: #858585;
  }

  &__nojob {
    color: #858585;
  }

  &__empty {
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    border: 1px solid #848484;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;

    button {
      margin-top: 15px;
    }
  }

  &__button {
    button {
      color: #000 !important;
    }
  }
}
