@import '../../styles/variables.scss';

.select {
  &__tags {
    border-radius: 18px;
    border: 1px solid #848484;
    padding: 0.6em 1.2em;
    font-size: 12px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 5px;
  }

  &__suggested {
    font-weight: 600;
    font-size: 15px;

    span {
      color: $pink;
      cursor: pointer;
      &:not(:last-child):after {
        content: ', ';
      }
    }
  }

  &:focus {
    border-color: $primaryDark;
    outline: none;
  }

  &__input {
    margin: 0 !important;
    border: none;
    background: transparent;
    flex: 1 1 auto;
    &::placeholder {
      color: #555;
      font-weight: 500;
      font-size: 12px;
      color: #858585;
    }
  }

  &__tag {
    background: $pink;
    border-radius: 2em;
    color: #fff;
    font-size: 12px;
    display: flex;
    align-items: center;
    padding: 0.5em 1em;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
  }
}
