@import '../../styles/variables.scss';


.container{
  width: 100%;
  display: flex;
  justify-content: center;
}

.heroContainer {
  width: fit-content;
  width: 70%;
  float: left;

  overflow-x: auto;
  white-space: nowrap;
  padding: 20px 25px;

  &::-webkit-scrollbar {
    height: 3px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px $black;
    background-color: $black;
    border-radius: 0;
  }

  &::-webkit-scrollbar-thumb {
    background: $primaryDark;
    border-radius: 0px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $primaryDark;
  }

  .noHero{
    margin-top: 40px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.addButtonContainer {
  width: 90%;
  float: left;
  border-left: 1px solid #f0f0f0;
  display: flex;
  justify-content: space-around;
  margin-bottom: 100px;
  @include media-sm {
    text-align: center;
    width: 30%;
  }
}

.heroesRow {
  height: 200px;
  margin-bottom: 15px;
  @include media-sm {
    text-align: center;
    height: 160px;
  }
}
