@import '../../styles/variables.scss';

.div_button {
  width: 80px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.popconfirm {
  position: fixed;
  z-index: 1131;
  left: 15px;
}

.status {
  margin-top: 15px;
  text-align: center;
}
