@import '../../styles/variables.scss';


.body {

    > div {
        border-radius: 10px 10px 0 0;
        overflow: hidden;
    }

    &__text {
        max-width: 700px;
        margin-top: 100px;
        margin-bottom: 40px;
    }
    
    &__title {
        font-weight: 700;
        font-size: 30px;
        margin-bottom: 25px;
    }
    
    &__description {
        font-weight: 400;
        font-size: 20px;
    }
}