@import '../../styles/variables.scss';

.shareButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  @include media-sm {
    flex-direction: column !important;
  }
  .copy{
    width: 32px !important;
    height: 32px !important;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #405f8f;
    svg{
      margin-top: -1px;
      margin-left: 1px;
    }
  }
  .text {
    font-weight: 900;
    font-size: $text4;
    line-height: 22px;
    color: $black;
    margin-bottom: 5px;
  }
  ul {
    margin-bottom: 0;
    display: flex;
    flex-wrap: nowrap;
    li {
      display: inline-block;
      margin-left: 5px;
      cursor: pointer;
    }
  }
}
