@import '../../styles/variables.scss';

.shareButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  @include media-sm {
    flex-direction: column !important;
  }
  .copy {
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      path{
        fill: #666262;
      }
    }
  }
  .text {
    font-weight: 900;
    font-size: $text4;
    line-height: 22px;
    color: $black;
    margin-bottom: 5px;
  }
  ul {
    margin-bottom: 0;
    display: flex;
    flex-wrap: nowrap;
    li {
      display: inline-block;
      margin-left: 5px;
      cursor: pointer;
      .titleIcon {
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 40px;
        color: $gray85;
        margin: 0;
        &:hover{
          color: $black;       
        }
        @include media-sm{
          font-size: 11px;
        }
      }
    }
  }
}
