@import '../../styles/variables.scss';

.modal {
  margin-top: 50px;
}
.modalTitle {
  font-weight: 900;
  font-size: 20px;
  line-height: 35px;
  color: $black;
  margin-top: 30px;
  text-align: center;
}
.publishedModal {
  p {
    text-align: center;
    max-width: 550px;
    font-weight: 500;
    font-size: 25px;
    line-height: 36px;
    margin: 30px auto 20px auto;
  }
}
.box {
  font-family: Noto Sans JP;
  padding: 30px 0 100px 0;
  @media #{$media-sm} {
    padding: 30px 0 80px 0;
  }
  .container {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
  }
  &__hr {
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, rgba(33, 33, 33, 0.07) -0.96%, rgba(33, 33, 33, 0) 100.58%);
  }
  &__wrapper {
    max-width: 839px;
    position: absolute;
    padding-bottom: 50px;
  }
  &__img {
    width: 174px;
    margin-bottom: 43px;
    &:last-child {
      margin-bottom: 0;
    }
    img {
      width: 100%;
      height: auto;
    }
  }
  &__title_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    @media #{$media-sm} {
      margin-bottom: 20px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__title {
    padding: 30px 0;
    @include media-sm {
      padding: 20px 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
    &_text {
      font-weight: 900;
      font-size: $text1;
      line-height: 1.25;
      text-align: center;
      margin: 0;
      @include media-sm {
        font-size: $text2;
      }
    }
  }
  &__description {
    padding: 30px 0;
    @include media-sm {
      padding: 20px 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
    &_text {
      .blue {
        color: $primaryLight;
      }
      font-size: $text3;
      line-height: 1.25;
      text-align: center;
      margin: 0;
      @include media-sm {
        font-size: $text4;
      }
    }
  }
  &__form {
    width: 100%;
  }
}

.boxBg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include media-sm {
    height: auto;
    padding-top: 75px;
  }
}

.bg {
  span {
    position: fixed !important;
  }
}

.content {
  max-width: calc(100% - 30px);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: 5px;
  background-color: $text_white;
  padding-top: 10px;
}
