@import '../../styles/variables.scss';

.subtitle {
  color: $black;
  font-size: $text2;
  font-weight: 900;
  font-size: 25px;
  line-height: 36px;
  display: flex;
  justify-content: space-between;
  width: 95%;
  .delete {
    color: $grey;
    cursor: pointer;
    &:hover {
      color: black;
      text-decoration: underline;
    }
  }
  &:last-of-type {
    padding-top: 12.5px;
    border-top: 2px solid rgba(33, 33, 33, 0.07);
  }
  @include media-sm {
    font-size: $text4;
  }
}
.accepted_message {
  opacity: 0.6;
  &:hover {
    opacity: 1;
  }
}
.messageList,
.messenger {
  padding-bottom: 15px;
  max-height: 504px;
  min-height: 504px;
  overflow-y: auto;
  @include media-sm {
    max-height: 400px;
    min-height: 400px;
  }
  &::-webkit-scrollbar {
    height: 3px;
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px $black;
    background-color: $black;
    border-radius: 0;
  }

  &::-webkit-scrollbar-thumb {
    background: $primaryDark;
    border-radius: 0px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $primaryDark;
  }
  .card {
    display: inline-block;
    margin-right: 16px;
  }
}
.messageList {
  padding-top: 16px;
  background-image: url('../../public/img/chatBG.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom right;
}

.message_community {
  position: relative;
  border-bottom: 1px solid rgba(33, 33, 33, 0.07);
  padding: 15px 20px 15px 20px;
  background-color: $primaryBG;
  width: 95%;
  display: flex;
  align-items: center;
  &:hover {
    cursor: pointer;
  }
  .mess_content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .dateBar{
      font-size: 10px;
      color: $primaryDark;
      position: absolute;
      left: 72%; 
      @include media-sm{
        left: 85%; 
      }
      @include media-xs{
        left: 80%; 
      }
    }
  }
  .messages {
    font-size: $text4;
    color: $grey;
    line-height: 20px;
    margin-bottom: 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    white-space: pre-wrap;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    @include media-sm {
      -webkit-line-clamp: 4;
    }
  }
  .div_button {
    width: 80px;
    display: flex;
    justify-content: space-between;
    @include media-sm {
      position: absolute;
      width: 60px;
      top: 15px;
      right: 0;
    }
  }
}

.chatContainer {
  width: 100%;
  .chatBlock2 {
    margin-top: 20px;
    border-top: 1px solid $white;
    position: relative;
    width: 100%;
    input {
      padding-top: 20px;
      border: none !important;
      &:focus {
        outline: none !important;
        box-shadow: none !important;
      }
    }
  }
  .sendMessage {
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 0px;
    button {
      font-size: $text4;
      width: 112px;
      height: 46px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.goBack {
  cursor: pointer;
  font-size: 27px;
  &:hover {
    color: $primaryDark;
  }
}

.request_status_acp {
  padding: 5px 10px;
  border-radius: 50px;
  border: 1px solid $primaryDark;
  color: $primaryDark;
}

.request_status_rej {
  padding: 5px 10px;
  border-radius: 50px;
  border: 1px solid #dc3545;
  color: #dc3545;
}

.isSmall {
  height: 107px;
  @include media-sm{
    height: 95px;
  }
  .message_community {
    width: 100%;
    height: 100%;
    @include media-sm {
      padding: 10px;
      text-align: center;
    }
    .title_block {
      width: 100%;
      display: flex;
      .avatar {
        @include media-sm {
          margin-left: 10px;
        }
      }
      .avatarName {
        font-size: initial !important;
        @include media-sm {
          font-size: 20px !important;
        }
      }
      img {
        border-radius: 50%;
        object-fit: cover;
      }
    }
    .name_special {
      width: 100%;
      margin-left: 14px;
      div {
        width: 100%;
      }
      h4 {
        max-width: 64%;
        font-size: $text4;
        line-height: $text4;
        text-align: initial;
        @include media-sm{
          max-width: 100%;
        }
      }
      p {
        max-width: 85%;
        font-size: $text5;
        line-height: 1.2;
        padding-bottom: 1px;
        margin: 0;
        margin-top: 4px;
        text-align: initial;
      }
    }
    .div_button {
      position: absolute;
    }
  }
}
.showMessageMobile{
  display: none;
}
.item {
  &:hover {
    .message_community {
      background-color: aliceblue;
    }
  }
}

.selected {
  .message_community {
    background-color: #d8edff;
  }
}
