@import '../../../../styles/variables.scss';

// .publishContent {
//   display: flex;
//   justify-content: flex-end;
//   position: relative;
//   top: 70px !important;
//   @include media-sm {
//     padding-left: 10px;
//     padding-right: 10px;
//     box-sizing: border-box;
//   }
//   .publishSwitch {
//     display: inline-flex;
//     padding: 20px 10px;
//     background-color: $primaryBG;
//     box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.07);
//     border-radius: 10px;
//     color: $grey;
//     font-family: Noto Sans JP;
//     margin-right: 10px;
//     .publishText {
//       margin-left: 10px;
//       margin-right: 10px;
//       margin-bottom: 0;
//       font-size: 16px;
//     }
//     .published {
//       color: $black;
//     }
//   }
// }
.storyTabContent {
  display: flex;
  justify-content: space-between;
  margin-top: 47px;
  margin-bottom: 20px;
  // .editSVG {
  //   cursor: pointer;
  //   display: flex;
  //   align-items: center;
  //   height: 40px;
  // }
  @media (max-width: 1600px) {
    padding-left: 30px;
    padding-right: 30px;
  }
  &_smallManrgin {
    margin-top: 10px;
    margin-bottom: 5px;
  }
  // .containerInput {
  //   flex-direction: column;
  // }
  // .header {
  //   margin: auto;
  //   display: flex;
  //   justify-content: center;
  //   flex-direction: column;
  //   align-items: center;
  //   min-height: 42px;
  //   max-height: 77px;
  //   @include media-md {
  //     padding: 0px;
  //   }

  //   h2 {
  //     font-weight: bold;
  //     font-size: 30px;
  //     line-height: 43px;
  //     color: #212121;
  //     @include media-xs {
  //       font-size: 25px;
  //     }
  //   }
  //   span {
  //     color: $primaryDark;
  //   }
  //   p {
  //     margin: 0 auto;
  //     font-size: 20px;
  //     color: $gray85;
  //     @include media-xs {
  //       font-size: 15px;
  //     }
  //   }
  // }
  .header {
    margin: 0 auto;
    text-align: center;
    @include media-md {
      padding: 0px;
    }
    h2 {
      font-weight: bold;
      font-size: 30px;
      line-height: 43px;
      color: #212121;
      @include media-xs {
        font-size: 20px;
      }
    }
    span {
      color: $primaryDark;
    }
    p {
      margin: 0 auto;
      font-size: 20px;
      color: $gray85;
      @include media-xs {
        font-size: 15px;
      }
    }
  }
}
// .containerInput {
//   flex-direction: column;
//   align-items: initial;
// }

.modal {
  top: 125px !important;
  width: 100% !important;
  max-width: 1000px !important;
  @include media-md {
    padding: 0 10px;
  }
  & > div > div > div > div:last-child{
    display: none;
  }
  & > div > button {
    width: 31px !important;
    height: 31px !important;
    background: $primaryDark !important;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 31px;
    margin-top: 20px;
    svg {
      width: 17px;
      height: 17px;
      path {
        fill: white !important;
      }
    }
    &:hover {
      background: $primaryLight !important;
    }
  }
}
.error {
  border-color: $red !important;
  color: $red;
}
.modalTitle {
  text-align: center;
}
