@import '../../../styles/variables.scss';

.modal {
  @include media-sm {
    width: 95% !important;
    max-width: 95% !important;
  }
  .content {
    padding: 5px;
  }
  h2 {
    margin-bottom: 11px;
  }
  .modalTitle {
    margin-top: 24px;
    text-align: center;
    font-family: Noto Sans JP;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
  }
  .modalSelect {
    box-sizing: border-box;
    border-radius: 5px;
    font-size: $text4;
    padding: 0;
    width: 100%;
  }
  .modalTexarea {
    min-height: 198px;
    border: 1px solid $primaryDark;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 12px;
  }
  .hugeButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 175px;
    height: 46px;
    margin: 20px auto;
    font-size: 15px;
  }
  .titleWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .desc {
    margin-top: 24px;
    font-family: Noto Sans JP;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
  }
  .anticon {
    padding: 4px;
    background: #7b65f3;
    border-radius: 50%;
    color: white;
  }
  .value {
    width: 100%;
    .modalInput {
      font-size: $text4;
      font-weight: 500;
      display: flex;
      align-items: center;
      height: 32px;
      input {
        font-size: $text4;
        font-weight: 500;
        &:hover {
          color: $primaryDark;
        }
      }
    }
    & > div > div {
      margin: 0 0 10px;
      div{
        font-size: 12px;
      }
    }
  }
  .short_info {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    margin-top: -8px;
    margin-bottom: 15px;
    display: block;
    color: #bbbbbb;
  }
  .line {
    width: calc(100% + 48px);
    margin-bottom: 25px;
    margin-left: -24px;
    border-bottom: 1px solid rgba(33, 33, 33, 0.07);
  }
}
