@import '../../../styles/variables.scss';

.modal {
  margin-top: 20px;
  @include media-sm {
    width: 95% !important;
    max-width: 95% !important;
    margin-top: 0px;
  }
  & > div {
    border-radius: 5px;
    & > div {
      padding: 17px 21px 0;
      border-bottom: 0px;
      border-radius: 5px;
    }
  }
  .content {
    padding: 5px;
  }
  h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 35px;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-align-items: center;
    -moz-box-align: center;
    align-items: center;
    margin: 0;
    margin-top: 14px;
    margin-bottom: 10px;
    @include media-sm {
      font-size: 15px;
      margin-top: 10px;
      margin-bottom: 6px;
    }
    & + div {
      margin-bottom: 0;
    }
  }
  .modalTitle {
    height: 37px;
    font-style: normal;
    font-weight: bold;
    font-size: $text3;
    line-height: 29px;
    color: $black;
    display: flex;
    align-items: center;
  }
  .border {
    margin-top: 16px;
    height: 2px;
    background: linear-gradient(90deg, rgba(33, 33, 33, 0.07) -0.96%, rgba(33, 33, 33, 0) 100.58%);
  }
  .selectDef,
  .select {
    height: 44px;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: $text4;
    padding: 0;
    width: 100%;
    border: 1px solid $primaryDark;
    display: flex;
    align-items: center;
    span {
      font-style: normal;
      font-weight: normal;
      font-size: $text4;
      line-height: 23px;
      color: $black;
    }
    & > div {
      border: none !important;
    }
  }
  .select {
    span {
      color: $gray85;
    }
  }
  .closeIcon {
    background-color: $primaryDark;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-top: 15px;
    &:hover {
      background-color: $primaryLight;
    }
    svg {
      width: 14px;
      height: 14px;
      path {
        fill: white;
      }
    }
  }
  .modalTexArea {
    min-height: 198px !important;
    border: 1px solid $primaryDark;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 12px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    border-color: $primaryDark !important;
  }
  .hugeButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 175px;
    height: 46px;
    margin-top: 66px;
    font-size: $text4;
    &:first-child{
      margin-right: 5px;
    }
  }
  .editHugeButton{
    margin-top: 30px;
  }
  .desc {
    margin-top: 24px;
    font-family: Noto Sans JP;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
  }
  .anticon {
    padding: 4px;
    background: $primaryDark;
    border-radius: 50%;
    color: white;
  }
  .value {
    width: 100%;
    .modalInput {
      height: 44px;
      border-radius: 6px;
      border: 1px solid $primaryDark;
      overflow-y: auto !important;
      color: $black;
      padding: 10px;
      font-style: normal;
      font-weight: normal;
      font-size: $text4;
      line-height: 23px;
      border-color: $primaryDark !important;
      input {
        font-size: $text4;
        font-weight: 500;
        &:hover {
          color: $primaryDark;
        }
      }
    }
    & > div > div {
      margin: 0 0 10px;
      div {
        font-size: 12px;
      }
    }
  }
  .buttonContainer {
    div {
      display: flex;
      justify-content: space-between;
    }
  }
}
