@import '../../styles/variables.scss';
.searchAndFilters {
  display: flex;
  flex-wrap: wrap;
  // @include media-sm {
  //     justify-content: space-between;
  // }
  align-items: center;
  font-size: 20px;
  @include media-md {
    // padding-left: 0;
    // justify-content: center;
  }
  margin-bottom: 0.5em;
  color: $gray85;
}
.searchFilterMobile {
  display: none;
  // padding: 0 0.5em;
  margin-right: 1em;
  @include media-xs {
    display: flex;
    align-items: center;
    height: 1.5em;
  }
  svg {
    height: 70%;
    fill: $gray85;
    path {
      fill: $gray85;
    }
  }
  &_active {
    svg path {
      fill: $primaryDark;
    }
  }
}
.search {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.07);
  background: #fff;
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 7px;
  // padding-left: 100px;
  @include media-md {
    padding-left: 0;
  }
  @include media-sm {
    max-width: none;
  }
  svg {
    height: 1.5em;
  }
  input {
    border: none;
    width: 100%;
    padding: 1em 1.5em;
    font-size: 18px;
    @include media-md {
      font-size: 16px;
    }
    @include media-xs {
      font-size: 14px;
    }
  }
}
.filters {
  display: flex;
  justify-content: space-evenly;
  float: right;
}
.filter {
  font-size: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  @include media-md {
    font-size: 16px;
  }
  @include media-xs {
    font-size: 14px;
  }
  &:hover {
    color: rgb(52, 52, 52);
    transition: 0.2s;
  }
  &:not(:last-child) {
    margin-right: 2em;
    @include media-xs {
      margin-right: 1em;
    }
  }
  svg {
    fill: $gray85;
    height: 0.5em;
    margin-left: 0.6em;
    @include media-xs {
      margin-left: 0.5em;
      font-size: 0.5em;
    }
    font-size: 0.8em;
  }
  &_active {
    transition: 0.2s;
    color: $primaryDark;
    &:hover {
      color: $primaryLight;
    }
    svg {
      transition: 0.2s;
      fill: $primaryDark;
      transform: rotate(-180deg);
    }
  }
  &_search {
    display: block;
    @include media-sm {
      display: none;
    }
  }
}
.options {
  @include media-md {
    padding-left: 0;
  }
  display: flex;
  flex-wrap: wrap;
  // box-shadow: 0 5px 20px rgba(0,0,0,.07);
  // background: #fff;1
  // border: 1px solid #f3f3f3;
  border-radius: 10px;
  // padding: 0.5em 0.5em 0 1em;
  margin-bottom: 0.8em;
  overflow: hidden;
  transition: 0.5s;
}
.selected {
  display: flex;
  flex-wrap: wrap;
  // padding: 0.2em 0.7em;
  align-items: center;
  &Label {
    color: #000;
    margin: 0 0.8em 0.5em 0;
  }
  opacity: 1;
  transition: 0.5s;
}

.noOptions {
  margin-top: 0.5em;
  color: $gray85;
  font-size: 20px;
}
