@import '../../../styles/variables.scss';

.add_button {
  display: inline;
  cursor: pointer;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  &:hover {
    span {
      color: $grey;
    }
    svg {
      path {
        fill: #7b65f3;
      }
    }
  }
  @media screen and (max-width: 767px) {
    width: 100%;
    justify-content: flex-end;
    margin-bottom: 15px;
  }
  span {
    font-weight: 500;
    font-size: 16px;
    color: #d3d3d3;
    margin-right: 7px;
  }
  svg {
    padding: 0;
    margin: 0;
    border-radius: 50%;
    fill: inherit;
    path {
      fill: #e5e0fd;
    }
    defs {
      display: none;
    }
  }
}

.dark {
  svg {
    &:hover {
      path {
        fill: #858585;
      }
    }
    path {
      fill: #f3f3f3;
    }
  }
}

.active_primary {
  svg {
    &:hover {
      path {
        fill: #fec447;
      }
    }
    path {
      fill: #ffd67d;
    }
  }
}
