@import '../../../styles/variables.scss';

.add_button {
  display: inline;
  cursor: pointer;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  &:hover {
    span {
      color: $grey;
    }
    svg {
      path {
        fill: $primaryLight;
      }
    }
  }
  @media screen and (max-width: 767px) {
    width: 100%;
    justify-content: flex-end;
    margin-bottom: 15px;
  }
  span {
    font-weight: 500;
    font-size: 16px;
    color: #7b7b7b;
    margin-right: 7px;
    &:hover {
      color: #afabab;
    }
  }
  svg {
    padding: 0;
    margin: 0;
    border-radius: 50%;
    fill: inherit;
    path {
      fill: $primaryDark;
    }
    defs {
      display: none;
    }
  }
}

.dark {
  svg {
    &:hover {
      path {
        fill: $gray85;
      }
    }
    path {
      fill: $grayBG;
    }
  }
}

.active_primary {
  svg {
    &:hover {
      path {
        fill: $orangeDark;
      }
    }
    path {
      fill: $orangeLight;
    }
  }
}
