@import '../../../../styles/variables.scss';

.isLiked {
  fill: $red !important;
  path {
    fill: $red !important;
  }
}
.descriptionContent {
  width: 95%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include media-md {
    border-radius: 0;
    height: 40px;
  }
  @include media-sm {
    width: 90%;
  }
  img {
    min-width: 90% !important;
    min-height: 90% !important;
    border-radius: 50%;
    margin-left: 2px !important;
    border: 2px solid $grayBG !important;
    background-color: #a5a3a3;
  }
  .description {
    margin-left: 10px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include media-md {
      font-weight: bold;
      color: $black;
      .type {
        font-weight: normal;
        font-size: 12px;
        color: $gray85;
      }
    }
    p {
      height: 22px;
      display: flex;
      align-items: center;
      color: $black;
      @include media-md {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        overflow: hidden;
        white-space: pre-wrap;
        -webkit-box-orient: vertical;
        margin: 0;
      }
    }
  }
  .avatarData {
    align-self: flex-start;
    &:hover {
      p {
        color: $primaryDark;
      }
    }
  }
}

.likeModalContainerStyle,
.likeContainer {
  @include media-md {
    width: 38px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    color: $black;
  }
}
.likeModalContainerStyle {
  @include media-md {
    margin-right: 30px;
  }
  @include media-sm {
    margin-right: 0px;
  }
}
