@import '../../styles/variables.scss';

.MangeStoryCard {
  display: inline-block;
  border: 1px solid $white;
  border-radius: 10px;
  width: 306px;
  cursor: pointer;
  margin-right: 15px;
  margin-bottom: 20px;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.04);
  &:hover {
    transition: 0.5s;
    box-shadow: 0px 0px 12px $primaryLight;
  }
  .type {
    width: 94px;
    height: 27px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    border-radius: 30px;
    color: white;
    margin-bottom: 15px;
  }

  .isOwn {
    background-color: $primaryDark;
    &:hover {
      box-shadow: 0 0 8px $primaryLight;
    }
  }

  .isPaid {
    background-color: $orangeDark;
    &:hover {
      box-shadow: 0 0 8px $orangeLight;
    }
  }

  .isColab {
    background-color: $secondaryDark;
    &:hover {
      box-shadow: 0 0 8px $secondaryLight;
    }
  }

  .title {
    color: $black;
    font-weight: bold;
    font-size: $text3;
    margin: 18px 18px 5px 18px;
  }
  .description {
    height: 83px;
    overflow: hidden;
    margin-bottom: 15px;

    p {
      color: $grey;
      font-size: $text4;
      line-height: 20px;
      margin: 0px 18px 15px 18px;
      display: -webkit-box;
      max-width: 306px;
      -webkit-line-clamp: 4;
      white-space: pre-wrap;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .colabMainImg {
    object-fit: cover;
    width: 100%;
    height: 172px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .colabImg {
    position: relative;
    width: 100%;
    height: 172px;
  }
  .team {
    width: 90%;
    overflow: hidden;
    position: absolute;
    bottom: 10px;
    left: 10px;
    .participents {
      display: flex;
      margin-left: 20px;
      a {
        width: 50px;
        height: 50px;
        margin-left: -15px;
        border: 2px solid white;
        border-radius: 50%;
        position: relative;
        z-index: 2;
        img {
          border-radius: 50%;
          position: relative;
        }
      }
    }
  }
}
