@import '../../../../styles/variables.scss';
.href{
  &:hover{
    background-color: rgba(255, 255, 255, 0.5);
  }
}
.tags {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  background-color: #f9f9f9;
  border-radius: 16px;
  padding-top: 16px;
  &Top {
    display: flex;
    align-items: center;
    margin-left: 16px;
    margin-bottom: 16px;
    h4 {
      color: #1f2224;
      font-size: 17px;
      font-weight: 500;
      letter-spacing: normal;
      line-height: 22px;
    }
  }
  &List {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }
  &ListItem {
    cursor: pointer;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ededed;
    padding-top: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    margin-left: 16px;
    justify-content: space-between;
  }
  &Descr {
    display: flex;
    align-items: center;
    padding-right: 15px;
  }
  &Images {
    border-radius: 4px;
    object-fit: cover;
  }
  &DescrText {
    width: 110px;
    line-height: 20px;
    color: #1f2224;
    font-weight: 500;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    white-space: pre-wrap;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 10px;
  }
  &Count {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    color: #2981b8;
  }
  &Buttons {
    padding-left: 32px;
    padding-right: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 1200px) {
      padding-top: 15px;
      padding-left: 25px;
      padding-right: 15px;
    }
    @media (max-width: 767px) {
      padding: 20px 30px;
      justify-content: space-between;
    }
  }
  &Prev {
    border: none;
    background: none;
    transition: all 0.2s;
    outline: transparent;
    display: flex;
    align-items: center;
    padding: 16px;
    margin-right: 30px;
    @media (max-width: 1200px) {
      padding: 0;
      margin-right: 0;
    }
    &Arr {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
    }
  }
  &Next {
    border: none;
    background: none;
    transition: all 0.2s;
    outline: transparent;
    display: flex;
    align-items: center;
    padding: 16px;
    @media (max-width: 1200px) {
      padding: 0;
    }
    &Arr {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
    }
  }
}
.defStyle{
  width: 37px;
  height: 43px;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  background: $primaryLight;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
}
