@import '../../../styles/variables.scss';

$borderColor: #f0f0f0;

@mixin input {
  font-size: $text4;
  border-color: $gray85;
  &::placeholder{
    color: $gray85;
  }
}

@mixin font($size, $line, $style, $weight){
  font-style: $style;
  font-weight: $weight;
  font-size: $size;
  line-height: $line;
}

.modal {
  margin-top: $text3 !important;
  @include media-sm {
    width: 95% !important;
    max-width: 95% !important;
  }
  & > div > div{
    padding: 0;
    border: none;
  }
  .container{
    min-height: 320px;
    padding: 0;
  }
  .close{
    width: 39.71px;
    height: 39.26px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-top: 22px;
    background-color: #aca0f0;
    svg{
      width: 18.33px;
      height: 18.12px;
      path{
        fill: $text_white;
      }
    }

    &:hover{
      background-color: $primaryDark;
    }
    @include media-sm{
      width: 30px;
      height: 30px;
      margin-top: 8px;
      margin-left: 18px;
      svg {
        width: 13.33px;
        height: 13.12px;
      }
    }
  }
  .modalTitle {
    color: $black;
    margin-top: 24px;
    text-align: center;
    @include font($text1, 35px, normal, bold);
    padding: 14px;
    box-sizing: border-box;
  }
  .modalSelect {
    box-sizing: border-box;
    border-radius: 5px;
    font-size: $text4;
    padding: 0;
    width: 100%;
    margin-bottom: $text4;
  } 
  .send{
    width: 318.72px;
    height: 54.36px;
    margin: auto;
    margin-top: 24px;
    @include media-md {
        width: 250px;
    }
    @include media-sm {
      width: 315px;
  }
  }
  .titleWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .desc {
    margin-top: 24px;
    @include font($text3, $text1, normal, normal);
  }
  .anticon {
    padding: 4px;
    background: $primaryDark;
    border-radius: 50%;
    color: $text_white;
  }
}

.description{
  @include font($text3, $text2, normal, normal);
  text-align: center;
  margin-top: $text3;
  padding-top: $text3;
  padding-bottom: $text3;
  color: $black;
  border: 1px solid $borderColor;
}

.inputContainer{
  display: flex;
  margin: 0%;
  @include media-sm{
    flex-direction: column;
  }
  & > div {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;   
  }
  & > .uploadFile{
    flex: 1;
    border-left: 1px solid $borderColor;
    & > div {
      @include media-sm {
        display: none;
      }
      & > span {
        width: 320px;
        height: 220px;
        border-radius: 20px;
      }
    } 
  }
}

.submitButton{
  display: flex;
  flex-direction: column;
  align-items: center;
  & > div:first-child {
    display: none;
    @include media-xs {
        width: 326px;
        display: flex;
        align-items: center;
    }
  }
}

.editStyle {
  margin-top: 16px;
  border-top: 1px solid $borderColor;
}

.selectModal{
  width: 356.4px;
  margin-top: 50px;
  @include media-md{
    width: 250px;
  }

  @include media-sm{
    width: 315px;
  }
  & > form {
    & > h3 {
      color: $gray85;
      @include font($text4, $text2, normal, normal);
    }
    & input {
      margin-top: $text6;
      background-color: $text_white;
      border-radius: 0;
      @include input();
    }
    & textarea{
      @include input();
    }
  }
}

.content {
  width: 100%;
  height: 100%;
  text-align: left;
  color: $grey;
  padding: 30px;
  @include media-sm {
    padding: 21px;
  }
  .types {
    display: flex;
    align-items: center;
    font-size: $text5;
    color: $grey;
    svg {
      margin-right: 6px;
    }
  }
  .description {
    width: 100%;
    text-align: center;
    svg {
      margin-top: 40px;
      margin-bottom: 15px;
      @include media-sm {
        width: 87px !important;
        height: 63px !important;
      }
    }
  }
}
