@import '../../../styles/variables.scss';

.modal {
  top: 20px;
  height: calc(100% - 30px);
  margin: auto;
  & > div {
    border-radius: 10px;
    display: flex;
    justify-content: center;
  }
  span:hover {
    path {
      fill: white;
    }
  }
  @include media-sm {
    max-width: calc(100% - 16px);
    height: 100vh;
  }

  img {
    object-fit: contain;
    min-height: 90% !important;
  }

  .closeIcon {
    background-color: $primaryDark;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-top: 15px;
    &:hover {
      background-color: $primaryLight;
      svg {
        path {
          fill: white;
        }
      }
    }
    svg {
      width: 14px;
      height: 14px;
      path {
        fill: white;
      }
    }
  }
}
