@import '../../../styles/variables.scss';

.itemChapters {
  position: relative;
  min-width: 80px;
  max-width: 80px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  &:hover {
    .opacity {
      background: #21212100;
    }
  }
  @include media-sm {
    position: relative;
    min-width: 50px;
    max-width: 50px;
    height: 50px;
    margin: 0;
    margin-left: 5px;
  }
  div {
    height: 80px;
    overflow: hidden;
    @include media-sm {
      height: 50px;
    }
  }
  p {
    text-align: center;
    color: white;
    margin: 0;
    @include media-sm {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 0;
      z-index: 5;
    }
  }
  img {
    object-fit: cover;
  }
}

.activeChapter {
  p {
    color: $black;
    @include media-sm {
      color: white;
    }
  }
  .opacity {
    background: #00000000;
  }
}
.opacity {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #00000096;
}
