@import '../../styles/variables.scss';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__arrows {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 22px;
    color: #757575;
    @include media-sm {
      display: none;
    }

    &_mobile {
      display: none;
      justify-content: center;
      @include media-sm {
        display: flex;
      }
    }
  }

  &__tip {
    display: flex;
    @include media-sm {
      display: none;
    }
    &_mobile {
      display: none;
      @include media-sm {
        display: flex;
      }
    }
  }

  &__mobileArrowsAndTip {
    display: flex;
    align-items: center;
    justify-content: center;
    @include media-sm {
      margin-top: 10px;
    }
  }

  &__arrow {
    &:first-child {
      transform: rotate(90deg);
      margin-right: 10px;
    }
    &:last-child {
      transform: rotate(-90deg);
      margin-left: 10px;
    }
    svg {
      height: 1.2em;
      stroke: #000;
      cursor: pointer;

      &:hover {
        stroke: lighten(#000, 20%);
      }
      &:active {
        stroke: lighten(#000, 30%);
      }
    }
    &_disabled {
      svg {
        stroke: lighten(#000, 50%);
        cursor: default;
      }
      pointer-events: none;
    }
  }

  &__close {
    svg {
      height: 24px;
    }

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.5;
    }
  }
}
