.container {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  .menu {
    width: 80%;
    height: 100vh;
    max-width: 1200px;
    padding-top: 20px;
    box-sizing: border-box;
    box-shadow: 0px 0px 6px grey;
    h1, p{
      text-align: center;
    }
    .imageContainer {
      position: relative;
      width: 100%;
      height: 600px;
      img {
        object-fit: contain !important;
      }
    }
  }
}
