@import '../../../../../styles/variables.scss';

.card_wrap {
  border: 1px solid black;
  width: 100%;
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  align-items: flex-end;
  border-top: 1px solid rgb(233, 232, 232);
  @include media-sm {
    padding: 5px 10px;
  }
  @include media-xs {
    padding: 0;
  }
  &::-webkit-scrollbar {
    height: 6px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px $black;
    background-color: $black;
    border-radius: 0;
  }

  &::-webkit-scrollbar-thumb {
    background: $primaryDark;
    border-radius: 0px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $primaryDark;
  }

  .cont {
    display: flex;
    flex-direction: column;
    @include media-xs {
      padding-bottom: 10px;
      box-sizing: border-box;
    }
  }

  .itemPage {
    width: 273.61px;
    height: 320px;
    border-radius: 10px;
    box-sizing: border-box;
    margin-right: 28px;
    box-sizing: border-box;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    .content {
      height: 60%;
      padding: 17px 18px 0;
      border: 1px solid black;
      h2 {
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 29px;
        color: $black;
        margin-bottom: 15px;
      }
      p {
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 20px;
        height: 84px;
        color: $gray85;
        word-break: break-word;
        overflow: hidden;
        -webkit-line-clamp: 4;
        white-space: pre-wrap;
        -webkit-box-orient: vertical;
      }
    }
    .pageImage {
      height: 40%;
      border: 1px solid black;
    }
  }
}
