@import '../../../../../styles/variables.scss';

.containerPage {
  display: flex;
  @include media-sm {
    flex-direction: column;
    white-space: nowrap;
    align-items: flex-end;
    overflow-y: auto;
    max-height: 280px;
    margin-right: 20px;
    padding: 0;
    &::-webkit-scrollbar {
      width: 8px;
      height: 4px;
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 2px $black;
      background-color: $black;
      border-radius: 0;
    }

    &::-webkit-scrollbar-thumb {
      background: $primaryDark;
      border-radius: 0px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: $primaryDark;
    }
  }
}
