@import '../../styles/variables.scss';
@mixin hoverButton {
  svg {
    path {
      fill: $primaryDark;
    }
  }
  &:hover {
    svg {
      path {
        fill: $primaryLight;
      }
    }
  }
}
.title {
  color: $black;
  font-size: $text2;
  font-weight: 900;
  font-size: 25px;
  line-height: 36px;
  margin-bottom: 30px;
  @include media-sm {
    & + div > div {
      max-width: 100%;
    }
  }
  @include media-xs {
    margin-bottom: 10px;
  }
}

.img_add_button {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  @include media-sm {
    svg {
      height: 18px;
      width: 18px;
    }
  }
}

.headerPortfolio {
  display: flex;
  justify-content: space-between;
  @include media-xs {
    flex-direction: column;
  }
  .uploadText {
    width: 100%;
    max-width: 128px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-top: 10px;
    text-align: center;
    @include media-sm {
      max-width: 140px;
    }
    span {
      color: $grey;
    }
    &:hover {
      span {
        color: rgb(143, 141, 141);
      }
    }
    div {
      width: 100%;
      display: flex;
      justify-content: space-between;
      @include media-sm {
        justify-content: center;
        margin-right: 10px;
        margin: 0px;
      }
      @include hoverButton;
    }
    span {
      max-width: calc(100% - 35px);
      font-size: 15px;
      font-weight: normal;
      display: block;
      margin-left: 0;
      margin-right: 0;
      text-align: center;
      @include media-sm {
        display: inline;
        padding-right: 5px;
      }
    }
  }
  .uploadFile {
    width: 100%;
    max-width: 186px;
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    @include media-sm {
      max-width: 166px;
    }
    span {
      color: $grey;
    }
    &:hover {
      span {
        color: rgb(143, 141, 141);
      }
    }
    div {
      width: 100%;
      display: flex;
      justify-content: space-between;
      @include hoverButton;
    }
    span {
      text-align: center;
      width: 100%;
      font-size: 15px;
      font-weight: normal;
      display: block;
      margin-left: 0;
      margin-right: 0;
      @include media-sm {
        display: inline;
        padding-left: 0px;
      }
    }
    svg {
      min-width: 25px;
      min-height: 25px;
      @include media-sm {
        min-width: 18px;
        min-height: 18px;
        margin-left: 5px;
      }
    }
  }
}

.imagesBlock {
  display: flex;
  flex-wrap: wrap;
  @include media-sm {
    flex-wrap: unset;
    margin-bottom: 15px;
    overflow-x: auto;
    white-space: nowrap;
    &::-webkit-scrollbar {
      height: 3px;
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 2px $black;
      background-color: $black;
      border-radius: 0;
    }

    &::-webkit-scrollbar-thumb {
      background: $primaryDark;
      border-radius: 0px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: $primaryDark;
    }
  }
}
