@import '../../styles/variables.scss';

.title {
  color: $black;
  font-size: $text2;
  font-weight: 900;
  font-size: 25px;
  line-height: 36px;
  @include media-sm {
    font-size: $text4;
  }
}
.liked {
  path {
    fill: red !important;
  }
}
.img_add_button {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  @include media-sm {
    align-items: self-end;
    position: relative;
    justify-content: flex-end;
    width: 100%;
    svg {
      // position: absolute;
      // top: -35px;
      // right: 0px;
      height: 18px;
      width: 18px;
    }
  }
  & > span {
    @include media-sm {
      display: flex;
      width: 100%;
      justify-content: flex-end;
    }
  }
}
.imagesBlock {
  display: flex;
  flex-wrap: wrap;

  @include media-sm {
    display: block;
    margin-bottom: 15px;
    overflow-x: auto;
    white-space: nowrap;
    .galleryImg {
      display: inline-block;
    }
    &::-webkit-scrollbar {
      height: 3px;
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 2px $black;
      background-color: $black;
      border-radius: 0;
    }

    &::-webkit-scrollbar-thumb {
      background: $primaryDark;
      border-radius: 0px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: $primaryDark;
    }
  }

  .galleryImg {
    cursor: pointer;
    position: relative;
    width: 227px;
    height: 207px;
    border-radius: 10px;
    margin-bottom: 15px;
    margin-right: 15px;
    color: $text_white;
    font-weight: 900;
    font-size: $text4;

    .dustbin {
      position: absolute;
      right: 15px;
      top: 15px;
      display: flex;
      align-items: center;
      z-index: 15;
      display: none;
      svg {
        margin-right: 10px;
        margin-left: 20px;
        path {
          fill: transparent;
          stroke: $text_white;
          stroke-width: 1px;
          stroke-linejoin: round;
        }
        &:hover {
          path {
            stroke: red;
          }
        }
      }
    }
    .heart {
      position: absolute;
      right: 15px;
      bottom: 15px;
      display: flex;
      align-items: center;
      z-index: 15;
      display: none;
      svg {
        margin-right: 10px;
        margin-left: 20px;
        path {
          fill: transparent;
          stroke: $text_white;
          stroke-width: 1px;
          stroke-linejoin: round;
          &:hover {
            fill: red;
            stroke: red;
          }
        }
      }
    }
    img {
      width: 227px;
      height: 207px;
      border-radius: 10px;
      object-fit: cover;
    }
    .filter {
      position: absolute;
      z-index: 10;
      width: 227px;
      height: 207px;
      border-radius: 10px;
      transition: 0.4s;
    }
    &:hover {
      .heart {
        display: block;
      }
      .dustbin {
        display: block;
      }
      .filter {
        position: absolute;
        z-index: 10;
        width: 227px;
        height: 207px;
        border-radius: 10px;
        transition: 0.4s;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #7b65f3 100%);
      }
    }
  }
}
