@import '../../styles/variables.scss';
@mixin hoverButton {
  svg {
    path {
      fill: $primaryDark;
    }
  }
  &:hover {
    svg {
      path {
        fill: $primaryLight;
      }
    }
  }
}
.title {
  color: $black;
  font-size: $text2;
  font-weight: 900;
  font-size: 25px;
  line-height: 36px;
  margin-bottom: 30px;
  @include media-sm {
    & + div > div {
      max-width: 100%;
    }
  }
}

.img_add_button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include media-sm {
    align-items: center;
    position: relative;
    justify-content: flex-end;
    width: 100%;
    flex-direction: row;
    margin-bottom: 20px;
    svg {
      height: 18px;
      width: 18px;
    }
  }
  & > span {
    @include media-sm {
      display: flex;
      padding: 5px 0px 5px 5px;
      justify-content: flex-end;
    }
  }
}
.uploadText {
  width: 100%;
  max-width: 130px;
  margin-bottom: 10px;
  span {
    color: $grey;
  }
  @include media-sm {
    max-width: 165px;
    margin-bottom: 0px;
  }
  text-align: center;
  &:hover {
    span {
      color: rgb(143, 141, 141);
    }
  }
  div {
    width: 100%;
    flex-direction: row-reverse;
    display: flex;
    justify-content: space-between;
    @include media-sm {
      flex-direction: row;
      justify-content: center;
      margin-right: 10px;
      margin: 0px;
    }
    @include hoverButton;
  }
  span {
    max-width: calc(100% - 35px);
    font-size: 15px;
    font-weight: normal;
    display: block;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    @include media-sm {
      display: inline;
      padding-right: 5px;
    }
  }
}

.uploadFile {
  width: 100%;
  max-width: 193px;
  display: flex;
  justify-content: space-between;
  span {
    color: $grey;
  }
  @include media-sm {
    width: unset;
    max-width: 178px;
  }
  &:hover {
    span {
      color: rgb(143, 141, 141);
    }
  }
  div {
    width: 100%;
    flex-direction: row-reverse;
    display: flex;
    justify-content: space-between;
    @include hoverButton;
    @include media-sm {
      height: 0;
      margin-bottom: 0;
      flex-direction: row;
      justify-content: center;
    }
  }
  span {
    text-align: center;
    width: 100%;
    font-size: 15px;
    font-weight: normal;
    display: block;
    margin-left: 0;
    margin-right: 0;
    @include media-sm {
      display: inline;
      padding-left: 0px;
    }
  }
  svg {
    min-width: 25px;
    min-height: 25px;
    @include media-sm {
      min-width: 18px;
      min-height: 18px;
      margin-left: 5px;
    }
  }
}

.imagesBlock {
  display: flex;
  flex-wrap: wrap;
  @include media-sm {
    flex-wrap: unset;
    margin-bottom: 15px;
    overflow-x: auto;
    white-space: nowrap;
    &::-webkit-scrollbar {
      height: 3px;
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 2px $black;
      background-color: $black;
      border-radius: 0;
    }

    &::-webkit-scrollbar-thumb {
      background: $primaryDark;
      border-radius: 0px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: $primaryDark;
    }
  }
}
