@import '../../../styles/variables.scss';

.headerContainer {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 0 20px;
  background-color: white;
  z-index: 5;
  top: 0;
  box-shadow: -12px 16px 20px -19px rgb(0 0 0 / 25%);
  @include media-md{
      justify-content: center;
  }
  .leftContainer {
    width: 600px;
    display: flex;
    align-items: center;
    @include media-md{
      width: 100%;
      justify-content: center;
    }
    .mangaTitle {
      text-transform: uppercase;
      max-width: 100px;
      white-space: nowrap;
      overflow: hidden;
      display: block;
      text-overflow: ellipsis;
    }
    a {
      @include media-md {
        display: none;
      }
    }
    .chapterTitle {
      width: 100px;
      margin-left: 5px;
      font-size: $text4;
      white-space: nowrap;
      overflow: hidden;
      display: block;
      text-overflow: ellipsis;
    }
    .chapterCount, svg {
      margin-left: 10px;
      @include media-lg{
        margin-left: 5px;
      }
    }
    p {
      color: $black;
      font-size: $text3;
      font-weight: 500;
      letter-spacing: normal;
      line-height: 29px;
      margin: 0;
      margin-left: 20px;
      display: flex;
      align-items: center;
      @include media-lg {
        font-size: $text4;
        line-height: 20px;
        margin-left: 10px;
      }
    }
    svg {
      path {
        fill: $black;
      }
    }
  }
  .shareButtons {
    width: 600px;
    @include media-md {
      display: none;
    }
  }
  .paginationContainer{
    width: 130px;
      @include media-md{
          display: none;
      }
  }
}
