@import '../../../styles/variables.scss';

.chooseReadType {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $black;
  border-radius: 5em;
  padding: 0 20px;

  .arrowsContainer {
    display: flex;
    align-items: center;
    svg {
      &:hover {
        path {
          fill: white;
        }
      }
      path {
        fill: $grey;
      }
    }
    p {
      font-weight: bold;
      color: white;
      margin: 0 5px;
    }
  }
  
  .readIcon, .listIcon {
    cursor: pointer;
    width: 24px;
    height: 24px;
    margin-left: 10px;
    &:hover {
      opacity: 0.8;
    }
    &:active {
      opacity: 0.6;
    }
  }

  .readIcon {
    &_active {
      path {
        fill: white;
      }
    }
  }
  
  .listIcon {
    &_active {
      path {
        stroke: white;
      }
    }
  }
}
