@import '../../../styles/variables.scss';

$borderColor: #f0f0f0;

@mixin input {
  font-size: $text4;
  border-color: $gray85;
  &::placeholder {
    color: $gray85;
  }
}

@mixin font($size, $line, $style, $weight) {
  font-style: $style;
  font-weight: $weight;
  font-size: $size;
  line-height: $line;
}

.modal {
  margin-top: 215px;
  display: inline-table !important;
  padding: 0;
  vertical-align: top !important;
  & > div {
    height: 100%;
    border-radius: 14px;
    & > div {
      display: flex;
      justify-content: center;
      padding: 0;
      border-top-right-radius: 14px;
      border-top-left-radius: 14px;
      &:last-child {
        border: none;
      }
      & > div {
        width: 380.86px;
        height: 100px;
        font-weight: bold;
        font-size: 30px;
        line-height: 35px;
        color: $black;
        display: flex;
        justify-content: center;
        align-items: center;
        @include media-md {
          font-size: 25px;
        }
      }
    }
  }
  .close {
    width: 39px;
    height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-top: 22px;
    background: rgba(123, 101, 243, 0.21);
    svg {
      path {
        fill: $text_white;
      }
    }

    &:hover {
      background-color: $primaryDark;
    }
    @include media-sm {
      width: 30px;
      height: 30px;
      margin-top: 8px;
      margin-left: 18px;
      svg {
        width: 13.33px;
        height: 13.12px;
      }
    }
  }
  .inputContainer {
    width: 410px;
    min-height: 230px;
    height: auto;
    margin-top: 41px;
    margin-bottom: 60px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    position: relative;
    @include media-sm {
      width: 350px;
    }
    @media (max-width: 400px) {
      width: 300px;
    }
    p {
      height: 31px;
      font-weight: normal;
      font-size: 15px;
      line-height: 22px;
      color: $black;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      margin-bottom: -12px;
    }
    form {
      width: 100%;
      position: relative;
      & > div {
        margin: 0;
      }
      .input {
        height: 31px;
        padding: 0;
        margin-top: 21px;
        border-bottom: 1px solid $gray85;
        font-weight: normal;
        font-size: 15px;
        line-height: 22px;
        &::placeholder {
          height: 27px;
          font-weight: normal;
          font-size: 15px;
          line-height: 22px;
          color: $gray85;
        }
      }
      // .addMany {
      //   height: 29px;
      //   font-weight: normal;
      //   font-size: 10px;
      //   line-height: 14px;
      //   color: $primaryDark;
      //   cursor: pointer;
      // }
      .send {
        width: 100%;
        height: 54px;
        margin-top: 40px;
      }
    }
    .copyContainer {
      height: 35px;
      display: flex;
      align-items: center;
      margin-top: 15px;
      border-radius: 5px;
      border: 1px solid $gray85;
      .copyInput {
        padding: 0;
        padding-left: 29px;
        box-sizing: border-box;
        border: none;
        position: relative;
        font-weight: normal;
        font-size: 15px;
        line-height: 22px;
        &::placeholder {
          position: absolute;
          color: $gray85;
          font-weight: normal;
          font-size: 15px;
          line-height: 22px;
        }
      }
    }
    .newInputsContainer {
      position: relative;
      & > div {
        margin-bottom: 0;
      }
    }
    .copyButton {
      width: 96px;
      height: 100%;
      font-weight: bold;
      font-size: 15px;
      line-height: 30px;
      color: white;
      background-color: $primaryDark;
      &:hover {
        background-color: #5b48c9;
      }
    }
    // .switchContainer {
    //   width: 100%;
    //   display: flex;
    //   align-items: center;
    //   margin-top: 16px;
    //   .switch {
    //     position: relative;
    //     display: inline-block;
    //     width: 28px;
    //     height: 16px;
    //     input {
    //       opacity: 0;
    //       width: 0;
    //       height: 0;
    //     }
    //     input:checked + .slider {
    //       background-color: $primaryDark;
    //     }
    //     input:focus + .slider {
    //       box-shadow: 0 0 1px $primaryDark;
    //     }
    //     input:checked + .slider:before {
    //       -webkit-transform: translateX(10px);
    //       -ms-transform: translateX(10px);
    //       transform: translateX(10px);
    //     }
    //   }
    //   .slider {
    //     position: absolute;
    //     cursor: pointer;
    //     top: 0;
    //     left: 0;
    //     right: 0;
    //     bottom: 0;
    //     background-color: #ccc;
    //     -webkit-transition: 0.4s;
    //     transition: 0.4s;
    //   }
    //   .slider:before {
    //     position: absolute;
    //     content: '';
    //     height: 10px;
    //     width: 10px;
    //     left: 4px;
    //     bottom: 3px;
    //     background-color: white;
    //     -webkit-transition: 0.4s;
    //     transition: 0.4s;
    //   }

    //   .slider.round {
    //     border-radius: 34px;
    //   }
    //   .slider.round:before {
    //     border-radius: 50%;
    //   }
    //   & > span {
    //     height: 15px;
    //     font-weight: normal;
    //     font-size: 10px;
    //     line-height: 30px;
    //     color: $gray85;
    //     display: flex;
    //     align-items: center;
    //     margin-left: 9px;
    //   }
    // }
  }
  .deleteInputContainer {
    left: 100%;
    top: 20px;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    .deleteInput {
      svg {
        path {
          fill: $gray85;
        }
      }
    }
  }
}
