@import '../../styles/variables.scss';

.box {
  color: #fff;
  margin-bottom: 50px;
  position: relative;
  @include media-sm {
    margin-bottom: 50px;
    // text-align: center;
  }
  //TODO delete selector
  & > img {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  & > div > img {
    height: 312px !important;
    @include media-sm {
      height: 329px !important;
    }
  }
  &__container {
    position: relative;
    padding: 50px 0 44px 0;
  }
  &__content {
    position: relative;
    z-index: 2;
  }
  &__bgImg {
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: -5px;
    @include media-sm {
      right: 50%;
      transform: translate(50%, 0);
      bottom: -50px;
    }
  }

  &__title {
    p {
      font-family: 'Noto Sans', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 40px;
      line-height: 60px;
      margin-bottom: 0;
      @include media-sm {
        font-size: 30px;
        line-height: 37px;
      }
      margin-bottom: 0;
    }
  }
  &__description {
    p {
      font-family: Noto Sans JP;
      font-style: normal;
      font-weight: normal;
      font-size: 25px;
      line-height: 50px;
      margin-bottom: 0;
      margin-top: -8px;
      margin-bottom: 40px;
      @include media-sm {
        margin-bottom: 20px;
        font-size: 20px;
        line-height: 27px;
      }
    }
  }
  &__link {
    button {
      margin-bottom: 20px;
      color: $primaryLight;
      width: 319px;
      height: 54px;
      font-weight: bold;
      font-size: 20px;
      box-shadow: none;
      border-radius: 5px;
      @include media-sm {
        margin: 0 auto 20px auto;
      }
    }
  }
}
