@import '../../styles/variables.scss';

.box {
  color: #fff;
  background-image: url('../../public/img/colabbg.png');
  margin-bottom: 50px;
  position: relative;
  @include media-sm {
    margin-bottom: 50px;
    text-align: center;
  }
  &__container {
    position: relative;
    padding: 34px 0 64px 0;
  }
  &__content {
    position: relative;
    z-index: 2;
  }
  &__bgImg {
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: -3px;
    @include media-sm {
      right: 50%;
      transform: translate(50%, 0);
      bottom: -50px;
    }
  }

  &__title {
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 60px;
    margin-bottom: 0;
    @include media-sm {
      font-size: 30px;
      line-height: 37px;
    }
    p {
      margin-bottom: 0;
    }
  }
  &__description {
    font-family: Noto Sans JP;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 50px;
    margin-bottom: 0;
    @include media-sm {
      font-size: 20px;
      line-height: 27px;
    }
    p {
      margin-bottom: 40px;
      @include media-sm {
        margin-bottom: 20px;
      }
    }
  }
  &__link {
    button {
      width: 319px;
      height: 54px;
      font-weight: bold;
      font-size: 20px;
      box-shadow: none;
      border-radius: 5px;
      @include media-sm {
        margin: 0 auto 20px auto;
      }
    }
  }
}
