@import '../../styles/variables.scss';

.box {
	color: $white;
	overflow: hidden;
	background: linear-gradient(270.25deg, #7B65F3 0.24%, #5644BA 60.66%);
	margin-bottom: 50px;
	position: relative;
	@media #{$media-sm} {
		margin-bottom: 120px;
	}
	p {
		margin-bottom: 0;
	}
	.hid{
		overflow: hidden;
	}
	&::before {
		content: "";
		width: 100%;
		height: 100%;
		background: url("../../public/img/CollaborationMainScreen-bg.webp") center center no-repeat;
		background-size: cover;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 0;
	}
	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		min-height: 608px;
		padding: 60px 0;
		position: relative;
		z-index: 1;
		@media #{$media-sm} {
			align-items: flex-start;
			min-height: 500px;
			padding-top: 40px;
			padding-bottom: 0;
		}
	}
	&__bgImgCloud {
		// div{
		// 	position: absolute !important;
		// }
		width: auto;
		height: 100%;
		position: absolute;
		top: 0;
		right: -540px;
		z-index: 0;
		@media #{$media-lg} {
			right: -700px;
		}
		@media #{$media-md} {
			height: auto;
			max-height: 100%;
			right: -995px;
			padding-top: 50px;
			overflow: hidden;
		}
		img {
			width: auto;
			height: 100%;
			object-fit: cover;
		}
	}
	&__bgImgs {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		&_style1 {
			&__img1 {
				position: absolute;
				right: 178px;
				bottom: -77px;
				z-index: 1;
				@media #{$media-lg} {
					width: 450px;
					right: 0;
					bottom: -77px;
				}
				@media #{$media-sm} {
					width: 350px;
					right: auto;
					left: 50%;
					bottom: -105px;
					transform: translate(-50%, 0);
				}
			}
			&__img2 {
				position: absolute;
				right: -216px;
				bottom: 8px;
				z-index: 0;
				@media #{$media-lg} {
					display: none;
				}
			}
		}
		&_style2 {
			&__img1 {
				position: absolute;
				right: -48px;
				bottom: -46px;
				z-index: 1;
				@media #{$media-lg} {
					width: 450px;
					right: -30px;
					bottom: -77px;
				}
				@media #{$media-sm} {
					width: 350px;
					margin-left: 15px;
					right: auto;
					left: 50%;
					bottom: -110px;
					transform: translate(-50%, 0);
				}
			}
			&__img2 {
				position: absolute;
				right: -251px;
				top: 49px;
				z-index: 0;
				@media #{$media-lg} {
					display: none;
				}
			}
		}
	}
	&__content {
		width: 100%;
		position: relative;
		z-index: 2;
		@media #{$media-xs} {
			padding-bottom: 60px;
			position: initial;
		}
	}
	&__title_wrap {
		width: 100%;
		max-width: 790px;
		margin-bottom: 50px;
		@media #{$media-lg} {
			max-width: 550px;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__title {
		margin-bottom: 12px;
		&:last-child {
			margin-bottom: 0;
		}
		&_text {
			font-family: 'Permanent Marker';
			font-style: normal;
			font-weight: normal;
			font-size: 55px;
			line-height: 1.09;
			&__mobile_resize {
				@media #{$media-lg} {
					font-size: 50px;
				}
				@media #{$media-md} {
					font-size: 45px;
				}
				@media #{$media-sm} {
					font-size: 40px;
				}
			}
		}
	}
	&__description {
		margin-bottom: 20px;
		&:last-child {
			margin-bottom: 0;
		}
		&_text {
			font-weight: 500;
			font-size: 30px;
			line-height: 1.17;
			@media #{$media-sm} {
				font-size: 20px;
				line-height: 1.25;
			}
		}
	}
	&__users {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		&_icon {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 68px;
			height: 68px;
			border-radius: 50%;
			margin-left: -22px;
			position: relative;
			@media #{$media-xs} {
				width: 46px;
				height: 46px;
				margin-left: -15px;
			}
			&:first-child {
				margin-left: 0;
			}
		}
	}
	&__link {
		display: flex;
		justify-content: flex-start;
		@media #{$media-xs} {
			justify-content: center;
			width: 100%;
			position: absolute;
			bottom: -5px;
			left: 0;
		}
	}
}