@import '../../styles/variables.scss';

.PostColab {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 325px;
    min-height: 296px;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    padding: 15px;
    margin: 0 15px;
    margin-bottom: 31px;
    transition: .5s;
    position: relative;
    &__item {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #FAFAFA;
    }
    &__descr {
        color: $black;
        font-size: 20px;
        line-height: 20px;
        font-weight: 700;
        text-align: center;
        padding: 0 25px;
        margin-bottom: 19px;
    }
    &__btn {
        width: 112px;
        height: 46px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        background: $primaryDark;
        border: 1px solid $primaryLight;
        font-weight: 900;
        color: #fff;
        font-size: 15px;
    }
}