@import '../../../styles/variables.scss';

.textarea {
  border-radius: 15px;
  border: 1px solid #848484;
  padding: 0.6em 1.2em;
  font-size: 20px;
  resize: none;
  min-height: 4em;
  max-height: 20em;

  &__container {
    position: relative;
    &_multiple {
      min-width: 200px;
    }
  }
  
  &:focus {
    border-color: $primaryDark;
  }

  &::placeholder {
    font-weight: 500;
    font-size: 20px;
    color: #858585;
    transform: translateY(8px);
  }

  &_sm {
    font-size: 12px;
  }

  &_error {
    border-color: $red;
  }

  &_fullWidth {
    width: 100%;
  }

  &_rounded {
    border-radius: 5em;
  }

  &_pink:focus {
    border-color: $pink;
  }

  &_error {
    margin-top: 23px;
  }
  
  &__error {
    transition: 0.2s;
    opacity: 0;
    transform: translateY(-100%);
    font-size: 12px;
    color: $red;
    position: absolute;
    top: 0;
    white-space: nowrap;
    left: 20px;
    &_abs {
      top: -23px;
    }
  }

  &_error ~ &__error {
    opacity: 1;
    transform: translateY(0);
  }
}
