@import '../../../styles/variables.scss';

.textarea {
    border-radius: 15px;
    border: 1px solid #848484;
    padding: 0.6em 1.2em;
    font-size: 20px;
    resize: none;
    min-height: 4em;
    max-height: 20em;

    &:focus {
        border-color: $primaryDark;
    }

    &::placeholder {
        font-weight: 500;
        font-size: 12px;
        color: #858585;
    }

    &_sm {
        font-size: 12px;
    }

    &_error {
        border-color: $red;
    }

    &_fullWidth {
        width: 100%;
    }
}