@import '../../../styles/variables.scss';
$colors: ($primaryDark, $orangeDark, $avatar_outline, $secondaryDark);

.containerSelectedTags {
  & > div > div {
    @for $i from 1 through 7 {
      & > span:nth-child(#{length($colors)}n + #{$i}) {
        & > span {
          background-color: nth($colors, random(length($colors)));
          max-width: 100%;
          color: white;
          padding: 5px 10px;
          font-size: 14px;
          font-weight: bold;
          margin-right: 3px;
          margin-bottom: 3px;
          border-radius: 5px;
          overflow: hidden;
          white-space: pre-wrap;
          & > span {
            color: white;
            font-size: 14px;
            font-weight: bold;
            margin: 0 5px;
          }
        }
      }
    }
  }
  & > span,
  & > input {
    margin-top: 10px;
    width: 100% !important;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid $primaryDark;
    font-size: 16px;
    font-weight: bold;
    color: $black;
    &:hover {
      border: 1px solid $primaryDark;
    }
    &:focus {
      border-color: $primaryDark;
      box-shadow: none;
    }
    & > span {
      margin-right: 10px;
    }
  }
  & > span {
    cursor: pointer;
  }
  & > input {
    background-color: white;
    color: $black;
  }
}
