@import '../../../../../styles/variables.scss';

.isOwner {
  @include media-md {
    margin-top: 60px;
  }
}

.storyTab {
  font-family: Noto Sans JP;
  width: 70%;
  @include media-md {
    width: 60%;
  }
  @include media-sm {
    width: 100%;
  }
  word-wrap: break-word;
  & + div {
    width: 30%;
    @include media-md {
      width: 0%;
    }
  }
  .isOwnBubble {
    display: none;
    @include media-sm {
      display: flex;
    }
  }
  .sub_info {
    margin-top: -7px;
    margin-bottom: 16px;
    font-size: $text4;
    color: $grey;
    display: inherit;
    @include media-sm {
      font-size: $text5;
    }
  }
  .storyTabTitle {
    font-size: 20px;
    font-weight: 700;
    line-height: 35px;
    margin-bottom: 6px;
    font-family: Noto Sans JP;
    @include media-sm {
      font-size: 15px;
      line-height: 20px;
    }
  }
  .participate {
    margin-top: 40px;
  }
  pre {
    white-space: pre-wrap;
    color: #858585;
    font-size: 20px;
    font-family: Noto Sans JP;
    margin-bottom: 45px;
    overflow: hidden;
    @include media-sm {
      font-size: 15px;
      line-height: 20px;
    }
  }
  .cardWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 48px;
  }
  .card {
    display: inline-block;
  }
  .storyTabDescription {
    font-family: Noto Sans JP;
    font-style: normal;
    font-size: 20px;
    line-height: 35px;
    .storyKey {
      color: $primaryDark;
      display: inline-block;
    }
  }
  .authorBlock {
    margin-top: 48px;
    cursor: pointer;
    display: inline-block;
  }
  .participants {
    display: flex;
    margin-top: 16px;
    align-items: center;
    img {
      min-width: 68.8px;
      min-height: 68.8px;
      max-width: 68.8px;
      max-height: 68.8px;
      border-radius: 50%;
      @include media-sm {
        min-width: 50px;
        min-height: 50px;
        max-width: 50px;
        max-height: 50px;
      }
    }
    .participantInfo {
      margin-left: -20px !important;
      position: relative;
      display: flex;
      img {
        object-fit: cover;
      }
      & > div {
        @include media-sm {
          width: 50px !important;
          height: 50px !important;
          font-size: $text2 !important;
        }
      }
      &:first-of-type {
        margin-left: 0px !important;
      }
    }
  }
}
