@import '../../../../../styles/variables.scss';

.row {
  height: 100%;
}

.subtitle {
  color: $black;
  font-size: $text2;
  font-weight: 900;
  font-size: 25px;
  line-height: 36px;
  display: flex;
  justify-content: space-between;
  width: 95%;
  .delete {
    color: $grey;
    cursor: pointer;
    &:hover {
      color: black;
      text-decoration: underline;
    }
  }
  &:last-of-type {
    padding-top: 12.5px;
    border-top: 2px solid rgba(33, 33, 33, 0.07);
  }
  @include media-sm {
    font-size: $text4;
  }
}
.accepted_message {
  opacity: 0.6;
  &:hover {
    opacity: 1;
  }
}
.container {
  direction: rtl;
  max-height: 537px;
  padding: 0;
  overflow-y: auto;
  margin-top: 1px;
  @include media-sm {
    max-height: 472px;
    border-bottom: 0.5px solid #dfdddd;
  }
  &::-webkit-scrollbar {
    height: 3px;
    width: 3px;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px $black;
    background-color: #dbdbdb;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background: $primaryDark;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $primaryDark;
  }
  .messageList,
  .messenger {
    direction: ltr;
    position: relative;
    padding-bottom: 15px;
    .card {
      display: inline-block;
      margin-right: 16px;
    }
  }
}
.messageList {
  padding-top: 16px;
  background-image: url('../../../../../public/img/chatBG.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom right;
}
.message_community {
  position: relative;
  border-bottom: 1px solid rgba(33, 33, 33, 0.07);
  padding: 15px 20px 15px 20px;
  background-color: $primaryBG;
  width: 95%;
  display: flex;
  align-items: center;
  &:hover {
    cursor: pointer;
  }
  .mess_content {
    width: 100%;
  }
  .messages {
    font-size: $text4;
    color: $grey;
    line-height: 20px;
    margin-bottom: 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    white-space: pre-wrap;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    @include media-sm {
      -webkit-line-clamp: 4;
    }
  }
  .div_button {
    width: 80px;
    display: flex;
    justify-content: space-between;
    @include media-sm {
      position: absolute;
      width: 60px;
      top: 15px;
      right: 0;
    }
  }
}

.chatContainer {
  width: 100%;
  .chatBlock2 {
    margin-top: 20px;
    border-top: 1px solid $white;
    position: relative;
    width: 100%;
    input {
      padding-top: 20px;
      border: none !important;
      &:focus {
        outline: none !important;
        box-shadow: none !important;
      }
    }
  }
  .sendMessage {
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 0px;
    button {
      font-size: $text4;
      width: 112px;
      height: 46px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.goBack {
  cursor: pointer;
  font-size: 27px;
  &:hover {
    color: $primaryDark;
  }
}

.request_status_acp {
  padding: 5px 10px;
  border-radius: 50px;
  border: 1px solid $primaryDark;
  color: $primaryDark;
}

.request_status_rej {
  padding: 5px 10px;
  border-radius: 50px;
  border: 1px solid #dc3545;
  color: #dc3545;
}

.loading {
  padding: 30px 20px;
}

.archive {
  height: 39px;
  border-bottom-left-radius: 10px;
  padding-top: 10px;
  text-align: center;
  cursor: pointer;
  background-color: #fff;
  width: 100%;
  font-weight: bold;
  font-size: 14px;
  line-height: 15px;
  color: $black;
  &:hover {
    color: rgb(94, 92, 92);
  }
  .showAll {
    display: none;
  }
  @include media-sm {
    padding-top: 0px;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: $gray85;
    position: relative;
    .showAllMessages {
      display: none;
    }
    .showAll {
      width: 100%;
      position: absolute;
      display: block;
      border-bottom: 1.5px solid rgba(33, 33, 33, 0.07);
    }
  }
}

.archiveMess {
  border-top: 2px solid rgba(33, 33, 33, 0.07);
  padding-top: 10px;
  color: black;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
}
