@import '../../../../../styles/variables.scss';

.chapterContainer {
  width: 100%;
  margin-top: 37px;
  overflow-x: auto;
  display: flex;
  white-space: nowrap;
  padding-bottom: 20px;
  align-items: flex-end;
  &::-webkit-scrollbar {
    height: 6px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px $black;
    background-color: $black;
    border-radius: 0;
  }

  &::-webkit-scrollbar-thumb {
    background: $primaryDark;
    border-radius: 0px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $primaryDark;
  }

  .addPageContainer {
    .titleContainer {
      .chapterName {
        display: flex;
        justify-content: space-between;
      }
      .inputNameContainer{
        .error {
          font-size: 14px;
          color: $red;
          text-align: center;
        }
        .chapterNameInput {
          border: 1px solid $primaryDark;
          background-color: white;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 23px;
          color: $black;
          &::placeholder {
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 23px;
            color: $gray85;
          }
        }
      }
    }
    .chapterTitle {
      font-style: normal;
      font-weight: bold;
      font-size: 25px;
      line-height: 36px;
      color: $black;
      margin-bottom: 50px;
      @include media-sm {
        margin-bottom: 40px;
      }
    }
    .addPage {
      width: 273.61px;
      height: 320px;
      background: $primaryDark;
      border-radius: 10px;
      box-sizing: border-box;
      border: 1px solid $primaryDark;
      margin-right: 28px;
      @include media-sm {
        width: 240px;
        height: 290px;
      }
      h3 {
        width: 168.53px;
        height: 59px;
        display: flex;
        align-items: center;
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 41px;
        color: white;
        margin-top: 25px;
        margin-left: 20px;
      }
      svg {
        width: 100%;
        margin-top: 70px;
        path {
          fill: $primaryLight;
        }
        circle {
          fill: $primaryDark;
        }
      }
    }
  }
}
