@import '../../../../../styles/variables.scss';

.chapterContainer {
  width: 100%;
  overflow-x: auto;
  display: flex;
  white-space: nowrap;
  padding-bottom: 20px;
  align-items: flex-end;
  &::-webkit-scrollbar {
    height: 10px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px $black;
    background-color: $black;
    border-radius: 0;
  }

  &::-webkit-scrollbar-thumb {
    background: $primaryDark;
    border-radius: 0px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $primaryDark;
  }
}
.container {
  @include media-sm {
    display: flex;
  }
}
.chapterImg{
  border-radius: 10px;
  object-fit: cover;
  opacity: 0.2;
  filter: grayscale(100%);
}
.chapterItem {
  display: flex;
  margin-top: 40px;
  align-items: end;
  @include media-sm {
    align-items: initial;
    flex-direction: column;
  }
}
.addPageContainer {
  cursor: pointer;
  padding-bottom: 20px;
  @include media-sm {
    margin-bottom: 20px;
  }
  .addPage {
    width: 273.61px;
    height: 320px;
    border-radius: 10px;
    box-sizing: border-box;
    margin-right: 28px;
    position: relative;
    box-shadow: -12px 16px 20px -19px rgb(0 0 0 / 25%);
    border: 1px solid #e1e0ef;
    @include media-sm {
      width: 200px;
      height: 230px;
    }
    &::after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      left: 7.3px;
      bottom: 7.3px;
      border-radius: 10px;
      border: 1px solid #e1e0ef;
      border-bottom: none;
      border-left: none;
    }
    &::before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      left: 14.6px;
      bottom: 14.6px;
      border-radius: 10px;
      border: 1px solid #e1e0ef;
      border-bottom: none;
      border-left: none;
    }
    .newPageContainer {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      z-index: 5;
      top: 45%;
      h4 {
        font-style: normal;
        font-weight: 500;
        font-size: $text3;
        line-height: 29px;
        color: $black;
        margin: 0;
        @include media-sm {
          font-size: $text4;
        }
      }
      svg {
        width: 40px;
        height: 40px;
      }
      &:hover svg path {
        fill: $primaryLight;
      }
    }
  }
}
