@import '../../../styles/variables.scss';

.colabWrap__publish {
  display: flex;
  align-items: center;
  color: $black;
  font-weight: 500;
  font-size: 10px;
  line-height: 20px;
  font-weight: 700;
  background-color: $primaryDark;
  border: 1px solid $primaryDark;
  border-radius: 13px;
  color: $primaryBG;
  padding: 0 12px;
  span {
    margin-left: 5px;
    color: $primaryBG;
  }
  svg {
    margin-right: 7px;
  }
}
