@import '../../../styles/variables.scss';

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  transition: 0.2s;

  padding: 10px 24px;
  font-size: 18px;

  &_bold {
    font-weight: bold;
  }

  &_fullWidth {
    width: 100%;
  }

  &_sm {
    padding: 5px 12px;
    font-size: 12px;
  }
  &_md {
    padding: 8px 40px;
    font-size: 15px;
  }

  svg {
    height: 1em;
    margin-right: 0.5em;
  }
  &_icon-right {
    flex-direction: row-reverse;
    svg {
      margin-right: 0em;
      margin-left: 0.5em;
    }
  }

  &_smooth {
    border-radius: 6px;
  }
  &_rounded {
    border-radius: 3em;
  }

  &_outline {
    background: #fff;
    border: 1px solid $primaryDark;
    color: $primaryDark;
    &:hover {
      border-color: lighten($primaryDark, 5);
    }
    &:active {
      background: darken(#fff, 5%);
      border-color: darken($primaryDark, 5%);
    }
  }
  &_outline.button_pink {
    border: 1px solid $pink;
    color: $pink;
    &:hover {
      border-color: lighten($pink, 5);
    }
    &:active {
      border-color: darken($pink, 5%);
    }
  }
  &_solid {
    background: lighten($primaryDark, 0);
    color: #fff;
    &:hover {
      background: lighten($primaryDark, 5);
    }
    &:active {
      background: darken($primaryDark, 5%);
    }
  }
  &_solid.button_pink {
    background: lighten($pink, 0);
    &:hover {
      background: lighten($pink, 5);
    }
    &:active {
      background: darken($pink, 5%);
    }
  }
  &_noText {
    svg {
      margin: 0;
    }
  }

  &_disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &__loader {
    transition: 0.2s;
    width: 0;
    opacity: 0;
    margin-left: 0;
  }

  &_loading {
    .button__loader {
      width: 1em;
      opacity: 1;
      margin-left: 1em;
    }
  }
}
