@import '../../styles/variables.scss';

.moreShots {
  background: #fff;
  margin: 0 -90px;
  padding: 0 90px;

  @include media-md {
    margin: 0 -60px;
    padding: 0 60px;
  }

  @include media-sm {
    margin: 0;
    padding: 0;
  }

  &__title {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 10px;
  }

  &__container {
    max-width: 900px;
    margin: 0 auto;
  }
}

.slider {
  display: flex;

  &__arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 3px;
    cursor: pointer;
    // @include media-xs {
    //     display: none;
    // }

    > svg {
      height: 32px;
      width: 32px;
    }

    &:first-child {
      margin-right: 10px;
      svg {
        transform: rotate(90deg);
      }
    }

    &:last-child {
      margin-left: 10px;
      svg {
        transform: rotate(-90deg);
      }
    }

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.5;
    }
  }

  &__content {
    display: flex;
    flex: 1 1 auto;
    overflow-x: auto;
    overflow-y: hidden;
    &::scrollbar {
      display: none;
    }
  }

  &__item {
    flex: 0 0 auto;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100px;

    img {
      height: 100px;
      width: 100px;
      border-radius: 50%;
    }

    &_active {
      *:first-child {
        border: 2px solid $primaryDark !important;
        border-radius: 50% !important;
      }

      .slider__itemTitle {
        color: $primaryDark;
      }
    }
  }

  &__itemTitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 5px;
    text-align: center;
    color: #000;
    font-weight: 600;
  }
}
