@import '../../styles/variables.scss';

.modalCreateProject {
  max-width: calc(100vw - -81px);
  width: 731px !important;
  height: 197px;
  box-sizing: border-box;
  margin-top: 40px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.04);
  @include media-sm {
    width: 97% !important;
  }
  & > div {
    border-radius: 30px;
    & > div {
      // padding-top: 21px;
      // padding-bottom: 32px;
      padding: 50px;
      @include media-xs {
        padding: 30px;
      }
      border-radius: 10px;
    }
  }
  .title {
    margin-right: 24px;
    font-weight: 700;
    font-size: 28px;
    @include media-sm {
      font-size: 24px;
    }
    color: $black;
  }
  .description {
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 18px;
    color: $black;
  }
  .error {
    color: $red;
    font-size: 14px;
    margin: 0;
    margin-top: 5px;
    line-height: 20px;
    @include media-sm {
      display: none;
    }
  }
  .errorMobile {
    display: none;
    @include media-sm {
      display: block;
    }
  }
  .containerCreateProject {
    display: flex;
    flex-wrap: nowrap;
    @include media-xs {
      flex-direction: column;
    }
    .input {
      margin-right: 20px;
      @include media-xs {
        margin-right: 0;
        margin-bottom: 10px;
      }
    }
    .button {
      align-self: flex-end;
      padding-top: 8px;
      padding-bottom: 8px;
      white-space: nowrap;
    }
    // input {
    //   font-family: 'Noto Sans JP', sans-serif;
    //   width: 378px;
    //   height: 44px;
    //   background-color: #ffffff;
    //   font-size: 16px;
    //   border-radius: 6px;
    //   border: 1px solid $primaryDark;
    //   color: $black;
    //   padding: 10px;
    //   font-style: normal;
    //   font-weight: normal;
    //   font-size: 16px;
    //   line-height: 23px;
    //   @include media-sm {
    //     width: 100%;
    //   }
    //   &::placeholder {
    //     font-style: normal;
    //     font-weight: normal;
    //     font-size: 16px;
    //     line-height: 23px;
    //     color: $gray85 !important;
    //   }
    // }
    // button {
    //   width: 213px;
    //   height: 44px;
    //   margin-left: 10px;
    //   background: $orangeDark;
    //   border: 1px solid $orangeLight;
    //   box-sizing: border-box;
    //   border-radius: 5px;
    //   font-style: normal;
    //   font-weight: bold;
    //   font-size: $text4;
    //   line-height: 22px;
    //   color: white;
    //   display: flex;
    //   padding: 9px;
    //   @include media-sm {
    //     width: 100%;
    //     margin-left: 0px;
    //     margin-top: 10px;
    //     display: flex;
    //     justify-content: center;
    //   }
    //   span {
    //     svg {
    //       width: 20px;
    //       height: 20px;
    //     }
    //   }
    //   svg {
    //     width: 30px;
    //     height: 24px;
    //     margin-left: 14px;
    //   }
    // }
  }
  .close {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50px;
    right: 50px;
    @include media-sm {
      top: 30px;
      right: 30px;
    }
  }
  // .button {
  //   background-color: #7b65f3 !important;
  //   border-color: #7b65f3 !important;
  // }
  // .buttonContent {
  //   padding-left: 20px;
  //   display: flex;
  //   flex-direction: row;
  //   justify-content: space-between;
  //   width: 100%;
  // }
  .inputTitle {
    font-weight: 700;
    font-size: 15px;
    color: #848484;
    margin-bottom: 10px;
  }
  
}
