apiVersion: apps/v1
kind: Deployment
metadata:
  generation: 1
  labels:
    app: front-app
  name: front-app
  namespace: mangafy
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: front-app
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: front-app
    spec:
      containers:
        - name: front-app
          image: asia.gcr.io/mangafy/front:latest
          imagePullPolicy: Always
          resources:
            requests:
              memory: "8Gi"
              cpu: "2.0"
          env:
            - name: ENV
              value: "production"
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
