@import '../../styles/variables';

.modal {
    :global {
        .ant-modal-content {
            border-radius: 10px;
            overflow: hidden;
        }
        .primary_upload {
            margin: 0 0 1em 0;
        }
        .ant-modal-title {
            font-size: 24px;
            font-weight: bold;
        }
    }

    h2 {
        font-size: 24px;
        margin-bottom: 0.5em;
    }

    input, textarea {
        margin-bottom: 1em;
    }

    &__close {
        cursor: pointer;
        transition: 0.2s;
        &:hover {
            path {
                stroke: $primaryDark;
            }
        }
        &:active {
            path {
                stroke: darken($primaryDark, 10%);
            }
        }
    }
    &__upload {
        margin: 0;
    }
}