@import '../../../../styles/variables.scss';

.content_tab_profile_1 {
  .change_btn {
    position: absolute;
    margin-top: -6px;
    right: 25px;
    .buttonsProfile {
      display: flex;
      button {
        margin-left: 10px;
      }
    }
  }

  .sub_title {
    color: $black;
    font-size: $text2;
    @include media-sm {
      font-size: $text4;
    }
  }
}

.editAboutButton {
  position: absolute;
  cursor: pointer;
  margin-top: -35px;
  right: 25px;
  width: 22px;
  height: 22px;
  @include media-sm {
    right: 30px;
    width: 16px;
    height: 16px;
  }
}

.textarea_text {
  outline: 0;
  border-width: 1px 1px 1px;
  border-color: $primaryDark;
  font-size: $text3;
  color: $black;
  box-shadow: rgba(31, 127, 255, 0.3) 0px 1px;
  width: 100%;
  margin-top: 20px;
}

.add_button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  svg {
    height: 31px;
    width: 31px;
  }
  @include media-sm {
    align-items: self-end;
    position: relative;
    svg {
      position: absolute;
      top: -35px;
      right: 0px;
      height: 18px;
      width: 18px;
    }
  }
}
.data_content{
  font-size: $text4;
  color: $grey;
  line-height: 20px;
}
.text {
  margin-bottom: 25px;
  font-size: $text3;
  color: $grey;
  @include media-sm {
    font-size: $text4;
  }
}
.genres_wrap {
  margin-bottom: 30px;
  @include media-sm {
    margin-bottom: 0px;
  }
  button {
    font-weight: 900;
    font-size: $text4;
    margin-right: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 30px;
    color: $white;
    padding: 13px 20px;
    &:nth-child(3n + 1) {
      background: $primaryDark;
      border: 1px solid $primaryLight;
    }
    &:nth-child(3n + 2) {
      background: $orangeDark;
      border: 1px solid $orangeLight;
    }
    &:nth-child(3n + 0) {
      background: $secondaryDark;
      border: 1px solid $secondaryLight;
    }
    @include media-sm {
      padding: 8px 20px;
    }
  }
}

.card_wrap {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  margin-bottom: 10px;

  &::-webkit-scrollbar {
    height: 3px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px $black;
    background-color: $black;
    border-radius: 0;
  }

  &::-webkit-scrollbar-thumb {
    background: $primaryDark;
    border-radius: 0px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $primaryDark;
  }
  .card {
    display: inline-block;
    margin-right: 16px;
  }
}
