@import '../../styles/variables.scss';

.footerPolicy {
  background: $white;
  padding: 20px;
  & > div {
    height: 100%;
  }
}

.wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 100%;
  @media (max-width: 767px) {
    flex-direction: column;
    align-items: center;
  }
  &__left {
    font-style: normal;
    font-weight: normal;
    font-size: $text4;
    line-height: 24px;
    color: $black;
    @include media-md {
      font-size: $text5;
      position: static;
      margin-bottom: 5px;
    }
  }
  &__center {
    display: flex;
    align-items: center;
    span {
      font-style: normal;
      font-weight: normal;
      font-size: $text4;
      line-height: 24px;
      color: $black;
      @include media-md {
        font-size: $text5;
      }
    }
    svg {
      margin-left: 10px;
    }
  }
}
