@import '../../../../../../styles/variables.scss';

.participantsContent {
  min-width: 250px;
  .participantName {
    width: 100%;
    display: flex;
    align-items: center;
    &:hover{
      .info h2 {
        color: $primaryDark;
      }
    }
    div {
      margin: 0;
    }
    img {
      min-width: 50px;
      min-height: 50px;
      max-width: 50px;
      max-height: 50px;
      border-radius: 50%;
    }
    .info {
      padding-left: 10px;
      p {
        margin-bottom: 0;
        font-size: $text4;
        color: $grey;
      }
      h2 {
        margin-bottom: 0px;
        font-size: $text3;
        color: $black;
      }
    }
  }
  .steps {
    margin-top: 20px;
    p {
      cursor: pointer;
      margin: 0;
      font-size: $text4;
      padding-left: 16px;
      margin-left: -16px;
      line-height: 35px;
      width: calc(100% + 32px);
      &:hover {
        background: $white;
      }
    }
  }
}
