@import '../../../../styles/variables.scss';

.editPost {
  display: flex;
  flex-direction: column;
  & > span {
    margin: 2px 0;
  }
}
.shareUrl {
  font-size: 25px;
  margin: 0 5px;
  cursor: pointer;
}
.postEdit {
  min-width: 180px;
  margin: 0;
  .editPostItems {
    display: block;
    margin: 0;
    color: $gray85;
    cursor: pointer;
    svg {
      margin-right: 10px;
      path {
        fill: $gray85;
      }
    }
    &:hover {
      color: $black;
      svg path {
        fill: $black;
      }
    }
  }
}
