@import '../../../../styles/variables.scss';

.editPost {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.shareUrl{
  font-size: 25px;
  cursor: pointer;
}
.editPostItems {
  display: block;
  margin-bottom: 10px;
  color: $gray85;
  cursor: pointer;
  svg {
    margin-right: 10px;
    path {
      fill: $gray85;
    }
  }
  &:hover {
    color: $black;
    svg path {
      fill: $black;
    }
  }
 
}
