@import '../../../styles/variables.scss';

.content {
  margin-top: 100px;
  padding: 30px 25px 40px 25px;
  border-radius: 10px;
  border: 1px solid $white;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  background-color: $primaryBG;
  max-width: 1039px;
  width: 90%;
  @include media-sm {
    width: 80%;
    margin-top: 100px;
    padding-bottom: 27px;
  }
  .contacts {
    display: flex;
    align-items: center;

    @include media-sm {
      justify-content: center;
    }
  }
  .follow {
    margin-left: 30px;
    display: flex;
    align-items: center;
    svg {
      cursor: pointer;
      margin-right: 13px;
    }
    span {
      cursor: pointer;
      font-weight: bold;
      font-size: $text4;
    }
  }
  .portfolio {
    position: relative;
    display: flex;
    justify-content: flex-end;
    @include media-sm {
      position: absolute;
      right: 5px;
      top: -190px;
    }
    span {
      position: absolute;
      right: -11px;
      top: 16px;
    }
  }
  .img {
    width: 18vw;
    height: 18vw;
    max-width: 175px;
    max-height: 175px;
    min-width: 140px;
    min-height: 140px;
    position: relative;
    border-radius: 50%;
    background: #f3f3f3;
    &:before {
      content: '';
      width: 18vw;
      height: 18vw;
      max-width: 175px;
      max-height: 175px;
      min-width: 140px;
      min-height: 140px;
      background-image: url(../../../public/img/green-eclips.svg);
      background-size: cover;
      position: absolute;
      left: 0;
      top: 0;
    }
    @include media-sm {
      position: absolute;
      transform: translate(50%, -50%);
      top: -35px;
      right: 50%;
      margin: auto;
      text-align: center;
    }
    span {
      width: 18vw;
      height: 18vw;
      max-width: 175px;
      max-height: 175px;
      min-width: 140px;
      min-height: 140px;
    }
    img {
      width: 18vw;
      height: 18vw;
      max-width: 175px;
      max-height: 175px;
      min-width: 140px;
      min-height: 140px;
      object-fit: cover;
      border-radius: 50%;
      padding: 5px !important;
      // border: 3px solid $avatar_outline;
      // border-bottom: white;
    }
    .add {
      position: absolute;
      bottom: 20px;
      right: 0;
      cursor: pointer;
    }
  }
  .deleteAccount {
    margin-top: 10px;
    font-size: $text4;
    cursor: pointer;
    display: flex;
    align-items: center;
    @include media-sm {
      justify-content: center;
    }
    div {
      color: $black;
      margin-left: 5px;
      text-decoration: underline;
    }
  }
  .info_profile {
    @include media-sm {
      margin-top: 45px;
      text-align: center;
      button {
        margin-left: auto;
        margin-right: auto;
      }
    }

    color: $black;
    h4 {
      font-weight: 900;
      font-size: $h4;
      margin-bottom: 0;

      .ant-input {
        font-size: $text3;
        font-weight: 500;
      }
      @include media-sm {
        font-size: $text2;
      }
    }
    h2 {
      font-weight: 900;
      font-size: $h4;
      margin-bottom: 0;

      .ant-input {
        font-size: $text3;
        font-weight: 500;
      }
    }
    p {
      font-weight: 500;
      font-size: $text1;
      margin-bottom: 15px;
      @include media-sm {
        font-size: $text4;
      }
    }
    .followe_content {
      margin-top: 20px;
      display: flex;
      align-items: center;
      @include media-sm {
        justify-content: center;
      }
      .count {
        padding-right: 10px;
        font-weight: bold;
        display: inline-block;
      }
      .btn {
        cursor: pointer;
        font-size: $text4;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid $grey;
        padding: 2px 10px;
        border-radius: 3px;
        svg {
          margin-right: 10px;
        }
      }
      .icons {
        cursor: pointer;
        border: 1.5px solid $grey;
        padding: 2px 20px;
        border-radius: 3px;
        width: 70px;
        justify-content: space-between;
        display: flex;
        align-items: center;
        svg {
          &:nth-child(1) {
            path {
              fill: #00b74a;
            }
          }
        }
      }
    }
  }

  .errMessage {
    color: red;
    font-size: 10px !important;
    line-height: inherit;
    position: absolute;
    margin-top: -10px;
  }
  .errImp {
    border-color: red !important;
  }

  .buttonsProfile {
    display: flex;
    padding: 20px;
    padding-right: 0;
    justify-content: flex-end;
    flex-wrap: wrap;
  }

  .shareButtonsProfile {
    position: absolute;
    bottom: 0;
    right: 0;
    @include media-sm {
      position: relative;
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }
  }
}

.changeTitle {
  background: transparent;
  border: none;
  border-bottom: 2px solid #212121;
  border-radius: 0;
  height: 40px;
  color: #212121;
  font-weight: 500;
  font-size: 15px;
  padding: 0 13px;
  margin-bottom: 10px;
  &:hover {
    border-color: $primaryDark;
  }
  &:focus {
    box-shadow: none;
    border-color: #7b65f3;
  }
}
