@import '../../../styles/variables.scss';

.content {
  margin-top: 100px;
  padding: 30px 25px 40px 25px;
  border-radius: 10px;
  border: 1px solid $white;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  background-color: $primaryBG;
  max-width: 1039px;
  width: 90%;
  @include media-sm {
    width: 80%;
    margin-top: 100px;
    padding-bottom: 27px;
  }
  .select {
    & > div {
      // padding-bottom: 10px !important;
      height: auto !important;
    }
  }
  .contacts {
    display: flex;
    align-items: center;

    @include media-sm {
      justify-content: center;
    }
  }
  .follow {
    margin-left: 30px;
    display: flex;
    align-items: center;
    svg {
      cursor: pointer;
      margin-right: 13px;
    }
    span {
      cursor: pointer;
      font-weight: bold;
      font-size: $text4;
    }
  }
  .portfolio {
    position: relative;
    display: flex;
    justify-content: flex-end;
    @include media-sm {
      position: absolute;
      right: 5px;
      top: -190px;
    }
    span {
      position: absolute;
      right: -11px;
      top: 16px;
    }
  }
  .img {
    width: 18vw;
    height: 18vw;
    max-width: 175px;
    max-height: 175px;
    min-width: 140px;
    min-height: 140px;
    position: relative;
    border-radius: 50%;
    background: #f3f3f3;
    &:before {
      content: '';
      width: 18vw;
      height: 18vw;
      max-width: 175px;
      max-height: 175px;
      min-width: 140px;
      min-height: 140px;
      background-image: url(../../../public/img/green-eclips.svg);
      background-size: cover;
      position: absolute;
      left: 0;
      top: 0;
    }
    @include media-sm {
      position: absolute;
      transform: translate(50%, -50%);
      top: -35px;
      right: 50%;
      margin: auto;
      text-align: center;
    }
    img {
      width: 18vw;
      height: 18vw;
      max-width: 175px;
      max-height: 175px;
      min-width: 140px;
      min-height: 140px;
      object-fit: cover;
      border-radius: 50%;
      padding: 5px !important;
      // border: 3px solid $avatar_outline;
      // border-bottom: white;
    }
    .add {
      position: absolute;
      bottom: 20px;
      right: 0;
      cursor: pointer;
      background-color: white;
      border-radius: 50%;
    }
  }
  .deleteAccount {
    margin-top: 10px;
    font-size: $text4;
    cursor: pointer;
    display: flex;
    align-items: center;
    @include media-sm {
      justify-content: center;
    }
    div {
      color: $black;
      margin-left: 5px;
      text-decoration: underline;
    }
  }
  .info_profile {
    @include media-sm {
      margin-top: 45px;
      text-align: center;
      button {
        margin-left: auto;
        margin-right: auto;
      }
    }
    .followAndEditButton {
      display: flex;
      align-items: center;
      & > div {
        margin-top: 0;
        margin-left: 10px;
      }
      @include media-sm {
        width: 200px;
        margin: auto;
      }
    }
    color: $black;
    h4 {
      font-weight: 900;
      font-size: $h4;
      margin-bottom: 0;

      .ant-input {
        font-size: $text3;
        font-weight: 500;
      }
      @include media-sm {
        font-size: $text2;
      }
    }
    h2 {
      font-weight: 900;
      font-size: $h4;
      margin-bottom: 0;

      .ant-input {
        font-size: $text3;
        font-weight: 500;
      }
    }
    p {
      font-weight: 500;
      font-size: $text1;
      margin-bottom: 15px;
      @include media-sm {
        font-size: $text4;
      }
    }
    .followe_content {
      margin-top: 20px;
      display: flex;
      align-items: center;
      @include media-sm {
        justify-content: center;
      }
      .count {
        padding-right: 10px;
        font-weight: bold;
        display: inline-block;
      }
      .btn {
        cursor: pointer;
        font-size: $text4;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid $grey;
        padding: 2px 10px;
        border-radius: 3px;
        svg {
          margin-right: 10px;
        }
      }
      .icons {
        cursor: pointer;
        border: 1.5px solid $grey;
        padding: 2px 20px;
        border-radius: 3px;
        width: 70px;
        justify-content: space-between;
        display: flex;
        align-items: center;
        svg {
          &:nth-child(1) {
            path {
              fill: #00b74a;
            }
          }
        }
      }
    }
  }
  .errMessage {
    color: red;
    font-size: 10px !important;
    line-height: inherit;
    position: absolute;
    margin-top: -10px;
  }
  .errImp {
    border-color: red !important;
  }

  .buttonsProfile {
    display: flex;
    padding: 20px;
    padding-right: 0;
    justify-content: flex-end;
    flex-wrap: wrap;
  }

  .shareButtonsProfile {
    position: absolute;
    bottom: 0;
    right: 0;
    @include media-sm {
      position: relative;
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }
  }
}

.changeTitle {
  background: transparent;
  border: none;
  border-bottom: 2px solid #212121;
  border-radius: 0;
  height: 40px;
  color: #212121;
  font-weight: 500;
  font-size: 15px;
  padding: 0 13px;
  margin-bottom: 10px;
  &:hover {
    border-color: $primaryDark;
  }
  &:focus {
    box-shadow: none;
    border-color: #7b65f3;
  }
}
.popover {
  div {
    background: inherit;
    box-shadow: none;
    color: #858585;
    margin-right: -7px;
    @include media-sm() {
      margin-right: 0px;
      margin-top: -7px;
      padding: 0;
    }
  }
}

.hotBtns {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  .svgBg {
    margin-bottom: 15px;
    width: 39px;
    height: 39px;
    min-width: 39px;
    min-height: 39px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d3d3d3;
    border-radius: 50%;
    cursor: pointer;
    margin-top: 12px;
    &:hover {
      background-color: $primaryLight;
    }
    svg {
      margin-top: 2px;
    }
    @include media-sm {
      margin-bottom: 0px;
    }
  }
  @include media-sm() {
    margin-top: 30px;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 25px;
    > div {
      margin: 0 8px;
    }
  }
}

.changePhoto,
.changePhotoDef {
  margin-top: 50px;
  @include media-xs {
    margin-top: 30px;
    max-width: 395px;
  }
  & > div {
    border-radius: 10px;
    & > div {
      border-radius: 10px 10px 0 0;
      min-height: 80px;
      display: flex;
      justify-content: center;
      & > div {
        display: flex;
        align-items: center;
        font-size: 22px;
        & > div {
          width: 400px !important;
          height: 400px !important;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 15px;
          position: inherit !important;
          background-color: white !important;
          border-radius: 10px;
          @include media-xs {
            width: 345px !important;
            height: 345px !important;
          }
          &:hover {
            box-shadow: 1px 1px 18px -5px $primaryDark;
          }
          label {
            color: $black !important;
            &:hover {
              color: rgb(65, 64, 64) !important;
            }
          }
        }
      }
      .buttonModal {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        & > button {
          width: 100px;
          height: 50px;
          font-size: 16px;
        }
      }
    }
  }
  .close {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-top: 22px;
    background: rgba(123, 101, 243, 0.21);
    svg {
      width: 14px;
      height: 14px;
      path {
        fill: $text_white;
      }
    }

    &:hover {
      background-color: $primaryDark;
    }
    @include media-sm {
      width: 30px;
      height: 30px;
      margin-top: 8px;
      margin-left: 18px;
      svg {
        width: 13.33px;
        height: 13.12px;
      }
    }
  }
}

.changePhoto {
  & > div > div > div > div {
    &:hover {
      box-shadow: 1px 1px 18px -5px white;
    }
  }
}
