@import '../../../styles/variables.scss';

.modal {
  top: 20px;
  margin: auto;

  :global {
    .ant-modal-content {
      height: auto !important;
      border-radius: 12px;
    }
    .ant-modal-body {
      height: auto !important;
    }
    .ant-modal-body > div {
      display: flex;
      flex-direction: column;
    }
    .ant-modal-close-x > svg {
      width: 16px;
      height: 16px;
      filter: drop-shadow(0 0 1px rgba(255, 255, 255, 1));
    }
  }

  &__title {
    font-size: 24px;
    font-weight: bold;
    line-height: 1em;
    margin-bottom: 0.5em;
  }
  &__description {
    font-size: 18px;
    margin-bottom: 1em;
  }
  &__image {
    position: relative;
    flex: 1 1 auto;
    border-radius: 10px;
    margin: 10px 0;
    overflow: hidden;
  }
  &__like {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    // flex-direction: column;
    // transform: translateX(-50%);
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 1;
    background: rgba(0, 0, 0, 0.418);
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
    svg {
      margin-left: 5px;
      height: 35px;
      width: 35px;
    }

    &:hover {
      background: rgba(0, 0, 0, 0.6);
    }
    &:active {
      background: rgba(0, 0, 0, 0.8);
    }

    &_active {
      svg {
        fill: #ff4d4f;
      }
    }
  }
}
