@import '../../styles/variables.scss';

.noRequest {
  text-align: center;
  margin-bottom: 30px;
  div {
    text-align: center;
    display: flex;
    justify-content: center;
    img{
      margin-top: 20px !important;
    }
  }
  h2 {
    font-size: 30px;
  }
  p {
    font-size: 20px;
  }
  button {
    width: 240px;
    height: 60px;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 4px 4px #fec447;
  }
}
