@import '../../styles/variables.scss';

.shareStoryBoard {
  // height: 500px;
  text-align: center;
  margin-top: 100px;

  .social {
    position: relative;
    margin: auto;
    width: 117px;
    height: 117px;
    margin-bottom: 40px;
    .share {
      position: absolute;
      bottom: 0;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $primaryBG;
      border-radius: 50%;
      width: 67px;
      height: 67px;
      box-shadow: 0px 0px 5px rgba(123, 101, 243, 0.1);
      &:hover {
        box-shadow: 0px 0px 30px 0px rgba(123, 101, 243, 0.59);
      }
    }
  }
  .title {
    font-weight: bold;
    font-size: $text3;
    color: $black;
  }
  .logos {
    display: flex;
    justify-content: center;
    align-items: center;
    div {
      a {
        display: inline-block;
      }
      img {
        height: 80px;
        cursor: pointer;
      }
    }
    .webtoon {
      margin-right: 29px;
      margin-left: 23px;
    }
    @include media-sm {
      display: none;
    }
  }
  .logos_mobile {
    display: none;
    justify-content: center;
    align-items: center;
    @include media-sm {
      display: flex;
    }
    a {
      display: inline-block;
    }
    img {
      height: 60px;
      cursor: pointer;
    }
    button {
      margin-top: 16px;
      font-weight: 900;
      font-size: $text4;
      margin-right: 8px;
      margin-bottom: 8px;
      box-sizing: border-box;
      border-radius: 30px;
      color: $text_white;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 105px;
      height: 41px;

      &:nth-child(3n + 1) {
        background: $primaryDark;
        border: 1px solid $primaryLight;
      }
      &:nth-child(3n + 2) {
        background: $orangeDark;
        border: 1px solid $orangeLight;
      }
      &:nth-child(3n + 0) {
        background: $secondaryDark;
        border: 1px solid $secondaryLight;
      }
    }
  }
  .link {
    h4 {
      font-weight: bold;
      font-size: $text3;
      color: $primaryDark;
      margin-top: 20px;
      margin-bottom: 0;
    }
    p {
      font-size: $text4;
      color: $grey;
    }
  }
  @include media-sm {
    margin-top: 40px;
    .social {
      margin-bottom: 15px;
    }
  }
}

.share_btn {
  position: relative;
  z-index: 1;
  width: inherit;
  height: inherit;
}
.share_btn span {
  height: 67px;
  width: 67px;
  line-height: 60px;
  font-size: 25px;
  color: #e9fcf8;
  border-radius: 50%;
  cursor: pointer;
}
.share_btn a span {
  position: absolute;
  left: 20px;
  top: 80px;
  height: 30px;
  width: 30px;
  line-height: 30px;
  font-size: 18px;
  border: 1px solid transparent;
  z-index: -1;
  opacity: 0;
  pointer-events: none;
  transition: 0.6s;
}
.click:checked ~ .share_btn a span {
  height: 32px;
  width: 32px;
  line-height: 32px;
  font-size: 23px;
  z-index: 1;
  opacity: 1;
  pointer-events: auto;
}
.click:checked ~ .share_btn a:nth-child(2) span {
  top: 0px !important;
  left: 15px !important;
}
.click:checked ~ .share_btn a:nth-child(3) span {
  top: 17px !important;
  left: 70px !important;
}
.share_btn a:nth-child(3) span {
  transition-delay: 0.2s;
}
.click:checked ~ .share_btn a:nth-child(4) span {
  top: 72px !important;
  left: 87px !important;
}
.share_btn a:nth-child(4) span {
  transition-delay: 0.4s;
}
.click {
  display: none;
}
