@import '../../../../styles/variables.scss';

.tasks {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.items {
  padding-bottom: 15px;
  width: 100%;
  max-width: 480px;
  font-weight: bold;
  & > div:last-child {
    display: none;
    @include media-sm {
      display: block;
    }
  }
  @media (max-width: 630px) {
    margin-top: 65px;
  }
}

.contributeBtn {
  max-width: 155px;
  min-width: 155px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $text4;
}
.editBtn {
  padding: 0;
  width: 100%;
  max-width: 155px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $text4;
  margin-left: 70px;
  margin-right: 35px;
  @include media-sm {
    position: absolute;
    font-size: $text4;
    height: 28px;
    margin-left: 30px;
    margin-right: 15px;
    top: -1px;
    right: 0px;
  }
}

.addBtn {
  margin-left: 35px;
  div {
    @include media-md {
      display: none !important;
    }
  }
  img {
    max-width: 200px;
  }
  button {
    margin: 15px auto;
  }
}

.mobile_add {
  display: none;
  @include media-sm {
    position: absolute;
    display: block;
    top: -57px;
    right: 0;
  }
  @media (max-width: 630px) {
    top: 0;
  }
  .createTaskMobileBut {
    span {
      color: $grey;
    }
    svg {
      path {
        fill: $primaryDark;
      }
    }
    &:hover {
      svg {
        path {
          fill: $primaryLight;
        }
      }
    }
  }
}

.noTasks {
  .createTask {
    width: 100%;
    text-align: center;
  }
}

.createTask {
  @include media-sm{
    display: none;
  }
}

.addButtonOwn {
  button {
    width: 176px;
    height: 46px;
    background: $primaryDark;
    border: 1px solid $primaryLight;
    box-sizing: border-box;
    font-weight: 900;
    font-size: 15px;
    line-height: 22px;
    position: absolute;
    top: -64px;
    left: 535px;
    @include media-md {
      width: 156px;
      height: 46px;
      font-size: 13px;
      left: 570px;
    }
    @include media-sm {
      display: none;
    }
  }
  .createTaskButton {
    top: -25px;
    left: 520px;
  }
}
