@import '../../../styles/variables.scss';

.body {
  display: flex;
  flex-direction: column;
  // max-height: calc(100vh - 100px);
  // overflow-x: auto;
  max-width: 1200px;
  margin: 0 auto;
  @include media-sm {
    max-height: 70vh;
  }
  // &::-webkit-scrollbar {
  //   height: 3px;
  //   width: 5px;
  // }

  // &::-webkit-scrollbar-track {
  //   box-shadow: inset 0 0 2px $greyWhite;
  //   background-color: $greyWhite;
  //   border-radius: 0;
  // }

  // &::-webkit-scrollbar-thumb {
  //   background: $primaryDark;
  //   border-radius: 0px;
  // }

  // &::-webkit-scrollbar-thumb:hover {
  //   background: $primaryDark;
  // }
  & > div {
    display: flex;
    justify-content: center;
  }
  figure {
    width: 100%;
    & > div {
      display: flex;
      justify-content: center;
      width: 100%;
      img {
        width: 100%;
      }
    }
  }
  span {
    width: 100%;
    border-radius: 10px;
  }

  &__text {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px 0;
    @include media-sm {
      padding: 20px 0;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 30px;
  }

  &__description {
    font-weight: 400;
    font-size: 20px;
  }
}
