@import '../../../../styles/variables.scss';

.content {
  width: 320px;
  height: 210px;
  text-align: left;
  color: $grey;
  padding: 16px 30px 30px 30px;
  @include media-sm {
    padding: 21px;
  }
  .types {
    display: flex;
    align-items: center;
    font-size: $text5;
    color: $gray85;
    svg {
      margin-right: 6px;
    }
  }
  .description {
    width: 100%;
    text-align: center;
    svg {
      margin-top: 14px;
      margin-bottom: 15px;
      @include media-sm {
        width: 87px !important;
        height: 63px !important;
      }
      path{
        fill: gray;
      }
    }
    .title {
      font-weight: bold;
      font-size: $text3;
      color: $gray85;
    }
  }
}

.modal {
  top: 20px;
  height: calc(100% - 30px);
  margin: auto;
  border: 1px solid black;
  @include media-sm {
    max-width: calc(100% - 16px);
    height: 100vh;
  }
}

.modalContent {
  height: calc(100vh - 100px);
  width: 100%;
  margin-top: 20px;
  img {
    object-fit: contain;
  }
}
