@import '../../../styles/variables.scss';

.modal {
  background: rgba(0%, 0%, 0%, 0.8);
  width: 100% !important;
  min-height: 100vh;
  max-width: 100% !important;
  top: 0px;
  padding-top: 100px;
  position: absolute;
  @include media-sm {
    & > div > div {
      padding: 24px 0;
    }
  }
  & > div {
    border-radius: 10px;
    background-color: transparent;
  }
  h2 {
    margin-bottom: 0;
  }
  .br {
    height: 100%;
    padding-right: 30px;
    margin-right: 30px;
    @include media-sm {
      border: none;
      padding-right: 0px;
      margin-right: 0px;
    }
    .descriptionDef {
      font-family: sans-serif;
      color: white;
    }
    .description {
      min-height: 580px;
      padding: 40px;
      word-break: break-all;
      background-color: black;
      color: white;
    }
  }
  .modalTitle {
    margin-top: 24px;
    margin-bottom: 24px;
    text-align: center;
    font-family: Noto Sans JP;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 28px;
  }
  .subtitle {
    margin-bottom: 24px;
    font-family: Noto Sans JP;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    color: white;
  }
  .isLiked {
    fill: $red !important;
    stroke: $red !important;
    path {
      fill: $red !important;
    }
  }
  .modalSelect {
    box-sizing: border-box;
    border-radius: 5px;
    font-size: $text4;
    padding: 0;
    width: 100%;
    margin-bottom: 15px;
  }
  .modalTexarea {
    min-height: 198px;
    border: 1px solid $primaryDark;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 12px;
  }
  .hugeButton {
    width: 240px;
    height: 60px;
    margin: 20px auto;
  }
  .titleWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .desc {
    margin-top: 24px;
    font-family: Noto Sans JP;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
  }
  .anticon {
    padding: 4px;
    background: #7b65f3;
    border-radius: 50%;
    color: white;
  }
  .logo {
    display: flex;
    align-items: center;
    span {
      width: 54px;
      height: 54px;
      margin-right: 20px !important;
    }
    h2 {
      margin-bottom: 0;
    }
    img {
      border-radius: 54px;
      object-fit: cover;
    }
  }
  .info {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    @include media-sm {
      margin-top: 40px;
    }
    .share {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      svg {
        cursor: pointer;
      }
      .spin {
        margin-right: 10px;
      }
    }
    .like {
      margin-right: 10px;
      font-weight: bold;
      font-size: 22px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      color: white;
      span {
        margin-bottom: 3px;
      }
      svg {
        margin-left: 8px;
        fill: transparent;
        stroke: $black;
        stroke-width: 1px;
        stroke-linejoin: round;
        path {
          fill: white;
        }
      }
    }
  }
  .iconShare{
    path{
      fill: white;
    }
  }
  .close {
    width: 30px;
    height: 30px;
    margin-top: 20px;
    margin-right: 20px;
    background-color: #58575d;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      width: 12px;
      height: 12px;
      path {
        fill: #a4a3aa;
      }
    }
    &:hover {
      background-color: #86858b;
      svg {
        path {
          fill: #f5f5f7;
        }
      }
    }
  }
  .imgDef {
    max-height: calc(100vh - 290px);
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 10px;
    }
  
    &::-webkit-scrollbar-track {
      background: #f1f1f1;
      border-radius: 10px;
    }
  
    &::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 10px;
    }
  
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
    .postVideo {
      width: 100%;
      height: 650px;
      border-radius: 5px;
      @include media-lg {
        height: 550px;
      }
      @include media-sm {
        height: 400px;
      }
    }
    & > div {
      border-radius: 6px;
      & > img {
        object-fit: contain;
      }
    }
  }
  .containerPhoto {
    display: flex;
    flex-direction: column-reverse;
    .img {
      min-height: 0;
    }
  }
  video {
    width: 100%;
    height: 100%;
  }
}
.shareIcon {
  color: white;
  transform: rotate(90deg);
  margin-right: -3px;
}
