@import './styles/variables.scss';

html,
body {
  height: inherit !important;
}

.body_remove_scroll {
  overflow: hidden !important;
  height: 100vh !important;
}

.ant-layout-content {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.ant-tabs-content-holder {
  padding: 15px 0;
  @include media-sm {
    padding: 15px 30px;
  }
}
.profile-content {
  .ant-tabs-content-holder {
    padding: 15px 25px;
  }
  .ant-tabs-nav {
    padding: 0px 25px;
  }
}

.ant-modal-mask {
  background-color: rgba(0, 0, 0, 0.85);
}
.ant-tabs-nav {
  .ant-tabs-tab {
    padding: 35px 0;
    font-family: $fontFamilyNatoSans, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: $text3;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    color: $black;
    &:hover {
      color: $primaryDark;
    }
    @include media-sm {
      font-size: $text5;
      padding: 25px 0;
    }
    .ant-tabs-tab-btn {
      &:focus {
        outline: none !important;
        border: 0;
      }
    }
  }
  .ant-tabs-tab-active {
    .ant-tabs-tab-btn {
      color: $primaryDark !important;
    }
  }
  .ant-tabs-ink-bar {
    background-color: $primaryDark;
    // height: 7px !important;
    border-radius: 20px;
  }
}

.story_page {
  .storyBoardTabs .ant-tabs-nav {
    .ant-tabs-ink-bar {
      background-color: $primaryDark;
      border-radius: 20px;
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
    }
  }
}

.galere_modal {
  top: 0px !important;
  height: 100vh;
  margin: 0 auto !important;
  overflow: hidden !important;
  div {
    background-color: transparent !important;
    border: none !important;
  }
  .ant-modal-title {
    color: $text_white !important;
  }
  .ant-modal-close {
    svg {
      height: $text3;
      width: $text3;
      font-size: $text3;
      fill: $white;
      path {
        fill: $white;
      }
    }
    &:hover {
      svg {
        fill: $text_white;
        path {
          fill: $text_white;
        }
      }
    }
  }

  .ant-modal-body {
    padding: 0 10px;
  }
  .image-gallery-play-button,
  .image-gallery-thumbnails,
  .image-gallery-fullscreen-button,
  .image-gallery-index {
    display: none !important;
  }
  .image-gallery-image {
    padding-top: 25px;
  }
  .image-gallery-slide-wrapper {
    height: 100vh;
  }
  .image-gallery-swipe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
}

.primary_upload {
  .ant-upload-list-picture-card-container,
  .ant-upload-list-item,
  .ant-upload {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='20' ry='20' stroke='%23333' stroke-width='1' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    background-size: cover;
    width: 100% !important;
    height: 411px !important;
    max-height: 411px !important;
    max-width: 602px !important;
    background-color: inherit !important;
    border: none !important;
    .ant-upload-list-item-error {
      border: 1px solid #ff4d4f !important;
      background-image: none !important;
    }
    @include media-sm {
      height: 331px !important;
    }
    &:hover {
      background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='20' ry='20' stroke='%237B65F3FF' stroke-width='1' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
      .desc {
        svg {
          path {
            fill-opacity: 1;
          }
        }
      }
      h4 {
        color: $black;
      }
    }
  }
}

.ant-switch-checked {
  background-color: $primaryDark !important;
}

.ant-switch-handle:before {
  right: -1px !important;
  left: 1px !important;
  background-color: $grayBG !important;
  border-radius: 30px !important;
}
.ant-switch {
  min-width: 48px !important;
  height: 27px !important;
  line-height: 27px !important;
}

.ant-switch-checked .ant-switch-handle {
  left: calc(100% - 24px) !important;
}

.ant-switch-handle {
  top: 3px !important;
  left: 2px !important;
  width: 20px !important;
  height: 20px !important;
}

.modal_succses {
  max-width: 1040px !important;
  border-radius: 10px !important;
  .ant-modal-close-x {
    width: initial !important;
    height: initial !important;
    margin-top: 31px !important;
    margin-right: 31px !important;
  }
  .close_succsess_modal {
    margin-right: 0 !important;
    background-color: $primaryDark;
    border-radius: 50px;
    width: 39px;
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .anima {
    position: absolute;
    top: -70px;
    img {
      margin: 0 !important;
      display: inline-block;
      width: 49%;
      min-height: 45vh;
    }

    opacity: 0;
    -webkit-animation: anima 8s ease-out;
    -moz-animation: anima 8s ease-out;
    -o-animation: anima 8s ease-out;
    animation: anima 8s ease-out;

    @keyframes anima {
      0% {
        display: none;
        opacity: 1;
      }

      50% {
        display: block;
        opacity: 1;
      }

      100% {
        display: block;
        opacity: 0;
      }
    }
  }
  .content {
    text-align: center;
    img {
      margin: 90px auto 0 auto;
    }
    button {
      margin: 40px auto;
    }
  }
  .mobile-btn {
    display: none;
  }
  .dek-btn {
    display: block;
  }
  @include media-sm {
    .mobile-btn {
      display: block;
    }
    .dek-btn {
      display: none;
    }
    .ant-modal-content {
      box-shadow: none;
    }
    .ant-modal-close {
      left: 50%;
      transform: translate(-50%, 0px);
    }
    .ant-modal-close-x {
      margin-top: 0px !important;
      margin-right: 0px !important;
    }
    .close_succsess_modal {
      width: 45px;
      height: 45px;
      svg {
        width: 21px;
        height: 21px;
      }
    }
    .content button {
      margin: 10px auto 40px auto !important;
    }
  }
}

@include media-sm {
  .mobile_full_content {
    max-width: 100%;
  }

  .mobile_top_round {
    border-top-left-radius: 60px !important;
    border-top-right-radius: 60px !important;
  }

  .mobile_linear {
    border: 0 !important;
    box-shadow: 0px -5px 10px rgb(0 0 0 / 7%) !important;
  }
}
