@import './styles/variables.scss';

.ant-layout-content {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.ant-tabs-content-holder {
  padding: 15px 25px;
  @include media-sm {
    padding: 15px 30px;
  }
}

.ant-tabs-nav {
  padding: 0px 25px;
  .ant-tabs-tab {
    padding: 35px 0;
    font-family: $fontFamilyNatoSans, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: $text3;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    color: $black;
    &:hover {
      color: $primaryDark;
    }
    @include media-sm {
      font-size: $text5;
      padding: 25px 0;
    }
    .ant-tabs-tab-btn {
      &:focus {
        outline: none !important;
        border: 0;
      }
    }
  }
  .ant-tabs-tab-active {
    .ant-tabs-tab-btn {
      color: $primaryDark;
    }
  }
  .ant-tabs-ink-bar {
    background-color: $primaryDark;
    height: 7px !important;
    border-radius: 20px;
  }
}

@include media-sm {
  .mobile_full_content {
    max-width: 100%;
  }

  .mobile_top_round {
    border-top-left-radius: 60px !important;
    border-top-right-radius: 60px !important;
  }

  .mobile_linear {
    border: 0 !important;
    box-shadow: 0px -5px 10px rgb(0 0 0 / 7%) !important;
  }
}
