@import '../../styles/variables.scss';

.comming_page {
  // padding: 139px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  .page_inner {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  img {
    max-width: 290px;
  }
  .page_title {
    font-size: 30px;
    line-height: normal;
    font-family: Noto Sans JP;
    font-style: normal;
    font-weight: bold;
    color: $black;
    padding-top: 40px;
  }
  .page_description {
    font-size: 20px;
    line-height: 30px;
    font-family: Noto Sans JP;
    font-style: normal;
    font-weight: normal;
    color: $black;
    padding-top: 20px;
    text-align: center;
  }
  button {
    margin-top: 40px;
    width: 270px;
    height: 70px;
    font-size: 20px;
    line-height: auto;
  }
  @media (max-width: 991px) {
    // padding: 129px 0 0;
    .page_inner {
      padding: 120px 20px 100px;
    }
  }
  @media (max-width: 991px) {
    img {
      max-width: 260px;
    }
    .page_inner {
      padding: 100px 20px 100px;
    }
  }
  @media (max-width: 767px) {
    //    padding: 72px 0 0;

    .page_inner {
      padding: 80px 20px 100px;
    }
  }
  @media (max-width: 575px) {
    img {
      max-width: 240px;
    }
    .page_inner {
      padding: 60px 20px 90px;
    }
  }
  @media (max-width: 479px) {
    img {
      max-width: 210px;
    }
    .page_inner {
      padding: 30px 20px 80px;
    }
    .page_title {
      line-height: 35px;
    }
    .page_description {
      line-height: 25px;
    }
    button {
      width: 300px;
      height: 80px;
    }
  }
}
