@import '../../../../styles/variables.scss';

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 16px;
  min-height: 88px;
  background: #fff;
  padding: 16px;
  box-shadow: 0 4px 16px rgb(0 0 0 / 8%);
  scroll-snap-align: start;
  margin-bottom: 24px;
  @media (max-width: 767px) {
    margin-bottom: 10px;
  }
  &:last-child {
    margin-bottom: 15px;
  }
  &Top {
    display: flex;
  }
  &NumberCount {
    color: #33ccc6;
    font-size: 17px;
    margin-right: 8px;
    font-weight: 700;
  }
  &Theme {
    font-size: 13px;
    border-radius: 1000px;
    width: 100px;
    height: 24px;
    display: flex;
    padding-left: 8px;
    padding-right: 8px;
    display: flex;
    align-items: center;
    background-color: #f9f9f9;
    &Dot {
      display: inline-block;
      width: 6px;
      height: 6px;
      background: #595959;
      border-radius: 10px;
      margin: 0 4px 0 0;
      background-color: #33ccc6;
    }
  }
  &Descr {
    color: #595959;
    line-height: 1.25rem;
    font-size: 15px;
    margin-top: 16px;
  }
  &Button {
    width: 110px;
    height: 32px;
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #7b65f3;
    border: 1px solid #9a87fe;
    box-sizing: border-box;
    border-radius: 5px;
    color: #fff;
  }
}
