@import '../../../../styles/variables.scss';

.containerPublish {
  height: 100%;
  padding: 20px;
  .linksContainer {
    border: 1px solid $gray85;
    max-width: 1000px;
    border-radius: 10px;
    padding: 30px 20px;
    h3 {
      font-style: normal;
      font-weight: bold;
      font-size: 28px;
      line-height: 32px;
      color: $black;
      margin: 0;
      margin-bottom: 35px;
    }
    .shareContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include media-sm {
        flex-direction: column;
        align-items: start;
      }
      & > a {
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 29px;
        color: $black;
        text-decoration-line: underline;
        &:hover {
          color: $primaryDark;
        }
        @include media-sm {
          font-size: 16px;
        }
      }
      .share {
        justify-content: start;
        align-items: initial;
        ul {
          flex-wrap: wrap;
          li {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            margin-right: 15px;
          }
        }
      }
    }
  }
  .publishedMessage{
    margin-bottom: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: $text3;
    line-height: 24px;
    color: $primaryDark;
    @include media-sm{
      font-size: $text4;
    }
  }
  .postManga{
    pointer-events: none;
    opacity: 0.5;
  }
  .copyView {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    .viewUrl {
      width: 100%;
      height: 44px;
      border-radius: 5px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      background-color: white;
      border: 1px solid $primaryDark;
      border-right: none;
      color: $black;
      padding-left: 13px;
      cursor: pointer;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      word-break: break-all;
      -webkit-box-orient: vertical;
      line-height: 41px;
      overflow: hidden;
    }
    .copy {
      width: 40px;
      height: 44px;
      border: 1px solid $primaryDark;
      border-left: none;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      path {
        fill: $gray85;
      }
    }
  }
  .guide {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1000px;
    margin-top: 50px;
    margin-bottom: 20px;
    & > a {
      width: 300px;
      height: 130px;
      border-radius: 10px;
      padding: 10px;
      border: 1px solid $gray85;
      margin-bottom: 10px;
      &:hover {
        background-color: $secondaryLight;
        & > h4,
        & > p {
          color: white;
        }
      }
      @include media-sm {
        width: 100%;
      }
      & > h4 {
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 32px;
        color: $black;
        @include media-sm {
          font-size: 20px;
        }
      }
      & > p {
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 26px;
        color: $gray85;
        @include media-sm {
          font-size: 16px;
        }
      }
    }
  }
}
