@import '../../../../../styles/variables.scss';

.subtitle {
  color: $black;
  font-size: $text2;
  font-weight: 900;
  font-size: 25px;
  line-height: 36px;
  display: flex;
  justify-content: space-between;
  width: 95%;
  .delete {
    color: $grey;
    cursor: pointer;
    &:hover {
      color: black;
      text-decoration: underline;
    }
  }
  &:last-of-type {
    padding-top: 12.5px;
    border-top: 2px solid rgba(33, 33, 33, 0.07);
  }
  @include media-sm {
    font-size: $text4;
  }
}
.accepted_message {
  opacity: 0.6;
  &:hover {
    opacity: 1;
  }
}
.messageList,
.messenger {
  padding-bottom: 15px;
  max-height: 370px;
  min-height: 370px;
  overflow-y: auto;
  @include media-sm {
    max-height: 284px;
    min-height: 284px;
  }
  &::-webkit-scrollbar {
    height: 3px;
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px $black;
    background-color: $black;
    border-radius: 0;
  }

  &::-webkit-scrollbar-thumb {
    background: $primaryDark;
    border-radius: 0px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $primaryDark;
  }
  .card {
    display: inline-block;
    margin-right: 16px;
  }
}
.messageList {
  padding-top: 16px;
  background-image: url('../../../../../public/img/chatBG.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom right;
}
.userName {
  padding: 15px 20px 15px 20px;
  font-style: normal;
  font-weight: 900;
  font-size: $text3;
  line-height: 30px;
  color: $black;
  display: flex;
  justify-content: space-between;

  @include media-sm {
    padding: 10px 10px 10px 10px;
    font-size: $text4;
    line-height: 26px;
  }
}
.name {
  padding: 0;
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-bottom: -5px;

  .div_button {
    width: 46px;
    display: inline-flex;
    justify-content: space-between;
    margin-right: 10px;
    .buttonsProfile_cancel {
      background: none;
      padding: 0;
      border: none;
      width: 20px;
      height: 20px;
      background-image: url('/img/btn-deleate.svg');
      background-size: cover;
      background-repeat: no-repeat;
      min-width: 20px;
      min-height: 20px;
      margin-right: 0;
      &:hover {
        background: none !important;
        border: none !important;
        box-shadow: none !important;
        background-image: url('/img/btn-deleate.svg') !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        width: 20px;
        height: 20px;
        min-width: 20px;
        min-height: 20px;
      }
      span {
        display: none;
      }
    }
    .buttonsProfile_save {
      background: none;
      padding: 0;
      border: none;
      width: 20px;
      height: 20px;
      min-width: auto;
      min-height: auto;
      box-shadow: none;
      border-radius: 50%;
      position: relative;
      margin-left: 10px;
      &:before {
        content: '';
        position: absolute;
        display: block;
        left: 3px;
        top: 0;
        width: 20px;
        height: 20px;
        background-color: #fec447;
        border-radius: 50%;
        opacity: 0.7;
      }
      &:hover {
        border: none !important;
      }
      span {
        font-size: 0;
        position: relative;
        z-index: 3;
        left: 0;
        top: 0;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #7b65f3;
        display: flex;
        align-items: center;
        justify-content: center;
        &:before {
          content: 'aaa';
          width: 10px;
          height: 8px;
          background-image: url('/img/confim-arr.svg');
          position: absolute;
          background-size: cover;
          background-repeat: no-repeat;
          display: block;
        }
      }
    }
  }
  span {
    font-size: $text6;
  }
}

.message_community {
  position: relative;
  border-top: 2px solid rgba(33, 33, 33, 0.07);
  padding: 15px 20px 15px 20px;
  background-color: $primaryBG;
  width: 95%;
  display: flex;
  align-items: center;
  &:hover {
    cursor: pointer;
  }
  .mess_content {
    width: 100%;
  }
  .title_block {
    display: flex;
    .avatar {
      border-radius: 100px;
      width: 104px;
      height: 104px;
      @include media-sm {
        width: 51px;
        height: 51px;
      }
    }
    .avatarName {
      @include media-sm {
        font-size: 20px !important;
        width: 51px !important;
        height: 51px !important;
      }
    }
    img {
      border-radius: 100px;
      width: 104px;
      height: 104px;
      @include media-sm {
        width: 51px;
        height: 51px;
      }
    }
  }
  .name_special {
    width: calc(100% - 200px);
    margin-left: 14px;
    h4 {
      font-size: $text3;
      line-height: 20px;
      margin-bottom: 0px;
      font-weight: 900;
    }
    p {
      margin-bottom: 15px;
      font-size: $text4;
    }
    @include media-sm {
      width: 100%;
      div {
        width: calc(100% - 70px);
      }
      h4 {
        font-size: $text4;
        line-height: 15px;
      }
      p {
        font-size: $text5;
        margin-top: 4px;
        line-height: 1.2;
      }
    }
  }
  .messages {
    font-size: $text4;
    color: $grey;
    line-height: 20px;
    margin-bottom: 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    white-space: pre-wrap;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    @include media-sm {
      -webkit-line-clamp: 4;
    }
  }
  .div_button {
    width: 80px;
    display: flex;
    justify-content: space-between;
    @include media-sm {
      position: absolute;
      width: 60px;
      top: 15px;
      right: 0;
    }
  }
}

.chatContainer {
  width: 100%;
  .chatBlock2 {
    margin-top: 20px;
    margin-bottom: 10px;
    border-top: 1px solid $white;
    position: relative;
    width: 100%;
    input {
      width: calc(100% - 140px);
      padding-top: 20px;
      border: none !important;
      &:focus {
        outline: none !important;
        box-shadow: none !important;
      }
    }
  }
  .sendMessage {
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 10px;
    button {
      font-size: $text4;
      height: 46px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      margin-left: 10px;
      padding: 0 25px;
    }
  }
}

.goBack {
  cursor: pointer;
  font-size: 27px;
  &:hover {
    color: $primaryDark;
  }
}

.request_status_acp {
  max-width: 100px;
  margin-top: 0px;
  padding: 0px 5px;
  border-radius: 50px;
  border: 1px solid #6fd257;
  color: #6fd257;
  margin-left: auto;
}

.request_status_rej {
  max-width: 100px;
  margin-top: 0px;
  padding: 0px 5px;
  border-radius: 50px;
  border: 1px solid #dc3545;
  color: #dc3545;
  margin-left: auto;
}
.messText {
  font-family: Noto Sans JP;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 13px;
  margin-bottom: 15px;
}

.statusContainer {
  display: flex;
  justify-content: space-between;
  min-width: 160px;
  text-align: center;
  align-items: center;
  position: relative;
  z-index: 2;
}

.mangaTitle {
  font-weight: bold;
  font-size: 15px;
  line-height: 13px;
  margin-bottom: 10px;
}
