@import '../../../../../styles/variables.scss';

.subtitle {
  color: $black;
  font-size: $text2;
  font-weight: 900;
  font-size: 25px;
  line-height: 36px;
  display: flex;
  justify-content: space-between;
  width: 95%;
  .delete {
    color: $grey;
    cursor: pointer;
    &:hover {
      color: black;
      text-decoration: underline;
    }
  }
  &:last-of-type {
    padding-top: 12.5px;
    border-top: 2px solid rgba(33, 33, 33, 0.07);
  }
  @include media-sm {
    font-size: $text4;
  }
}
.accepted_message {
  opacity: 0.6;
  &:hover {
    opacity: 1;
  }
}
.messageList,
.messenger {
  padding-bottom: 15px;
  max-height: 504px;
  min-height: 504px;
  overflow-y: auto;
  @include media-sm {
    max-height: 490px;
    min-height: 370px;
  }

  &::-webkit-scrollbar {
    height: 3px;
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px $black;
    background-color: $black;
    border-radius: 0;
  }

  &::-webkit-scrollbar-thumb {
    background: $primaryDark;
    border-radius: 0px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $primaryDark;
  }
  .card {
    display: inline-block;
    margin-right: 16px;
  }
}
.messageList {
  padding-top: 26px;
  white-space: pre-wrap;
  margin: 0;
  word-wrap: break-word;
  .message_list {
    min-height: 100%;
    & > div > div > div {
      max-width: 283px;
      min-width: 203px;
      font-weight: normal;
      font-size: 10px;
      line-height: 13px;
      color: #949494;
      margin-left: 40px;
      padding-bottom: 20px !important;
      padding-top: 16px !important;
      padding-left: 12px !important;
      box-sizing: border-box;
      box-shadow: none;
      margin-top: 0;
      @include media-sm {
        max-width: 203px;
        margin-left: 20px;
      }
      svg {
        filter: none;
      }
      & > div > div::before {
        font-weight: normal;
        font-size: 10px;
        line-height: 14px;
        color: #8b78f4;
      }
      & > div > div {
        bottom: 0;
        & > div {
          left: -75px;
        }
      }
    }
  }
}
.name {
  padding: 0;
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-bottom: -5px;

  .div_button {
    width: 46px;
    display: inline-flex;
    justify-content: space-between;
    margin-right: 10px;
    .buttonsProfile_cancel {
      background: none;
      padding: 0;
      border: none;
      width: 20px;
      height: 20px;
      background-image: url('/img/btn-deleate.svg');
      background-size: cover;
      background-repeat: no-repeat;
      min-width: 20px;
      min-height: 20px;
      margin-right: 0;
      &:hover {
        background: none !important;
        border: none !important;
        box-shadow: none !important;
        background-image: url('/img/btn-deleate.svg') !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        width: 20px;
        height: 20px;
        min-width: 20px;
        min-height: 20px;
      }
      span {
        display: none;
      }
    }
    .buttonsProfile_save {
      background: none;
      padding: 0;
      border: none;
      width: 20px;
      height: 20px;
      min-width: auto;
      min-height: auto;
      box-shadow: none;
      border-radius: 50%;
      position: relative;
      margin-left: 10px;
      &:before {
        content: '';
        position: absolute;
        display: block;
        left: 3px;
        top: 0;
        width: 20px;
        height: 20px;
        background-color: #fec447;
        border-radius: 50%;
        opacity: 0.7;
      }
      &:hover {
        border: none !important;
      }
      span {
        font-size: 0;
        position: relative;
        z-index: 3;
        left: 0;
        top: 0;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #7b65f3;
        display: flex;
        align-items: center;
        justify-content: center;
        &:before {
          content: 'aaa';
          width: 10px;
          height: 8px;
          background-image: url('/img/confim-arr.svg');
          position: absolute;
          background-size: cover;
          background-repeat: no-repeat;
          display: block;
        }
      }
    }
  }
  span {
    font-size: 12px;
  }
}

.message_community {
  position: relative;
  border-bottom: 1px solid rgba(33, 33, 33, 0.07);
  padding: 15px 20px 15px 20px;
  background-color: $primaryBG;
  width: 95%;
  display: flex;
  align-items: center;
  &:hover {
    cursor: pointer;
  }
  .mess_content {
    width: 100%;
  }
  .messages {
    font-size: $text4;
    color: $grey;
    line-height: 20px;
    margin-bottom: 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    white-space: pre-wrap;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    @include media-sm {
      -webkit-line-clamp: 4;
    }
  }
  .div_button {
    width: 80px;
    display: flex;
    justify-content: space-between;
    @include media-sm {
      position: absolute;
      width: 60px;
      top: 15px;
      right: 0;
    }
  }
}

.chatContainer {
  width: 100%;
  position: relative;
  .chatBlock2 {
    border-top: 1px solid $white;
    position: relative;
    width: 100%;
    display: flex;
    margin-bottom: 10px;
    background-color: white;
    @include media-sm {
      left: 0;
      flex-direction: column;
    }
    .messageInput {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include media-sm {
        border-bottom: 1px solid rgba(33, 33, 33, 0.07);
      }
      textarea {
        padding: 0;
        margin-left: 30px;
        border: none !important;
        background-color: transparent !important;
        box-shadow: none;
        resize: none;
        &:focus {
          outline: none !important;
          box-shadow: none !important;
        }
        &::placeholder {
          font-weight: normal;
          font-size: 16px;
          line-height: 20px;
          color: $gray85;
        }
        @include media-lg {
          width: 100%;
        }
        @include media-sm {
          margin: 20px 28px 17px 28px;
        }
      }
      .messageError {
        color: $red;
        font-size: 11px;
        font-family: monospace;
        position: absolute;
        bottom: -3px;
        margin: 0;
        @include media-sm {
          left: 28px;
          bottom: 87px;
        }
      }
      .notError {
        display: none;
      }
      // img{
      //   width: 21px;
      //   height: 21px;
      //   margin-right: 31px;
      // }
    }
  }
  .sendMessage {
    cursor: pointer;
    margin-top: 13px;
    margin-bottom: 13px;
    margin-right: 10px;
    @include media-lg() {
      position: unset;
      display: flex;
      justify-content: flex-end;
    }
    @include media-sm {
      margin-bottom: 20px;
      margin-top: 10px;
    }
    button {
      font-weight: bold;
      font-size: 15px;
      line-height: 22px;
      height: 46px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      margin-left: 10px;
      padding: 0 25px;
      @include media-md {
        font-size: 12px;
      }
      @include media-sm {
        font-size: 14px;
      }
    }
    .inviteButton {
      width: 125px;
      @include media-md {
        width: 75px;
      }
      @include media-sm {
        width: 125px;
      }
    }
    .sendButton {
      width: 158px;
      @include media-md {
        width: 95px;
      }
      @include media-sm {
        width: 158px;
      }
    }
  }
}

.goBack {
  cursor: pointer;
  font-size: 27px;
  &:hover {
    color: $primaryDark;
  }
}

.request_status_acp {
  max-width: 100px;
  margin-top: 0px;
  padding: 0px 5px;
  border-radius: 50px;
  border: 1px solid #6fd257;
  color: #6fd257;
  margin-left: auto;
}

.request_status_rej {
  max-width: 100px;
  margin-top: 0px;
  padding: 0px 5px;
  border-radius: 50px;
  border: 1px solid $red;
  color: $red;
  margin-left: auto;
}

.messText {
  width: 226px;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 15px;
  color: #949494;
  a {
    cursor: pointer;
    font-weight: lighter;
    color: #0358a6;
    font-weight: lighter;
    &:hover {
      text-decoration: underline;
    }
  }
  @include media-sm {
    width: 173px;
    font-size: 14px;
  }
}

.unreadMessage{
  font-weight: bold;
  color: #565656;
}
.statusContainer {
  display: flex;
  justify-content: space-between;
  min-width: 160px;
  text-align: center;
  align-items: center;
  position: relative;
  z-index: 2;
}

.mangaTitle {
  font-weight: bold;
  font-size: 15px;
  line-height: 13px;
  margin-bottom: 10px;
}

// .participentsContent {
//   min-width: 150px;
//   margin-top: -16px;
//   >div{
//     width: calc( 100% + 32px);
//     margin-left: -16px;
//     border-top: 2px solid rgba(33, 33, 33, 0.07);
//     padding: 10px 15px;
//     &:hover{
//       background-color: aliceblue;
//     }
//   }
//   .participentName {
//     width: 100%;
//     display: flex;
//     align-items: center;
//     div {
//       margin: 0;
//     }
//     img {
//       min-width: 50px;
//       min-height: 50px;
//       max-width: 50px;
//       max-height: 50px;
//       border-radius: 50%;
//     }
//     .info {
//       padding-left: 10px;
//       p {
//         margin-bottom: 0;
//         font-size: $text4;
//         color: $grey;
//       }
//       h2 {
//         margin-bottom: 0px;
//         font-size: $text3;
//       }
//     }
//   }
// }
