@import '../../styles/variables.scss';

.hidden {
  overflow: hidden;
}
.colabCards {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
}

.colabWrap {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -45px;
  @media (max-width: 991px) {
    justify-content: center;
  }
}

.PostColab {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: calc(25% - 30px);
  min-height: 296px;
  background: #ffffff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  padding: 15px;
  margin: 0 15px;
  margin-bottom: 31px;
  transition: 0.5s;
  position: relative;
  @media (max-width: 1299px) {
    width: calc(33.3% - 30px);
  }
  @media (max-width: 991px) {
    width: 325px;
  }
  @media (max-width: 767px) {
    width: calc(50% - 30px);
  }
  @media (max-width: 675px) {
    width: 325px;
    margin: 0 auto;
    margin-bottom: 15px;
  }
  &__item {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fafafa;
  }
  &__descr {
    color: $black;
    font-size: 20px;
    line-height: 25px;
    font-weight: 700;
    text-align: center;
    padding: 0 25px;
    margin-bottom: 19px;
  }
  &__btn {
    width: 112px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background: $primaryDark;
    border: 1px solid $primaryLight;
    font-weight: 900;
    color: #fff;
    font-size: 15px;
  }
}

.ButtonPurple {
  background-color: $primaryDark;
}
.ButtonOrangeDark {
  background-color: $orangeDark;
}
.ButtonSecondaryDark {
  background-color: $secondaryDark;
}

.pagination {
  width: 100%;
  text-align: center;
  margin-bottom: 100px;
  margin-top: 70px;
}
