@import '../../styles/variables.scss';

.login_footer {
  margin-top: 60px;
  padding: 80px 40px 20px 40px;
  background-color: $grayBG;
  padding-top: 47px;
  text-align: center;
  font-size: $text4;
  p {
    color: $grey;
    margin: 0;
  }
  a {
    display: inline-block;
    color: $primaryDark;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 20px;
  }
  border-bottom: 2px solid rgba(33, 33, 33, 0.07);
}
