@import '../../../styles/variables.scss';

.story_card {
  width: 242px;
  display: inline-table;
  margin-right: 30px;
  text-align: center;
  white-space: break-spaces;
  position: relative;
  cursor: pointer;
  @include media-sm {
    width: auto;
  }
  .checked {
    position: absolute;
    right: 14px;
    top: 16px;
  }
  .download {
    width: 100%;
    font-size: $text4;
    @include media-sm {
      padding: 7px;
    }
  }

  .img {
    width: 100%;
    height: 320px;
    border-radius: 10px;
    border: 1px solid rgba(243, 243, 243, 1);
    padding: 12px 7px 12px 7px;
    object-fit: cover;
    margin-bottom: 25px;
    @include media-sm {
      height: 200px;
    }
    img {
      height: 100%;
      opacity: 0.2;
      @include media-sm {
        margin-bottom: 10px;
      }
    }
    &:hover {
      img {
        box-shadow: 0px 5px 20px 0px rgba(123, 101, 243, 0.59);
        opacity: 0.8;
      }
    }
  }
  .title {
    font-size: $text3;
    color: $grey;
    @include media-sm {
      margin-bottom: 0;
    }
  }
  .description {
    display: -webkit-box;
    -webkit-line-clamp: 7;
    white-space: pre-wrap;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: $text5;
    color: #cfcfcf;
  }
}

.active {
  .img {
    img {
      opacity: 1 !important;
      box-shadow: 0px 5px 20px 0px rgba(123, 101, 243, 0.59);
    }
  }
}
