@import '../../../styles/variables.scss';

$borderColor: rgb(233, 232, 232);

.container {
  max-width: 1485px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  overflow-x: auto;
  padding: 0 15px;
  @include media-md {
    margin-top: 30px;
    margin-bottom: 0px;
  }
  .card_wrap {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    & > h2 {
      font-weight: bold;
      color: $black;
      margin-bottom: 20px;
    }
    @include media-sm {
      padding: 5px 10px;
    }
    @include media-xs {
      padding: 0;
    }
    &::-webkit-scrollbar {
      height: 2px;
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 2px white;
      background-color: white;
      border-radius: 0;
    }

    &::-webkit-scrollbar-thumb {
      background: $primaryDark;
      border-radius: 0px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: $primaryDark;
    }

    .cont {
      display: flex;
      flex-direction: column;
      @include media-xs {
        padding-bottom: 10px;
        box-sizing: border-box;
      }
    }
  }

  @keyframes shine-avatar {
    0% {
      background-position: -100px + 68;
    }
    40% {
      background-position: 140px + 68;
    }
    100% {
      background-position: 140px + 68;
    }
  }

  .item {
    overflow: hidden;
    position: relative;
    animation: shine-avatar 0.5s infinite ease-out;
    background-image: linear-gradient(90deg, #a5a3a3 0px, rgb(133 132 132 / 80%) 40%, #a5a3a3 60%);
    background-size: 900px;
    cursor: pointer;
    z-index: 5;
    & > span {
      &:nth-child(2) {
        display: none;
        @include media-md {
          display: flex;
        }
      }
    }
    @media (min-width: 991px) {
      &:hover {
        img {
          filter: grayscale(0%);
          transform: scale(1);
        }
        & > span {
          svg {
            width: 20px;
            height: 20px;
            margin-left: 5px;
            cursor: pointer;
            &:hover {
              & > path {
                fill: #bbb7b8;
              }
            }
          }
          @include media-md {
            svg,
            a {
              display: none;
            }
          }
          &:nth-child(2) {
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 10px;
            color: white;
            position: absolute;
            top: 0;
            z-index: 20;
            &:hover {
              p:first-child {
                border-bottom: 1px solid white;
              }
            }
            & > a {
              p {
                height: auto;
                margin: 0;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                overflow: hidden;
                white-space: pre-wrap;
                -webkit-box-orient: vertical;
                color: white;
                &:last-child {
                  font-size: 12px;
                }
              }
            }
            & > span {
              width: 40px;
              display: flex;
              justify-content: space-between;
              align-items: center;
              @include media-md {
                display: none;
              }
            }
          }
        }
        .opacity {
          width: 100%;
          height: 100%;
          position: absolute;
          background-color: black;
          opacity: 0.4;
          z-index: 10;
          left: 0;
          top: 0;
          border-radius: 4px;
          @include media-md {
            display: none;
          }
        }
      }
      & > div {
        height: 100%;
        img {
          transition: transform 1s ease-in-out;
          transform: scale(1.1);
          object-fit: cover;
          filter: grayscale(90%);
          border-radius: 4px;
        }
      }
    }
  }
  .itemForPNG {
    & > div img{
      background-color: $black;
    }
  }
  .description {
    height: 100%;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    p {
      margin: 0;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      white-space: pre-wrap;
      -webkit-box-orient: vertical;
    }
    .name {
      font-weight: bold;
      color: $black;
    }
    .likeContainer {
      width: 40px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: bold;
      color: $black;
    }
  }

  .imagesForDesktop {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, max(12vh, 12vw));
    grid-auto-flow: dense;
    grid-gap: 5px;
    background-color: #3b3b3b;
    padding: 5px;
    border-radius: 6px;
    & > .item {
      border-radius: 4px;
      & > div {
        position: initial !important;
        width: 100%;
      }
      &:nth-child(1), 
      &:nth-child(4),
      &:nth-child(6),
      &:nth-child(11),
      &:nth-child(16),
      &:nth-child(18)
      {
        grid-column: span 2;
      }
      &:nth-child(3),
      &:nth-child(8),
      &:nth-child(13),
      &:nth-child(17)
      {
        grid-row: span 2;
      }
    }
  }

  .imagesForMobile {
    display: none;
  }

  @include media-md {
    .imagesForDesktop {
      display: none;
    }
    .imagesForMobile {
      display: -webkit-box;
      .item {
        width: 220px;
        height: 290px;
        margin-right: 10px;
        object-fit: initial;
        background-image: initial;
        & > div {
          height: 220px;
          border-radius: 30px;
          img {
            object-fit: cover;
          }
        }
        &:last-child {
          margin-right: 0px;
        }
      }
    }
  }
}
